.container-fluid{ style: 'position:relative;', id: "coll_container_#{collection.id}" }
  - if collection
    = render partial: 'involved_authorities/list', locals: { item: collection, edit: false }
    .button_series
      .collection_action_btns
        - unless focused
          = link_to collection_path(collection.id), class: 'white' do
            .collection_focus_button.by-button-v02
              %b= '⤝'
    .collection.connectable.collapse.show{ id: "coll_#{collection.id}", style: 'min-height:40px' }
      - collection.collection_items.each do |ci|
        .collection_draggable_item{ id: "collitem_#{ci.id}" }
          .by-card-v02
            .draggable-content{ 'data-collection-id': (ci.item.instance_of?(Collection) ? ci.item_id : collection.id) }
              - if ci.paratext? # a paratext (with markdown)
                %b= "#{t(:paratext)}: "
                %span{ id: "ci_title_#{ci.id}" }= ci.alt_title
                %br
                .editable{ id: "editable_#{ci.id}" }
                  != MultiMarkdown.new(ci.markdown).to_html
              - elsif ci.item.nil? # a placeholder (no markdown)
                .editable{ id: "editable_#{ci.id}", style: 'margin-bottom: 10px;' }
                  %b= "#{t(:placeholder_item)}: "
                  %span{ id: "ci_title_#{ci.id}" }= ci.alt_title
              - elsif ci.item.instance_of?(Collection)
                .headline-2-v02
                  = "#{textify_collection_type(ci.item.collection_type)}: "
                  = collection_item_string(ci)
                  - if ci.item.collection_type == 'volume' && ci.item.publication.present?
                    %br
                    = "#{ci.item.publication.publisher_line} #{ci.item.publication.pub_year}"
                %div{ style: 'margin-right: 25px;' }
                  - if @colls_traversed.include?(ci.item.id)
                    %b= t(:collection_circular_reference)
                  - else
                    - @colls_traversed << ci.item.id
                    = render partial: 'collection', locals: { collection: ci.item, focused: false }
              - else
                .headline-3-v02
                  = t(:text)
                  \:
                  = link_to collection_item_string(ci), default_link_by_class(ci.item.class, ci.item.id)
