.row
  .col-sm-6
    = simple_form_for collection do |f|
      .form-inputs
        = f.error_notification
      = f.input :title
      = f.input :sort_title
      = f.input :subtitle
      = f.input :issn
      - unless collection.system?
        - types = Collection.collection_types.keys - Collection::SYSTEM_TYPES
        = f.input :collection_type,
                  collection: types.map { |ct| [textify_collection_type(ct), ct] }
      - else
        = f.input :collection_type do
          .form-control= collection.collection_type
      = f.input :inception
      = f.input :inception_year, as: :numeric
      = f.input :publication do
        = autocomplete_field_tag :publication_autocomplete,
                                 collection.publication&.title,
                                 autocomplete_publication_title_path,
                                 id_element: '#collection_publication_id',
                                 class: 'form-control',
                                 data: { noMatchesLabel: t(:no_matches_found) }
        = f.hidden_field :publication_id
      -#
        = f.input :toc
        = f.input :toc_strategy, collection: Collection.toc_strategies.keys
      .actions
        = f.submit t(:save)
  .col-sm-6.backend
    - unless collection.new_record? || collection.system?
      = render partial: 'involved_authorities/list', locals: { item: @collection, edit: true }
