%p#notice= notice

%p
  %b Description:
  = @lex_publication.description
%p
  %b Toc:
  = @lex_publication.toc
%p
  %b Az navbar:
  = @lex_publication.az_navbar

= link_to 'Edit', edit_lexicon_publication_path(@lex_publication)
\|
= link_to 'Back', lexicon_publications_path
