%h1 Listing collection_items

%table
  %thead
    %tr
      %th Collection
      %th Alt title
      %th Context
      %th Seqno
      %th Item
      %th
      %th
      %th

  %tbody
    - @collection_items.each do |collection_item|
      %tr
        %td= collection_item.collection
        %td= collection_item.alt_title
        %td= collection_item.context
        %td= collection_item.seqno
        %td= collection_item.item
        %td= link_to 'Show', collection_item
        %td= link_to 'Edit', edit_collection_item_path(collection_item)
        %td= link_to 'Destroy', collection_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Collection item', new_collection_item_path
