.top-element
  - if params[:status].nil?
    %h1= t(:all_recommendations)
  - else
    %h1= t(:recommendations_by_status, :status => params[:status])

  %table
    %tr
      %th= t(:rec_file)
      %th= t(:email)
      %th= t(:rec_when)
      %th= t(:status)
    - @recs.each do |p|
      %tr
        %td= link_to p.about, legacy_recommendation_path(p)
        %td= p.from
        %td= p.created_at
        %td= p.status

  %p
    = link_to t(:show_all_recommendations), legacy_recommendation_list_path(:status => nil)
  %p
    = link_to t(:show_open_recommendations), legacy_recommendation_list_path(:status => 'new')
  %p
    = link_to t(:purge_rejected_recommendations), legacy_recommendation_purge_path

  != paginate @recs

