.top-element
  #content.container-fluid
    .row
      .col-12.col-lg-8
        .by-card-v02
          .by-card-header-v02
            %span.headline-1-v02= @p.title
          .by-card-content-v02#static_page
            - if @p.ltr
              %div{dir:'ltr',align:'left'}
                != @markdown.gsub('<h2 ','<h2 style="direction:ltr;text-align:left" ').gsub('<h4 ','<h4 style="direction:ltr;text-align:left" ').gsub('<h3 ','<h3 style="direction:ltr;text-align:left" ')
            - else
              != @markdown
      .col-12.col-lg-4
:javascript
  $(document).ready(function(){
    if($('.contact_btn').length > 0 ) {
      $('.contact_btn').click(function(e) {
        e.stopPropagation();
        e.preventDefault();
        $('#contactDlg').html("<h2>#{t(:loading) }</h2>");
        $('#contactDlg').load("#{ welcome_contact_path }");
        $('#contactDlg').modal('show');
      });
    }
  });