= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t(:name)
    = f.text_field :name
  .field
    = f.label t(:dates)
    = f.text_field :dates
  .field
    = f.label t(:title)
    = f.text_field :title
  .field
    = f.label t(:other_designation)
    = f.text_field :other_designation
  .field
    = f.label t(:affiliation)
    = f.text_field :affiliation
  .field
    = f.label t(:country)
    = f.text_field :country
  .field
    = f.label t(:comment)
    = f.text_area :comment
  .field
    = f.label t(:viaf_id)
    = f.text_field :viaf_id
  .field
    = f.label t(:nli_id)
    = f.text_field :nli_id
  .field
    = f.label t(:current_image)
    = image_tag @person.profile_image.url(:thumb)
  .field
    = f.label t(:upload_new_image)
    = f.file_field :profile_image
  .actions
    = f.submit t(:save)
