= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :dates
    = f.text_field :dates
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :other_designation
    = f.text_field :other_designation
  .field
    = f.label :affiliation
    = f.text_field :affiliation
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :viaf_id
    = f.text_field :viaf_id
  .field
    = f.label :nli_id
    = f.text_field :nli_id
  .actions
    = f.submit 'Save'
