%h1= t(:list_people)

%table{cellspacing: '10'}
  %tr
    %th Name
    %th Dates
    %th Title
    %th Other designation
    %th Affiliation
    %th Country
    %th Comment
    %th Viaf
    %th Nli
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.dates
      %td= person.title
      %td= person.other_designation
      %td= person.affiliation
      %td= person.country
      %td= person.comment
      %td= person.viaf_id
      %td= person.nli_id
      %td= link_to t(:show), person
      %td= link_to t(:show_toc), author_toc_path(person)
      %td= link_to t(:edit), edit_person_path(person)
      %td= link_to t(:edit_toc), authors_edit_toc_path(person)
      %td= link_to t(:destroy), person, :method => :delete, :data => { :confirm => t(:are_you_sure) }


%br

= link_to 'New Person', new_person_path
%br
= paginate @people
