%p#notice= notice

%p
  %b= t(:name)
  = @person.name
%p
  %b= t(:dates)
  = @person.dates
%p
  %b= t(:title)
  = @person.title
%p
  %b= t(:other_designation)
  = @person.other_designation
%p
  %b= t(:affiliation)
  = @person.affiliation
%p
  %b= t(:country)
  = @person.country
%p
  %b= t(:comment)
  = @person.comment
%p
  %b= t(:viaf_id)
  = @person.viaf_id
%p
  %b= t(:nli_id)
  = @person.nli_id
%p
  = image_tag @person.profile_image.url(:thumb)

= link_to t(:edit), edit_person_path(@person)
\|
= link_to t(:back), people_path
