#content.container-fluid.search_results
  - if @total == -1
    %h1= t(:error)
    %p= @errmsg
  - else
    %h1= t(:search_results)
    %p= "#{t(:search_terms)}: #{@search.query}"
    %p= "#{t(:search_total)}: #{@total}"
    %p
    %ol
      - @results.each do |result|
        %li
          - attrs = result.attributes
          - if result.class == ManifestationsIndex
            %b= t(:work)
            %br
            %b= link_to attrs['title'], manifestation_read_path(attrs['id'])
            = " / #{attrs['author_string']}"
            = " (#{textify_genre(attrs['genre'])})"
            - unless result.tags.empty?
              %br
              %b= t(:tags)+':'
              - result.tags.each do |tag|
                %button.tag
                  = tag
            - unless result._data.nil? or result._data['highlight'].nil?
              %br
              != result._data['highlight']['fulltext'].join("<br />").gsub('<em>','<b>').gsub('</em>','</b>')
          - elsif result.class == PeopleIndex
            %b= t(:author)
            %br
            %b= link_to attrs['name'], author_toc_path(attrs['id'])
            - unless result.tags.empty?
              %br
              %b= t(:tags)+':'
              - result.tags.each do |tag|
                %button.tag
                  = tag
            %br
            %p= attrs['wikipedia_snippet']

    != paginate @results