%br
#content.container-fluid.search_results
  - if @total == -1
    %h1= t(:error)
    %p= @errmsg
  - else
    %h1= "#{t(:search_results)}: #{@search.query}"
    %h4= "#{t(:search_total)}: #{@total} #{t(:items)}"
    %p
    %ol{ start: @offset + 1 }
      - @results.each do |result|
        %li
          - attrs = result.attributes
          - if result.instance_of?(ManifestationsIndex)
            %b= t(:work)
            %br
            %b= link_to attrs['title'], manifestation_path(attrs['id'])
            = " / #{attrs['author_string']}"
            = " (#{textify_genre(attrs['genre'])})"
            - unless result.tags.empty?
              %br
              %div{style: 'line-height: 2.2;'}
                %b= t(:tags)+':'
                - result.tags.each do |tag|
                  %button.tag.pointer
                    = tag
            - unless result._data.nil? or result._data['highlight'].nil?
              %br
              != result._data['highlight']['fulltext'].join("<br />").gsub('<em>','<b>').gsub('</em>','</b>')
          - elsif result.instance_of?(CollectionsIndex)
            %b= Collection.model_name
            %b= link_to([result.title, result.subtitle].compact_blank.join(' / '), collection_path(result.id))
          - elsif result.instance_of?(AuthoritiesIndex)
            %b= t(:author)
            %br
            %b= link_to attrs['name'], authority_path(attrs['id'])
            - unless result.tags.empty?
              %br
              %b= t(:tags)+':'
              - result.tags.each do |tag|
                %button.tag
                  = tag
            %br
            %p= attrs['wikipedia_snippet']
          - elsif result.instance_of?(DictIndex)
            %b= t(:dictionary_definition)
            %br
            %b= link_to attrs['defhead'], dict_entry_path(id: attrs['manifestation_id'], entry: attrs['id'])
            %br
            - unless result._data.nil? or result._data['highlight'].nil?
              %br
              != result._data['highlight']['deftext'].join("<br />").gsub('<em>','<b>').gsub('</em>','</b>')

    != paginate @results
= form_tag tag_by_name_path, method: :post, id: 'tag_by_name' do
  = hidden_field_tag :name, nil, id: 'tag_by_name_field'

:javascript
  $(document).ready(function() {
    $('.tag').click(function() {
      $('#tag_by_name_field').val($(this).text().trim());
      $('#tag_by_name').submit();
    });
  });
