.tab-pane.fade#attachments
  #attachments_table
  = form_tag lexicon_entry_attachments_path(entry), multipart: true, id: :new_attachment_form, remote: true do
    .row
      .col-sm-2
        = label_tag :attachment, t('.attach_new_file')
      .col-sm-2
        = file_field_tag :attachment
      .col-sm-1
        = submit_tag t(:upload), class: 'btn btn-primary', id: :submit_new_attachment

:javascript
  $(function() {
    $('#attachments_tab').on('shown.bs.tab', function (event) {
      var tab = event.target;
      if ($(tab).data('loaded') != true) {
        reloadAttachmentsTable();
        $(tab).data('loaded', true);
      }
    });
  });

  function reloadAttachmentsTable() {
    $('#attachments_table').load(
      '#{lexicon_entry_attachments_path(entry)}',
      function() {
        $('.copy-attachment-link').click(function(e) {
          e.preventDefault();
          const text = $(this).siblings('.attachment-link').text();
          navigator.clipboard.writeText(text);
        });
      }
    );
  };
