$('.errorDlgText').html('');
  $('#new_curated')[0].reset();
  <% if @anthology.texts.length > 0 %>
    $('.badge-number').text("<%= @anthology.texts.length.to_s %>");
    $('.anthology-badge').show();
  <% else %>
    $('.anthology-badge').hide();
  <% end %>
  var markup = "<%= j(render partial: 'shared/anth_panel', locals: {show_panel: true}) %>";
  $('#anth_container').replaceWith(markup);
<% if @added_records > 0 %>
  $('.errorDlgTitle').html('<%= t(:anth_grows) %>');
  $('.errorDlgText').html('<%= t(:anth_x_works_added, {x: @added_records}) %>');
<% end %>
<% if @skipped_records > 0 %>
  $('.errorDlgTitle').html('<%= t(:please_note) %>');
  $('.errorDlgText').append('<p></p><%= t(:anth_x_works_skipped, {x: @skipped_records}) %>');
<% end %>
$('#anth_panel').show();
$('#anthErrorDlg').modal('show');
$('#anthologies').val($.cur_anth.toString());
