- unless pub.nil?
  %tr.publine{id: "pub#{pub.id}"}
    %td= pub.title
    %td= pub.author_line
    %td= pub.publisher_line
    %td= pub.pub_year
    %td= pub.language
    %td
      %textarea{id: "pubnotes_#{pub.id}", rows: 4}!= pub.notes
      %button.save_notes= t(:save)
    %td
      %ol
        - pub.holdings.each do |h|
          = render partial: 'holdings/holding', locals: {h: h, with_actions: with_actions}
    - case with_actions
    - when :pubs
      %td
        = select_tag "p_#{pub.id}_actions", options_for_select(Publication.statuses.map{|k, v| [t(k), k]}, pub.status), onchange: "$.post('#{publication_path(pub.id)}', {'_method':'put', 'publication[status]':this.value}, null, 'script' );"
        %br
        %br
        - if ['todo', 'obtained'].include?(pub.status) && pub.task_id.nil?
          %button.create_task{id: "scn_#{pub.id}"}= t(:create_scanning_task)
        - if pub.task_id.present?
          - portpart = Rails.configuration.constants['tasks_system_port'] == 80 ? '' : ":#{Rails.configuration.constants['tasks_system_port'] }"
          - taskurl = "#{Rails.configuration.constants['tasks_system_port'] == 443 ? 'https://' : 'http://'}#{  Rails.configuration.constants['tasks_system_host']}#{portpart}/tasks/#{pub.task_id}"
          = link_to t(:to_the_task), taskurl
      %td= link_to t(:destroy), publication_path(id: pub.id), method: :delete, remote: true, :data => { :confirm => t(:are_you_sure) }
    - when :scans
      %td= link_to t(:mark_as_uploaded), publication_path(pub.id), 'class' => 'scanned', method: :put, remote: true, 'data-params' => 'publication[status]=uploaded'
    - when :none
      %td= t(pub.status)
    - if with_person
      %td= pub.person.nil? ? '--' : link_to(pub.person.name, author_toc_path(id: pub.person.id))
