- unless pub.nil?
  %tr
    %td= pub.title
    %td= pub.author_line
    %td= pub.publisher_line
    %td= pub.pub_year
    %td= pub.language
    %td= pub.notes.nil? ? '' : pub.notes.sub("\n", "<br />").html_safe
    %td= linkify_record(pub.bib_source, pub.source_id).html_safe
    - if with_person
      %td= pub.person.nil? ? '--' : pub.person.name
    %td= t(pub.status)
