- unless pub.nil?
  %tr.publine{id: "pub#{pub.id}"}
    %td= pub.title
    %td= pub.author_line
    %td= pub.publisher_line
    %td= pub.pub_year
    %td= pub.language
    %td= pub.notes.nil? ? '' : pub.notes.sub("\n", "<br />").html_safe
    %td
      %ol
        - pub.holdings.each do |h|
          = render partial: 'holdings/holding', locals: {h: h, with_actions: with_actions}

    - if with_person
      %td= pub.person.nil? ? '--' : pub.person.name
    %td= t(pub.status)
