- unless pub.nil?
  %tr.publine{id: "pub#{pub.id}"}
    %td= pub.title
    %td= pub.author_line
    %td= pub.publisher_line
    %td= pub.pub_year
    %td= pub.language
    %td= pub.notes.nil? ? '' : pub.notes.sub("\n", "<br />").html_safe
    %td
      %ol
        - pub.holdings.each do |h|
          = render partial: 'holdings/holding', locals: {h: h, with_actions: with_actions}
    - case with_actions
    - when :pubs
      %td
        = select_tag "p_#{pub.id}_actions", options_for_select(Publication.statuses.map{|k, v| [t(k), k]}, pub.status), onchange: "$.post('#{publication_path(pub.id)}', {'_method':'put', 'publication[status]':this.value}, null, 'script' );"
      %td= link_to t(:destroy), publication_path(id: pub.id), method: :delete, remote: true, :data => { :confirm => t(:are_you_sure) }
    - when :scans
      %td= link_to t(:mark_as_uploaded), publication_path(pub.id), 'class' => 'scanned', method: :put, remote: true, 'data-params' => 'publication[status]=uploaded'
    - when :none
      %td= t(pub.status)
    - if with_person
      %td= pub.person.nil? ? '--' : link_to(pub.person.name, author_toc_path(id: pub.person.id))

