.container-fluid
  .row
    .col-md-12
      %h2= t(:bib_records)
      %div{style:'background:mediumseagreen'}
        = form_tag '', method: :get do
          %br
          %b= label_tag(t(:title))
          = text_field_tag(:title, params[:title], {style: 'margin-right:20px; width:300px; background:white'})
          %br
          %b= label_tag(t(:author))
          = text_field_tag(:author, params[:author], {style: 'margin-right:20px; width:300px; background:white'})
          %br
          %b= label_tag(t(:status))
          = select_tag(:status, options_for_select(['']+Publication.statuses.keys.map{|st| [t(st), st]}, params[:status]))
          %button.by-button-v02
            = submit_tag(t(:filter), 'class' => 'by-button-v02')

      %table
        - @publications.each do |pub|
          = render partial: 'pub', locals: {pub: pub, with_person: true, with_actions: :pubs}
      != paginate @publications
      = link_to t(:back_to_bib_workshop), bib_index_path
= render 'shared/note_saving'
