.backend
  %h2= t('.title')

  %a{ href: new_admin_featured_content_path, style: 'color:white;padding-top:0.5rem;' }
    .btn.btn-primary.btn-sm
      %b= t('admin.featured_contents.new.title')
  %p
  %br
  %table.table
    %thead
      %tr
        %th= FeaturedContent.human_attribute_name(:title)
        %th= t(:feature_on)
        %th= FeaturedContent.human_attribute_name(:manifestation)
        %th= FeaturedContent.human_attribute_name(:authority)
        %th
    %tbody
      - @fcs.each do |fc|
        %tr
          %td= link_to fc.title, admin_featured_content_path(fc)
          %td
            - fc.featured_content_features.each do |fcf|
              #{fcf.fromdate.strftime('%d-%m-%Y')} #{I18n.t(:until)} #{fcf.todate.strftime('%d-%m-%Y')}
              %br
          %td
            - if fc.manifestation.nil?
              = t(:none)
            - else
              = link_to(fc.manifestation.title_and_authors, manifestation_path(id: fc.manifestation.id))
          %td= fc.authority.nil? ? t(:none) : link_to(fc.authority.name, authority_path(fc.authority))
          %td
            = link_to t(:edit), admin_featured_content_path(fc)
            = link_to t(:destroy),
                      admin_featured_content_path(fc),
                      method: :delete,
                      data: { confirm: t(:are_you_sure) }
  != paginate @fcs
