.card{style:'width:70%;alignment:center;'}
  .card-content
    = form_for fc, url: {action: action, id: fc.id} do |f|
      .backend-field
        = f.label t(:title)
        = f.text_field :title
      .backend-field
        = f.label t(:featured_content_body)
        = f.text_area :body, rows: 10, cols: 100
      .backend-field
        = f.label t(:linked_manifestation)
        = autocomplete_field_tag :linked_manifestation_f, fc.manifestation.nil? ? '' : fc.manifestation.title_and_authors, autocomplete_manifestation_title_path, id_element: '#linked_manifestation'
        = hidden_field_tag :linked_manifestation, fc.manifestation.nil? ? nil : fc.manifestation.id
      .backend-field
        = f.label t(:linked_author)
        = autocomplete_field_tag :linked_author_f, fc.person.nil? ? '' : fc.person.name, autocomplete_person_name_path, id_element: '#linked_author'
        = hidden_field_tag :linked_author, fc.person.nil? ? nil : fc.person.id
      .actions
        = f.submit t(:save)
