.card{style:'width:70%;alignment:center;'}
  .card-content
    = form_for fc, url: {action: action, id: fc.id} do |f|
      .backend-field
        = f.label t(:title)
        = f.text_field :title
      .backend-field
        = f.label t(:featured_content_body)
        = f.text_area :body, rows: 10, cols: 100
      .backend-field
        = f.label t(:linked_author)
        = autocomplete_field_tag :person,
                                 fc.person.nil? ? '' : fc.person.authority.name,
                                 autocomplete_person_name_path,
                                 id_element: '#person_id',
                                 data: { noMatchesLabel: t(:no_matches_found) }
        = hidden_field_tag :person_id, fc.person.nil? ? nil : fc.person.id
      .actions
        = f.submit t(:save)
