/ from http://designwithpc.com/Plugins/ddSlick
!= '<script src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>'

= form_for sp, url: {action: action, id: sp.id} do |f|
  .backend-field
    = f.label t(:name)
    = f.text_field :tag
    = f.label t(:ltr)
    = f.check_box :ltr
  .backend-field
    = f.label t(:title)
    = f.text_field :title
  .backend-field
    - if sp.images.attached?
      %button.btn-small-outline-v02#add_image
        %b.static-btn= t(:add_image)+' '+t(:in_current_cursor)
      = select_tag :sel_images, raw(options_from_images(sp.images))
      %br
  
  .backend-field
    = f.label t(:body)
    = f.text_area :body, rows: 10, cols: 120
  .backend-field
    %b= f.label t(:status)+': '
    = f.label t(:unpublished)
    = f.radio_button(:status, :unpublished)
    = f.label t(:published)
    = f.radio_button(:status, :published)
  .backend-field
    %b= f.label t(:mode)+': '
    = f.label t(:plain_markdown)
    = f.radio_button(:mode, :plain_markdown)
    = f.label t(:cards)
    = f.radio_button(:mode, :cards)
    = f.label t(:cards_with_shortcuts)
    = f.radio_button(:mode, :cards_with_shortcuts)
  .backend-field
    = f.file_field :images, multiple: true, direct_upload: true
  .actions
    = f.submit t(:save)
:javascript
  $('#sel_images').ddslick({
    width: 550,
    onSelected: function(selectedData){
      //callback function: do something with selectedData;
      selected_filename = selectedData.selectedData.text;
      selected_image_url = selectedData.selectedData.value;
    }
  });
  $('#add_image').click(function(e) {
    e.preventDefault();
    var $txt = jQuery("#static_page_body");
    var caretPos = $txt[0].selectionStart;
    var scrollLeft = $txt[0].scrollLeft;
    var scrollTop  = $txt[0].scrollTop;
    var textAreaTxt = $txt.val();
    var txtToAdd = "\n!["+selected_filename+"]("+selected_image_url+")\n";
    $txt.val(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos) );
    $txt.focus();
    $txt.caretTo(caretPos+txtToAdd.length);
    $txt[0].scrollTo(scrollLeft, scrollTop); // restore scroll position
  });
