.backend
  %h2= t(:authority_records_between_dates)

  = form_tag admin_authority_records_between_dates_path, method: :get do
    = label_tag :from, t(:fromdate)
    = text_field_tag :from, params[:from], class: 'form-control', placeholder: 'YYYY-MM-DD'
    = label_tag :to, t(:todate)
    = text_field_tag :to, params[:to], class: 'form-control', placeholder: 'YYYY-MM-DD'
    = submit_tag t(:submit), class: 'btn btn-primary'

  - if @total.present?
    %h3= t(:total)+': '+@records.length.to_s
    %table{style: 'cell-spacing: 10;'}
      %tr
        %th= t(:a_date)
        %th= t(:name)
        %th= t(:actions)

      - @records.each do |record|
        %tr
          %td= record.created_at.strftime('%Y-%m-%d')
          %td= link_to record.name, authority_path(record.id)
          %td= link_to t(:edit_metadata), authors_edit_path(id: record.id)
