.top-element.backend
  %h2= t(:featured_content_management)

  %a{ href: url_for(action: :featured_content_new), style: 'color:white;padding-top:0.5rem;'}
    .btn{style: 'float:none'}
      %b= t(:new_featured_content)
  %p
  %br
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:feature_on)
      %th= t(:linked_manifestation)
      %th= t(:linked_author)
      %th

    - @fcs.each do |v|
      %tr
        %td= link_to v.title, url_for(action: :featured_content_show, id: v.id)
        %td!= v.featured_list
        %td= v.manifestation.nil? ? t(:none) : link_to(v.manifestation.title_and_authors, manifestation_read_path(id: v.manifestation.id))
        %td= v.person.nil? ? t(:none) : link_to(v.person.name, author_toc_path(v.person))
        %td
          = link_to t(:edit), url_for(action: :featured_content_show, id: v.id)
          = link_to t(:destroy), url_for(action: :featured_content_destroy, id: v.id), data: { confirm: t(:are_you_sure)}
  != paginate @fcs
