.backend
  %h1= t(:featured_author)
  %a{ href: url_for(action: :featured_author_edit, id: @fc.id)}
    .btn{style:'float:none'}
      %b= t(:edit)
  %br
  %br
  %p
    %b= t(:title)+': '
    = @fc.title
  %p
    %b= t(:featured_content_body)+': '
    != @fc.body
  %p
    %b= t(:linked_author)+': '
    = @fc.person.nil? ? t(:none) : link_to(@fc.person.authority.name, authority_path(@fc.person.authority))

  %h3= t(:feature_on)
  %table
    %tr
      %th= t(:fromdate)
      %th= t(:todate)
      %th
    - @fc.featurings.each do |fcf|
      %tr
        %td= fcf.fromdate.strftime('%d-%m-%Y')
        %td= fcf.todate.strftime('%d-%m-%Y')
        %td= link_to t(:destroy), url_for(action: :featured_author_delete_feature, id: fcf.id), :data => { :confirm => t(:are_you_sure) }
  = form_tag 'add_feature' do
    = hidden_field_tag :fcid, @fc.id
    = label_tag t(:fromdate)+': '
    = select_date Date.today, prefix: :fromdate
    %br
    = label_tag t(:todate)+': '
    = select_date Date.today, prefix: :todate
    %br
    = submit_tag(t(:add_feature_date))
  = link_to t(:back), url_for(action: :featured_author_list)
