.backend
  %h2= t(:first_manifestations_between_dates)

  = form_tag admin_first_manifestations_between_dates_path, method: :get do
    = label_tag :from, t(:fromdate)
    = text_field_tag :from, params[:from], class: 'form-control', placeholder: 'YYYY-MM-DD'
    = label_tag :to, t(:todate)
    = text_field_tag :to, params[:to], class: 'form-control', placeholder: 'YYYY-MM-DD'
    = submit_tag t(:submit), class: 'btn btn-primary'

  - if @total.present?
    %h3= t(:total)+': '+@authorities.length.to_s
    %table{style: 'cell-spacing: 10;'}
      %tr
        %th= t(:first_manifestation_date)
        %th= t(:authority_name)
        %th= t(:first_manifestation_title)
        %th= t(:actions)

      - @authorities.each do |authority, manifestation|
        %tr
          %td= manifestation.created_at.strftime('%Y-%m-%d')
          %td= link_to authority.name, authority_path(authority.id)
          %td= link_to manifestation.title, manifestation_show_path(manifestation.id)
          %td= link_to t(:edit_metadata), authors_edit_path(id: authority.id)
