.backend
  %h2= t(:incongruous_copyright_report)
  %h3= t(:total_manifestations, total: @incong.length)
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:author)
      %th= t(:calculated_copyright)
      %th= t(:db_copyright)
      %th

    - @incong.each do |m, title, author, calculated, db|
      %tr
        %td= link_to title, manifestation_show_path(m.id)
        %td= author
        %td= calculated ? t(:no) : t(:yes)
        %td= db == true ? t(:no) : (db.nil? ? t(:unknown) : t(:yes))
        %td= link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)
