.top-element
  %h2= t(:editor_actions)
  / %p= link_to 'עריכת מטא-דאטה', html_file_list_for_editor_path
  %p= link_to 'עיון בהגהות מן הציבור ('+@open_proofs+')', proof_list_path(:status => 'new')
  %p= link_to 'עיון בהמלצות מן הציבור ('+@open_recommendations+')', legacy_recommendation_list_path(:status => 'new')
  - if current_user.admin?
    %h2= t(:admin_actions)
    %p
      %b= link_to t(:html_files_list), html_file_list_path
    %p= link_to t(:html_dirs_list), html_dirs_path
    %hr
    %b
      %p= link_to t(:catalog_dashboard), manifestation_list_path
      %p= link_to t(:manage_people), authors_list_path
    %p= link_to t(:user_management), user_list_path
    %hr
    %h3= t(:reports)
    %p= link_to t(:missing_language_report), admin_missing_languages_path
    %p= link_to t(:suspicious_translations_report), admin_suspicious_translations_path
    %p= link_to t(:missing_genre_report), admin_missing_genres_path
    %p= link_to t(:missing_copyright_report), admin_missing_copyright_path
    %p= link_to t(:suspicious_headings_report), admin_suspicious_headings_path
    %p
      = link_to admin_incongruous_copyright_path do
        = t(:incongruous_copyright_report)+' '
        %b= t(:takes_long_time)
    %hr
    %h3= t(:featured_content_heading)
    %p= link_to t(:volunteer_profiles), url_for(action: :volunteer_profiles_list)
    %p= link_to t(:featured_content_management), url_for(action: :featured_content_list)
    %p= link_to t(:featured_authors_management), url_for(action: :featured_author_list)
