.top-element
  %h2= t(:missing_copyright_report)

  %h3= t(:authors)
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:name)
      %th= t(:life_years)
      %th= t(:deathdate)
      %th
    - @authors.each do |au|
      %tr
        %td= au.name
        %td= au.dates
        %td= au.deathdate
        %td= link_to t(:edit), authors_edit_path(id: au.id)

  %h3= t(:works)
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:author)
      %th

    - @mans.each do |m|
      %tr
        %td= link_to m.title, manifestation_show_path(m.id)
        %td= m.author_string
        %td= link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)

  != paginate @mans
