.backend
  %h2= t(:missing_genre_report)
  %h3= t(:total)+': '+@total.to_s

  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:author)
      %th

    - @mans.each do |m|
      %tr
        %td= link_to m.title, manifestation_show_path(m.id)
        %td= m.author_string
        %td= link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)

  != paginate @mans
