.top-element.backend
  %h2= t(:missing_language_report)
  %h3= t(:total)+': '+@total.to_s
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:author)
      %th= t(:translator)
      %th

    - @mans.each do |m|
      - xlator = m.expressions[0].realizers.where(role: Realizer.roles[:translator])[0]
      %tr
        %td= link_to m.title, manifestation_show_path(m.id)
        %td= m.expressions[0].works[0].persons[0].nil? ? '' : m.expressions[0].works[0].persons[0].name
        %td= xlator.nil? ? '' : xlator.person.name
        %td= link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)

  != paginate @mans
