.backend
  %h2= t(:raw_tocs)
  %h3= t(:total)+': '+@total.to_s
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:author)
      %th= t(:actions)

    - @authors.each do |author|
      %tr
        %td= link_to author.name, authors_show_path(id: author.id)
        %td= link_to t(:edit_toc), authors_edit_toc_path(author)
  != paginate @authors
