.backend
  %h2= t(:similar_titles_report)

  %h3= t(:total)+': '+@similarities.keys.length.to_s
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:works)
      %th= t(:actions)

    - @similarities.each_pair do |title, works|
      - works.each do |m|
        %tr
          %td
            %b= title[1]
          %td
            = link_to("#{m.title} #{t(:by)} #{m.cached_people}", manifestation_show_path(m.id))
          %td
            = link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)
            = ' | '
            = link_to t(:mark_as_valid), mark_similar_as_valid_path(m.id), {remote: true, 'class' => 'whitelist_link', "data-done-msg" => t(:confirmed), "data-doing-msg" => t(:confirming)}

:javascript
  $(document).ready(function() {
    $('.whitelist_link')
      .bind("ajax:beforeSend", function(evt, xhr, settings) {
        var $link = $(this);
        $link.html( "<b>"+$(this).data('doing-msg')+"</b>");
      })
      .bind("ajax:success", function(evt, data, status, xhr){
        $(this).html($(this).data('done-msg'));
        $(this).on('click', function(e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('pointer-events', 'none').css('cursor', 'default');
        });
    });
  });