.top-element
  %h2= t(:similar_titles_report)

  %h3= t(:total)+': '+@similarities.keys.length.to_s
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:works)
      %th= t(:actions)

    - @similarities.each_pair do |title, works|
      - works.each do |m|
        %tr
          %td
            %b= title[1]
          %td
            = link_to("#{m.title} #{t(:by)} #{m.cached_people}", manifestation_show_path(m.id))
          %td
            = link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)