.top-element.backend
  %h2= t(:sitenotice_management)

  %a{ href: url_for(action: :sitenotice_new)}
    .btn{style: 'float:none'}
      %b= t(:new_sitenotice)
  %p
  %br
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:fromdate)
      %th= t(:todate)
      %th= t(:sitenotice_body)
      %th= t(:status)

    - @sns.each do |v|
      %tr
        %td= v.fromdate.to_s
        %td= v.todate.to_s
        %td= link_to v.body, url_for(action: :sitenotice_show, id: v.id)
        %td!= v.enabled? ? "&#10004;" : ''
        %td
          = link_to t(:edit), url_for(action: :sitenotice_show, id: v.id)
          = link_to t(:destroy), url_for(action: :sitenotice_destroy, id: v.id), data: { confirm: t(:are_you_sure)}
  != paginate @sns
