.backend
  %h2= t(:static_pages)

  %a{ href: url_for(action: :static_page_new), style: 'color:white'}
    .btn{style: 'float:none'}
      %b= t(:new_static_page)
  %p
  %br
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:name)
      %th= t(:title)
      %th= t(:status)
      %th= t(:mode)
      %th

    - @vps.each do |v|
      %tr
        %td= link_to v.tag, url_for(action: :static_page_show, id: v.id)
        %td= v.title
        %td= t(v.status)
        %td= t(v.mode)
        %td= link_to t(:edit), url_for(action: :static_page_edit, id: v.id)
  != paginate @vps
