.backend
  %h2= t(:suspicious_titles_report)

  %h3= t(:total)+': '+@suspicious.length.to_s
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:title)
      %th= t(:author)
      %th= t(:genre)
      %th

    - @suspicious.each do |m|
      %tr
        %td= link_to m.title, manifestation_show_path(m.id)
        %td= m.author_string
        %td= textify_genre(m.expression.work.genre)
        %td
          %b= link_to t(:edit_markdown), manifestation_edit_path(m.id)
          = ' | '
          = link_to t(:edit_metadata), manifestation_edit_metadata_path(m.id)
          = ' | '
          = link_to t(:render), url_for(controller: :manifestation, action: :read, id: m.id)
          - if m.title[-1] == '.'
            = ' | '
            = link_to t(:remove_final_period), manifestation_chomp_period_path(m.id), {remote: true, class: 'chomp_link', "data-done-msg" => t(:removed), "data-doing-msg" => t(:removing)}
:javascript
  $(document).ready(function() {
    $('.chomp_link')
      .bind("ajax:beforeSend", function(evt, xhr, settings) {
        var $link = $(this);
        $link.html( "<b>"+$(this).data('doing-msg')+"</b>");
      })
      .bind("ajax:success", function(evt, data, status, xhr){
        $(this).html($(this).data('done-msg'));
        $(this).on('click', function(e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('pointer-events', 'none').css('cursor', 'default');
        });
    });
  });