.tagging-management-area
  #tags-mamagement.management
    .title-area
      .title-right-side
        .by2-icon X
        %p.headline-2-v02= t(:pending_tags)
        %p= "(#{@pending_tags.count})"
        - unless session[:tagging_lock]
          %h3{style: 'color:red'}= t(:tagging_system_locked_by, user: @tagging_lock_owner, ago: @tagging_lock_refreshed)
      %a.by-icon-v02.pointer#minmax_tags /
    .by-card-content-v02#tags-card
      .management-content
        %table
          %tr
            %th
              %input{name: "#", type: "checkbox", value: "#"}/
            %th.th-sort
              = t(:suggested_tag)
              .by-icon-v02.sort
            %th.th-sort
              = t(:linked_taggings)
              .by-icon-v02.sort
            %th.th-sort
              = t(:time_waiting)
              .by-icon-v02.sort
                %a{href: "#"} )
            %th= t(:user)
            %th= t(:suggested_tags)
            %th= t(:acceptance_rate)
            %th= t(:quick_actions)
          - @pending_tags.each do |tag|
            - extra_style = tag.escalated? ? 'background-color: #f7a7a7;' : ''
            %tr
              %td{style: extra_style}
                %input{name: "#", type: "checkbox", value: "#"}/
              %td.label-name{style: extra_style}
                %a{href: tag_review_path(tag.id)}= tag.name
                - if @similar_tags[tag.id]
                  %span.by2-icon{title: t(:similar_to_x, x: Tag.find(@similar_tags[tag.id].split(':')[1].to_i).name)}> P
              %td.pending-taggings.pointer.linkcolor{'data-tagid': tag.id, style: extra_style}
                = tag.taggings_count
              %td.wait-time{style: extra_style}= distance_of_time_in_words(tag.created_at, Date.today)
              - if tag.creator.warned?
                %td.in-td.red{style: extra_style}
                  %a{href: "#"}
                    %span.by2-icon> P
                    = tag.creator.name
              - else
                %td{style: extra_style}
                  %a{href: "#"}= tag.creator.name
              - tag_count = Tag.by_user(tag.creator).count
              %td{style: extra_style}
                %a{href: "#"}= tag_count
              - additional_class = ''
              - acceptance_rate = tag.creator.tag_acceptance_rate
              - if tag_count > 3 && acceptance_rate < 25
                - additional_class = 'low-approval-rate'
              - elsif tag_count > 3 && acceptance_rate > 75
                - additional_class = 'high-approval-rate'
              %td{style: extra_style, class: "%-approved #{additional_class}"}= "%.1f%%" % acceptance_rate
              %td{style: extra_style}
                .quick-actions
                  - if session[:tagging_lock]
                    = button_to reject_tag_path(tag), method: :post, remote: true, class: 'reject-tag-btn ghost-btn', form_class: 'reject_tag_form', data: { confirm: t(:confirm_reject) } do
                      .by-icon-v02> -
                      = t(:reject)
                    = button_to reject_tag_path(tag), method: :post, remote: true, class: 'reject-tag-btn with-explanation ghost-btn', form_class: 'reject_tag_form', data: { confirm: t(:confirm_reject) } do
                      .by-icon-v02> -
                      = t(:reject_and_explain)
                  - else
                    = t(:tagging_system_locked)
  #labels-mamagement.management
    .title-area
      .title-right-side
        .by2-icon Y
        %p.headline-2-v02= t(:pending_taggings)
        %p= "(#{@pending_taggings.count})"
      %a.by-icon-v02.pointer#minmax_taggings /
    .by-card-content-v02#taggings-card
      .management-content
        %table
          %tr
            %th
              %input{name: "#", type: "checkbox", value: "#"}/
            %th.th-sort= t(:suggested_tagging)
            %th.th-sort= t(:tag)
            %th.th-sort
              = t(:time_waiting)
              .by-icon-v02.sort
                %a{href: "#"} )
            %th= t(:user)
            %th= t(:tagging_suggestions_count)
            %th= t(:acceptance_rate)
            %th= t(:quick_actions)
          - @pending_taggings.each do |tagging|
            %tr
              %td
                %input{name: "#", type: "checkbox", value: "#"}/
              %td.label-name
                - if tagging.taggable_type == 'Manifestation'
                  %a{href: manifestation_path(tagging.taggable_id), target: "_blank"}
                    = "#{tagging.taggable.title} / #{tagging.taggable.author_string}"
                - elsif tagging.taggable_type == 'Person'
                  %a{href: person_path(tagging.taggable_id), target: "_blank"}
                    = tagging.taggable.name
              - tagging_count = tagging.tag.taggings_count
              %td.tags-for-labels
                %a{href: "#"}= tagging.tag.name
                %span
                  %a.tags-number{href: "#"}
                    = tagging.tag.approved? ? tagging_count : t(:new)
              %td.wait-time= distance_of_time_in_words(tagging.created_at, Date.today)
              %td
                %a{href: "#"}= tagging.suggester.name
              %td
                %a{href: "#"}= tagging.suggester.taggings.count
              - additional_class = ''
              - acceptance_rate = tagging.suggester.tagging_acceptance_rate
              - if tagging_count > 3 && acceptance_rate < 25
                - additional_class = 'low-approval-rate'
              - elsif tagging_count > 3 && acceptance_rate > 75
                - additional_class = 'high-approval-rate'

              %td{class: "%-approved #{additional_class}"}= "%.1f%%" % acceptance_rate
              %td
                .quick-actions
                  - if session[:tagging_lock]
                    = button_to approve_tagging_path(tagging), method: :post, remote: true, class: 'ghost-btn approve-tagging-btn', data: { confirm: t(:confirm_approve) } do
                      .by2-icon> N
                      = t(:approve)
                    = button_to reject_tagging_path(tagging), method: :post, remote: true, class: 'ghost-btn reject-tagging-btn', form_class: 'reject_tagging_form', data: { confirm: t(:confirm_reject) } do
                      .by-icon-v02> -
                      = t(:reject)
                    = button_to reject_tagging_path(tagging), method: :post, remote: true, class: 'ghost-btn reject-tagging-btn with-explanation', form_class: 'reject_tagging_form', data: { confirm: t(:confirm_reject) } do
                      .by-icon-v02> -
                      = t(:reject_and_explain)
                    = button_to reject_tagging_path(tagging), method: :post, remote: true, class: 'ghost-btn reject-tagging-btn', form_class: 'reject_tagging_form' do
                      .by-icon-v02> Q
                      = t(:change_or_merge)
                    %button.ghost-btn.more-actions-btn פעולות נוספות...
                  - else
                    = t(:tagging_system_locked)
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} אל אי החתולים אשר ביון / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span.tags-number חדש
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} חושחושית סיפור חייה של אוגרת / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span
                %a.tags-number{href: "#"} 37
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} אל אי החתולים אשר ביון / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span.tags-number חדש
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} חושחושית סיפור חייה של אוגרת / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span
                %a.tags-number{href: "#"} 37
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} אל אי החתולים אשר ביון / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span.tags-number חדש
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} חושחושית סיפור חייה של אוגרת / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span
                %a.tags-number{href: "#"} 37
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} אל אי החתולים אשר ביון / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span.tags-number חדש
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} חושחושית סיפור חייה של אוגרת / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span
                %a.tags-number{href: "#"} 37
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...
          %tr
            %td
              %input{name: "#", type: "checkbox", value: "#"}/
            %td.label-name
              %a{href: "#"} אל אי החתולים אשר ביון / רות צרפתי
            %td.tags-for-labels
              %a{href: "#"} סיפורי ילדים
              %span.tags-number חדש
            %td.wait-time 29
            %td
              %a{href: "#"} david0103043
            %td
              %a{href: "#"} 22
            %td{class: "%-approved"} 67%
            %td
              .quick-actions
                %button.ghost-btn
                  .by2-icon> N
                  אישור
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה
                %button.ghost-btn
                  .by-icon-v02> -
                  דחיה + הסבר
                %button.ghost-btn
                  .by2-icon> Q
                  שינוי / מיזוג
                %button.ghost-btn.more-actions-btn פעולות נוספות...

%br
.backend.container
  .admin_dashboard_item
    %h2= t(:pending_taggings)
    .flex-row
      .flex-col.headline-2-v02= t(:tag)
      .flex-col.headline-2-v02= t(:item)
      .flex-col.headline-2-v02= t(:suggested_by)
      .flex-col.headline-2-v02{style: 'flex: 2'}= t(:actions)
    - @pending_taggings.each do |tagging|
      .flex-row{style:'padding-bottom: 0.3em;'}
        .flex-col= link_to tagging.tag.name, tagging.tag
        .flex-col= link_to tagging.taggable.title, tagging.taggable
        .flex-col= "#{tagging.suggester.name} (%.1f #{t(:acceptance_rate)})" % tagging.suggester.tagging_acceptance_rate
        .flex-col{style: 'flex: 2'}
          - if session[:tagging_lock]
            = link_to t(:approve), approve_tagging_path(tagging), method: :post, remote: true, class: 'by-button-v02 approve-tagging-btn', data: { confirm: t(:confirm_approve) }
            != '&nbsp;&nbsp;&nbsp;'
            = link_to t(:reject), reject_tagging_path(tagging), method: :post, remote: true, class: 'by-button-v02 reject-tagging-btn', data: { confirm: t(:confirm_reject) }
          - else
            = t(:tagging_system_locked)
          
:javascript
  function remove_row(event, color) {
    row = $(event.target).closest('tr');
    row.css('background-color', color);
    row.fadeOut(2000);
  }
  $(document).ready(function() {
    $('.pending-taggings').click(function(e){
      e.stopPropagation();
      url = "#{ pending_taggings_popup_path(tag_id: 999) }";
      url = url.replace('999', $(this).attr('data-tagid'));
      $('#generalDlg').load(url);
      $('#generalDlg').modal('show');
    });
    $('.with-explanation').click(function(e) {
      e.stopPropagation();
      var explanation = prompt("#{t(:explain_rejection)}");
      const sanitized = $("<p>").text(explanation).text(); 
      var newParam = $("<input name='reason' type='hidden' value='" + sanitized + "' />")
      $(this.parentElement).append(newParam);
    });
    $('.reject_tag_form').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#ff3333');
    });
    $('.approve-tag-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#33ff33');
    });
    $('.reject-tagging-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#ff3333');
    });
    $('.approve-tagging-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#33ff33');
    });
    $('#minmax_taggings').click(function() {
      if($('#layout-bottom').hasClass('active')) {
        $('#layout-same').click();
      } else {
        $('#layout-bottom').click();
      }
    });
    $('#minmax_tags').click(function() {
      if($('#layout-top').hasClass('active')) {
        $('#layout-same').click();
      } else {
        $('#layout-top').click();
      }
    });
  });
