%br
.backend.container
  .admin_dashboard_item
    %h2= t(:pending_tags)
    .flex-row
      .flex-col.headline-2-v02= t(:tag)
      .flex-col.headline-2-v02= t(:suggested_by)
      .flex-col.headline-2-v02{style: "flex: 2;"}= t(:actions)
    - @pending_tags.each do |tag|
      .flex-row
        .flex-col
          %h3= link_to tag.name, tag
        .flex-col= "#{tag.creator.name} (%.1f #{t(:acceptance_rate)})" % tag.creator.tag_acceptance_rate
        .flex-col{style: 'flex: 2'}
          = link_to t(:approve), approve_tag_path(tag), method: :post, remote: true, class: 'by-button-v02 approve-tag-btn', data: { confirm: t(:confirm_approve) } 
          != '&nbsp;&nbsp;&nbsp;'
          = link_to t(:reject), reject_tag_path(tag), method: :post, remote: true, class: 'by-button-v02 reject-tag-btn', data: { confirm: t(:confirm_reject) }

  .admin_dashboard_item
    %h2= t(:pending_taggings)
    .flex-row
      .flex-col.headline-2-v02= t(:tag)
      .flex-col.headline-2-v02= t(:item)
      .flex-col.headline-2-v02= t(:suggested_by)
      .flex-col.headline-2-v02{style: 'flex: 2'}= t(:actions)
    - @pending_taggings.each do |tagging|
      .flex-row{style:'padding-bottom: 0.3em;'}
        .flex-col= link_to tagging.tag.name, tagging.tag
        .flex-col= link_to tagging.taggable.title, tagging.taggable
        .flex-col= "#{tagging.suggester.name} (%.1f #{t(:acceptance_rate)})" % tagging.suggester.tagging_acceptance_rate
        .flex-col{style: 'flex: 2'}
          = link_to t(:approve), approve_tagging_path(tagging), method: :post, remote: true, class: 'by-button-v02 approve-tagging-btn', data: { confirm: t(:confirm_approve) }
          != '&nbsp;&nbsp;&nbsp;'
          = link_to t(:reject), reject_tagging_path(tagging), method: :post, remote: true, class: 'by-button-v02 reject-tagging-btn', data: { confirm: t(:confirm_reject) }
:javascript
  function remove_row(event, color) {
    row = $(event.target).closest('.flex-row');
    row.css('background-color', color);
    row.fadeOut(2000);
  }
  $(document).ready(function() {
    $('.reject-tag-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#ff3333');
    });
    $('.approve-tag-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#33ff33');
    });
    $('.reject-tagging-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#ff3333');
    });
    $('.approve-tagging-btn').on('ajax:complete', function(event, data, status, xhr) {
      // response will come underneath of ‘data’ variable
      remove_row(event, '#33ff33');
    });

  });
