.top-element
  %h1= 'נא לבחור שיטת אימות'

  = form_tag session_do_login_path do
    %div{style:'width: 200px'}
      = link_to '/auth/google_oauth2', method: :post do
        .static-btn= 'Google'
      = link_to '/auth/twitter', method: :post do
        .static-btn= 'Twitter'
