- path = @citation.new_record? ? lexicon_entry_citations_path : lexicon_citation_path(@citation)
= simple_form_for(@citation, url: path, remote: true) do |f|
  = f.error_notification
  = f.input :status do
    .form-control
      .badge.badge-primary= @citation.status
  - unless @citation.status_manual?
    = f.input :raw do
      %br
      = raw @citation.raw
  = f.input :title
  = f.input :from_publication
  = f.input :authors
  = f.input :pages
  = f.input :link
  = f.submit t(:save)
