%h1 Listing lex_citations

%table
  %thead
    %tr
      %th Title
      %th From publication
      %th Authors
      %th Pages
      %th Link
      %th Item
      %th Manifestation
      %th
      %th
      %th

  %tbody
    - @lex_citations.each do |lex_citation|
      %tr
        %td= lex_citation.title
        %td= lex_citation.from_publication
        %td= lex_citation.authors
        %td= lex_citation.pages
        %td= lex_citation.link
        %td= lex_citation.item
        %td= lex_citation.manifestation
        %td= link_to 'Show', lex_citation
        %td= link_to 'Edit', edit_lex_citation_path(lex_citation)
        %td= link_to 'Destroy', lex_citation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lex citation', new_lex_citation_path
