= t(:contact_form_email_greeting)

= t(:contact_name)+":\n"
= "    #{@contact_form[:name]}"
= t(:contact_email)+":\n"
= "    #{@contact_form[:email]}"
= t(:contact_phone)+":\n"
= "    #{@contact_form[:phone]}"
= "\n\n"
= t(:contact_topic)+":\n"
= "    #{@contact_form[:topic]}"
= "\n\n"
= t(:contact_body)+":\n\n"
= "#{@contact_form[:body]}"
= "\n\n"
!= raw t(:email_footer_html)
