= @greeting

- if @m.nil?
  = t(:proof_wontfix, {:url => @url})
- else
  = t(:proof_wontfix_m, {:url => @url, :title => @m.title_and_authors})

- unless @explanation.nil?
  != t(:additional_proof_explanation, explanation: @explanation)

= t(:below_is_your_original_email)
%hr

= @proof.what
%hr

!= raw t(:email_footer_html)
