= @greeting

- if @m.nil?
  = t(:proof_wontfix, {:url => @url})
- else
  = t(:proof_wontfix_m, {:url => @url, :title => @m.title_and_authors})

- unless @explanation.nil?
  = t(:additional_wontfix_explanation, explanation: @explanation)

!= raw t(:email_footer_html)
