%div{align: 'right', dir: 'rtl'}
  %p= "#{@tagging.suggester.name}, #{@greeting}"
  %p= t(:tagging_rejected_email_html, tag: @tagging.tag.name, taggable: @tagging.taggable.title, url: url_for(@tagging.taggable))

  %hr

  != raw t(:email_footer_html)
