#maincontainer.container-fluid.top-element
  .row
    .col-sm-12
      .headline-1-v02= t(:public_anthologies)
      .headline-2-v02= t(:improvements_soon)
      / actual works
      %ol.mainlist
        - @anthologies.each do |anth|
          %li
            = link_to anth.title, anthology_path(anth.id)
            = " (#{anth.updated_at.strftime('%d.%m.%Y')}) – "
            = link_to t(:clone_this_anthology), anthology_clone_path(anth.id)
!= paginate @anthologies