.container-fluid#header-author
  = render partial: 'shared/breadcrumbs'
  .top-space
  .author-page-top
    .author-page-top-info-card
      .author-name-years
        .author-page-top-name.headline-1-v02= @author.name
        .author-page-top-years!= "(#{@author.life_years})"
      .flex-container
        .author-page-top-rights
          - if @author.public_domain
            %span.by-icon-v02.copyright-icon> m
            = textify_copyright_status(false)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_public_domain), 'data-content' => t(:public_domain_popover)
          - else
            %span.by-icon-v02.copyright-icon> x
            = textify_copyright_status(true)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_permission), 'data-content' => t(:permission_popover)
        .author-sort-area
          .author-page-top-sort-desktop
            = t(:sort_and_filter)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_sort_and_filter), 'data-content' => t(:sort_and_filter_popover)
            .toggle-background-no
              .toggle-button-no
          .author-page-top-sort-mobile
            %button.btn-small-outline-v02.btn-text-v02.notyet= t(:sort_and_filter)
        .author-page-top-icons-desktop
          .top-left-icons-group
            .icon-in-group-v02.notyet
              %span.linkcolor.pointer.by-icon-v02 5
            .icon-in-group-v02
              %span.linkcolor.pointer.printbutton.by-icon-v02 9
            .icon-in-group-v02.notyet{:style => "margin-left:0;"}
              %span.linkcolor.pointer.by-icon-v02 3
        .author-page-top-icons-mobile
          .top-left-icons-group
            .icon-in-group-v02.notyet{:style => "margin-left:4px;padding-top: 0;"}
              %span.linkcolor.pointer.by-icon-v02 5
            .dropdown#moreMobile-author
              %span.linkcolor.pointer.dropdown-toggle#nav-more{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.linkcolor.pointer.by-icon-top-v02 Y
              .dropdown-menu.dropdown-menu-right#menu-more
                .dropdown-item.pointer.linkcolor.notyet
                  %span.by-icon-v02.iconNearText-v02> 3
                  = t(:download)
                .dropdown-item.linkcolor.pointer.printbutton
                  %span.by-icon-v02.iconNearText-v02> 9
                  = t(:print)
    .row.error-found-row
      .col-1.side-nav-col
        = render partial: 'shared/genre_navbar', locals: {genres_present: @genres_present, page: :toc, curated_content: false} # TODO: implement emitting curated content in TOC pages, and then un-hardcode this
      .col{style:'z-order:-1;height:0;'}
      .col-4.error-found-col
        %button.error-found-btn.notyet
          .error-found
            .error-found-text= t(:found_br_mistake_html)
            .error-found-icon g
      .col-lg-4{style:'height:1px'}

:javascript
  $(document).ready(function() {
    // print button
    $('.printbutton').click(function() {
      window.open("#{@print_url}",'_new');
    });
  });