.container-fluid#header-author
  = render partial: 'shared/breadcrumbs'
  .top-space
  .author-page-top
    .author-page-top-info-card
      .author-name-years
        .author-page-top-name.headline-1-v02= @author.name
        .author-page-top-years!= "(#{@author.life_years})"
      .author-top-second-line
        .author-page-top-rights
          - if @author.public_domain
            %span.by-icon-v02.copyright-icon> m
            = textify_copyright_status(false)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_public_domain), 'data-content' => t(:public_domain_popover)
          - else
            %span.by-icon-v02.copyright-icon> x
            = textify_copyright_status(true)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_permission), 'data-content' => t(:permission_popover)
        .author-sort-area
          .author-page-top-sort-desktop
            = t(:sort_and_filter)
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_sort_and_filter), 'data-content' => t(:sort_and_filter_popover)
            .toggle-background-no{title: t(:toggle_filters_tt)}
              .toggle-button-no
          .author-page-top-sort-mobile
            %button.btn-small-outline-v02.btn-text-v02.notyet= t(:sort_and_filter)
        .author-page-top-icons-desktop
          .top-left-icons-group
            .icon-in-group-v02.notyet{title: t(:author_liked_tt)}
              %span.linkcolor.pointer.by-icon-v02 5
            .icon-in-group-v02
              %span.linkcolor.pointer.by-icon-v02 D
            .icon-in-group-v02{title: t(:author_print_tt)}
              %span.linkcolor.pointer.printbutton.by-icon-v02 9
            .icon-in-group-v02.notyet{title: t(:author_download_tt)}
              %span.linkcolor.pointer.by-icon-v02 3
            .icon-in-group-v02{style: 'margin-left:0;', 'data-target' => '#shareDlg', 'data-toggle' => 'modal', title: t(:share_tt)}
              %span.linkcolor.pointer.by-icon-v02 U
        .author-page-top-icons-mobile
          .top-left-icons-group
            .icon-in-group-v02.notyet{:style => "margin-left:4px;padding-top: 0;"}
              %span.linkcolor.pointer.by-icon-v02 5
            .dropdown.d-inline#moreMobile-author
              %span.pointer.by-icon-top-v02.dropdown-toggle#nav-more{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} Y
              .dropdown-menu.dropdown-menu-right#menu-more
                .dropdown-item.linkcolor.pointer.notyet
                  %span.by-icon-v02.iconNearText-v02> D
                  = t(:bookshelf)
                .dropdown-item.linkcolor.pointer.printbutton
                  %span.by-icon-v02.iconNearText-v02> 9
                  = t(:print)
                .dropdown-item.pointer.linkcolor.notyet
                  %span.by-icon-v02.iconNearText-v02> 3
                  = t(:download)
                .dropdown-item.pointer.linkcolor{'data-target' => '#shareDlg', 'data-toggle' => 'modal'}
                  %span.by-icon-v02.iconNearText-v02> U
                  = t(:share)
    .row.error-found-row
      .col-1.side-nav-col
        = render partial: 'shared/genre_navbar', locals: {genres_present: @genres_present, page: :toc, curated_content: @any_curated}
      .col{style:'z-index:-1;height:0;'}
      .col-4.error-found-col
        %button.error-found-btn.notyet{title: t(:report_error_tt)}
          .error-found
            .error-found-text= t(:found_br_mistake_html)
            .error-found-icon g
      .col-lg-4{style:'height:1px'}

:javascript
  $(document).ready(function() {
    // print button
    $('.printbutton').click(function() {
      window.open("#{@print_url}",'_blank');
    });
  });