%div#spinnerdiv{style: 'display: none; top: 50%; left: 50%;'}
  #floatingCirclesG
    #frotateG_01.f_circleG
    #frotateG_02.f_circleG
    #frotateG_03.f_circleG
    #frotateG_04.f_circleG
    #frotateG_05.f_circleG
    #frotateG_06.f_circleG
    #frotateG_07.f_circleG
    #frotateG_08.f_circleG

.by-card-header-v02
  .headline-2-v02= authors_label_by_gender_filter(@genders, @total)
  .filters
    - @filters.each do |f, id, which|
      %button.tag
        = f
        %span.pointer.tag-x{'data-ele': id, 'data-which' => which}= '-'
.by-card-content-v02
  = render partial: 'shared/filters/pagination', locals: { form_id: 'authors_filters', add_js: false }
  .select-all-with-buttons
    .headline-4-v02= t(:sort_by)
    #sort-by
      #custom-select{ title: t(:worklist_sort_tt) }
        %select#sort_by_select
          %optgroup{ label: t(:alefbet) }
            %option{ value: 'alphabetical_asc', selected: @sort == 'alphabetical_asc' }= t(:alefbet_asc)
            %option{ value: 'alphabetical_desc', selected: @sort == 'alphabetical_desc' }= t(:alefbet_desc)
          %optgroup{ label: t(:popularity_group) }
            %option{ value: 'popularity_desc', selected: @sort == 'popularity_desc' }= t(:popularity_desc)
            %option{ value: 'popularity_asc', selected: @sort == 'popularity_asc' }= t(:popularity_asc)
          %optgroup{ label: t(:dates) }
            %option{ value: 'birth_date_asc', selected: @sort == 'birth_date_asc' }= t(:birthdate_asc)
            %option{ value: 'birth_date_desc', selected: @sort == 'birth_date_desc' }= t(:birthdate_desc)
            %option{ value: 'death_date_asc', selected: @sort == 'death_date_asc' }= t(:deathdate_asc)
            %option{ value: 'death_date_desc', selected: @sort == 'death_date_desc' }= t(:deathdate_desc)
            %option{ value: 'upload_date_asc', selected: @sort == 'upload_date_asc' }= t(:uploaddate_asc)
            %option{ value: 'upload_date_desc', selected: @sort == 'upload_date_desc' }= t(:uploaddate_desc)
  .mainlist#browse_mainlist
    %ol{ style: "counter-reset:li #{@page > 1 ? (@page - 1) * AuthorsController::PAGE_SIZE : 0}" }
      - decorator = authorlist_decorator_by_sort_type(@sort)
      - @authors.each do |au|
        %li
          = link_to au.sort_name.presence || '_', authority_path(au.id)
          .authors-list-years= decorator.call(au)
  = hidden_field_tag(:hurl, request.original_url)
  = render partial: 'shared/filters/pagination', locals: { form_id: 'authors_filters', add_js: true }
:javascript
  $(document).ready(function() {
    $('.tag-x').click(function() {
      const field = $(this).data('ele');
      // uncheck/clear the appropriate field
      if ($(this).attr('data-which') == 'text') {
        $('#authors_filters #' + field).val('');
      } else {
        $('#authors_filters #' + field).prop("checked", false);
      }

      $('#authors_filters input').attr('disabled', false);
      submit_filters();
    });

    $('#sort_by_select').change(function(){
      $('#authors_filters input[name=sort_by]').val($('#sort_by_select option:selected').val());
      resetPagination();
      submit_filters();
    });
  });
