= simple_form_for authority, url: { action: action, id: authority.id } do |f|
  .form-inputs
    = f.error_notification
    = f.input :name
    = f.input :sort_name
    = f.input :other_designation
    = f.input :status,
              collection: Authority.statuses.map { |st| [t(st[0]), st[0]] }
    = f.input :intellectual_property,
              collection: Authority.intellectual_properties.keys.map { |ip| [textify_intellectual_property(ip), ip] }
    = f.input :bib_done, as: :radio_buttons, collection: [[t(:no), 0], [t(:yes), 1]]
    = f.input :country, as: :string
    = f.input :comment, as: :text
    = f.input :viaf_id
    = f.input :nli_id
    = f.input :blog_category_url, type: :url
    = f.input :wikidata_uri, type: :url
    = f.input :wikipedia_url, type: :url
    = f.input :wikipedia_snippet, as: :text

    - if authority.person.present?
      = f.simple_fields_for :person do |pf|
        = pf.input :birthdate
        = pf.input :deathdate
        = pf.input :period, collection: Person.periods.keys.map { |p| [t(p), p] }
        = pf.input :gender, as: :radio_buttons, collection: Person.genders.keys.map { |g| [t(g), g] }

    - if authority.corporate_body.present?
      = f.simple_fields_for :corporate_body do |cbf|
        = cbf.input :location
        = cbf.input :inception
        = cbf.input :inception_year
        = cbf.input :dissolution
        = cbf.input :dissolution_year

    = f.input :current_image, label: t(:current_image) do
      = image_tag authority.profile_image.url(:thumb), alt: authority.name

    = f.input :profile_image, as: :file, label: t(:upload_new_image)
  .actions
    = f.submit t(:save)
