= form_for person, url: {action: action, id: person.id} do |f|
  - if person.errors.any?
    #error_explanation
      %h2= "#{pluralize(person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - person.errors.full_messages.each do |msg|
          %li= msg

  .backend-field
    = f.label t(:name)
    = f.text_field :name
  .backend-field
    = f.label t(:sort_name)
    = f.text_field :sort_name
  .backend-field
    = f.label t(:birthdate)
    = f.text_field :birthdate
  .backend-field
    = f.label t(:deathdate)
    = f.text_field :deathdate
  .backend-field
    = f.label t(:period)
    = f.select :period, options_for_select(Person.periods.map{|p| [t(p[0]), p[0]]}, person.period), include_blank: true
  .backend-field
    = f.label t(:gender)
    %br
    = f.radio_button(:gender, :male, checked: person.gender == 'male') # symbols won't do!
    = f.label t(:male)
    = f.radio_button(:gender, :female, checked: person.gender == 'female')
    = f.label t(:female)
    = f.radio_button(:gender, :other, checked: person.gender == 'other')
    = f.label t(:other)
    = f.radio_button(:gender, :unknown, checked: ((person.gender.nil?) or (person.gender == 'unknown')))
    = f.label t(:unknown)

  .backend-field
    = f.label Person.human_attribute_name(:intellectual_property)
    - options = Person.intellectual_properties.keys.map { |ip| [textify_intellectual_property(ip), ip] }
    = f.select :intellectual_property, options_for_select(options, person.intellectual_property)
  .backend-field
    = f.label t(:bib_done)
    %br
    = f.radio_button(:bib_done, true, checked: person.bib_done && (not person.bib_done.nil?))
    = f.label t(:yes)
    = f.radio_button(:bib_done, false, checked: (not person.bib_done) && (not person.bib_done.nil?))
    = f.label t(:no)
  .backend-field
    = f.label t(:other_designation)
    = f.text_field :other_designation
  .backend-field
    = f.label t(:affiliation)
    = f.text_field :affiliation
  .backend-field
    = f.label t(:country)
    = f.text_field :country
  .backend-field
    = f.label t(:comment)
    = f.text_area :comment
  .backend-field
    = f.label t(:viaf_id)
    = f.text_field :viaf_id
  .backend-field
    = f.label t(:nli_id)
    = f.text_field :nli_id
  .backend-field
    = f.label t(:blog_category_url)
    = f.text_area :blog_category_url, rows: 3, cols: 50
  .backend-field
    = f.label t(:wikidata_id)
    = f.text_field :wikidata_id, size: 10
  .backend-field
    = t(:wikipedia_url)
    = f.text_area :wikipedia_url, rows: 3, cols: 50
  %br
  .backend-field
    = t(:wikipedia_snippet)
    = f.text_area :wikipedia_snippet, rows: 8, cols: 50
  .backend-field
    = f.label t(:current_image)
    = image_tag person.profile_image.url(:thumb), alt: person.name
  .backend-field
    = f.label t(:upload_new_image)
    = f.file_field :profile_image
  .backend-field
    %b= t(:status)+': '
    = f.select :status, options_for_select(Person.statuses.map {|st| [t(st[0]), st[0]]}, person.status), {include_blank: true}
  .actions
    = f.submit t(:save)
