- get_genres.each do |genre|
  - if @works[genre].size > 0 || @translations[genre].size > 0
    .by-card-v02{id: 'works-'+genre, role: 'tabpanel'}
      .by-card-header-v02
        %span.by-icon-header-v02= glyph_for_genre(genre)
        %span.headline-1-v02= textify_genre(genre)
        - if @works[genre].size > 0
          .by-card-content-v02.mainlist{:style => "padding-top: 12px;"}
            %h3= t(:original)
            %ol
              - @works[genre].each do |m|
                %li
                  = link_to m.title, manifestation_read_path(m)
                  - if m.expressions[0].translation
                    = " #{t(:translated_by)} "
                    != m.expressions[0].translators.map{|p| link_to(p.name, author_toc_path(p))}.join('; ')

        - if @translations[genre].size > 0
          .by-card-content-v02{:style => "padding-top: 12px;"}
            %h3= t(:translation)
            %ol
              - @translations[genre].each do |m|
                %li
                  = link_to m.title, manifestation_read_path(m)
                  = t(:by)
                  = link_to m.expressions[0].works[0].first_author.name, author_toc_path(m.expressions[0].works[0].first_author)
