-# rubocop:disable Style/CaseLikeIf
%li{ style: toc_node.is_a?(TocTree::ManifestationNode) ? '' : 'margin-top: 15px; margin-bottom: 10px;' }
  - if toc_node.is_a?(TocTree::ManifestationNode)
    - m = toc_node.manifestation
    - genre = m.expression.work.genre
    %span.by-icon-v02{ title: t(genre) }>= glyph_for_genre(genre)
    &nbsp;
    :ruby
      label = m.title
      case role
      when :editor
        label += " / #{m.author_string}"
      when :translator
        label += " / #{authorities_string(m, :author)}"
        if m.translators.size > 1
          label += " / #{authorities_string(m, :translator, exclude_authority_id: authority_id)}"
        end
      when :author
        if m.authors.size > 1
          label += " / #{authorities_string(m, :author, exclude_authority_id: authority_id)}"
        end
      end

    - if m.published?
      = link_to label, manifestation_path(m)
    - else
      = label
  - elsif toc_node.is_a?(TocTree::CollectionNode)
    -# Collection node
    - collection = toc_node.collection
    - type_prefix = collection.collection_type == 'uncollected' ? '' : textify_collection_type(collection.collection_type)
    %span{style:'font-size:120%;'}
      = link_to collection.title, collection_path(collection)
      - if type_prefix.present?
        = " (#{type_prefix})"
    - if editable && (collection.collection_type == 'uncollected' || collection.involved_authorities.where(authority_id: authority_id).present?) # only show editable collections for collections where this particular author is a principal contributor
      = render partial: 'shared/manage_collection', locals: { collection: collection, title: collection.title, nonce: nonce }
    - else
      - children = toc_node.children_by_role(role, authority_id)
      - unless children.empty?
        %ul.toclist
          = render partial: 'authors/toc_node', collection: children,
                   locals: { role: role, authority_id: authority_id, editable: editable }
  - elsif toc_node.is_a?(TocTree::PlaceholderNode)
    -# Placeholder, toc_node should be a String with HTML layout
    - ci = toc_node.collection_item
    - if toc_node.markdown.present?
      != MultiMarkdown.new(ci.markdown).to_html
    - else
      = ci.alt_title
-# rubocop:enable Style/CaseLikeIf
