#toolbox.btn-group-vertical{role:'group', 'aria-label' => t(:toolbox)}
  %button.btn.share= t(:share)
  %button.btn#fontsize= t(:font_size)
  %button.btn#found_mistake= t(:found_mistake)
  %button.btn.download= t(:download)
  %button.btn.printbutton= t(:print)

#fontsizeDlg{title: t(:choose_font_size)}
  = render partial: 'shared/fontsize'

#shareDlg{title: t(:choose_sharing_medium)}
  .container-fluid
    = render partial: 'shared/share_controls'

:javascript
  // share button
  $('#shareDlg').dialog({
    autoOpen: false,
    height: 200,
    width: 250,
    modal: true,
    buttons: { "#{t(:cancel)}": function() { $('#shareDlg').dialog("close");} }
    });
  $('.share').click(function() {
    $('#shareDlg').dialog('open');
  });

  // font size button
  $('#fontsizeDlg').dialog({autoOpen:false, height:200, width:250, modal:false,buttons:{"#{t(:close)}": function(){$('#fontsizeDlg').dialog('close');}}});
  $('#fontsize').click(function() {
    $('#fontsizeDlg').dialog("open");
  });

  // download button
  $('#downloadDlg').dialog({autoOpen:false, height:400, width:600, modal:true, buttons:{"#{t(:close)}": function(){$('#downloadDlg').dialog('close');}}});
  $('.download').click(function() {
    $('#downloadDlg').dialog('open');
  });

  // print button
  $('.printbutton').click(function() {
    window.open("#{@print_url}",'_new');
  });
  $(window).scroll(function () {
    var $floatingbox = $('#toolbox');
    var bodyY = parseInt($('#maintext').offset().top) - 20;
    var originalX = $floatingbox.css('margin-right');

    var scrollY = $(window).scrollTop();
    var isfixed = $floatingbox.css('position') == 'fixed';

    if($floatingbox.length > 0){

    if ( scrollY > bodyY && !isfixed ) {
      $floatingbox.stop().css({
        position: 'fixed',
        //right: '50%',
        top: 20,
        //marginRight: -500
        });
    } else if ( scrollY < bodyY && isfixed ) {
      $floatingbox.css({
        position: 'relative',
        //right: 0,
        top: 0,
        //marginRight: originalX
        });
      }
    }
  });

