.modal-dialog
  .modal-content
    .container-fluid
      .modal-header
        .popup-top
          .row{:style => "padding:15px;margin: 0"}
            .col-3{:style => "padding: 0;"}
              %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                .btn-text-v02
                  %span.right-arrow 2
                  %span= t(:back)
            .col-6{:style => "padding: 0;"}
              .headline-2-v02{:style => "text-align: center;margin: 0; padding-top: 3px;"}= t(:latest_uploads_for, author: @author.name)
            .col-3
      .modal-body
        .by-popup-v02.popup-with-bottom-links
          %a.linkcolor.pointer.popup-x-v02{'data-dismiss'=>'modal'} -
          %img.surprise-author-card-bookmark-fold-v02{:alt => "", :height => "6", :src => "/assets/creator-bookmark-back2.png", :width => "168"}
          %a{href: author_toc_path(@author)}
            .surprise-author-card-v02
              %img.surprise-author-pic-v02{:alt => @author.name, src: @author.profile_image.url(:thumb), height: "686", width: "475"}
              .author-name-area
                .author-name-v02= to_the_author_page(@author)
          .by-card-header-v02
            %span.headline-1-v02= t(:latest_uploads_for, author: @author.name)
          .by-card-content-v02.card-with-bottom-links.whats-new-popup-content
            .surprise-author-card-content-v02
              %p!= @pubs
