-# Browse authors
.row
  .col-sm-12.col-md-4
    .by-card-v02#browse_intro{ style: "display:#{@filters.empty? ? 'block' : 'none'}" }
      .work-area
        .work-content
          .headline-1-v02= t(:welcome_to_authors_browsing)
          - if @total_pages > 1
            %p= t(:authors_browsing_intro_paging, total: @total)
          %p!= t(:authors_browsing_intro_html)
        .work-side-color
          .work-genre.author-side-default-picture
    .by-card-v02#sort_filter_panel{ style: 'display:none' }
      = render partial: 'browse_filters'
  .col-sm-12.col-md-8
    .by-card-v02#thelist
      = render partial: 'browse_list'

:javascript
  function submit_author_filters() {
    window.history.pushState($('#authors_filters').serialize(), null, '/authors');
    startModal('spinnerdiv');
    $('#authors_filters').submit();
  }
