-# Browse authors
#content.container-fluid
  .row.top-element
    .col-12.col-lg-4
      .by-card-v02.desktop-only#browse_intro{style:"display:#{ @filters.empty? ? 'block' : 'none'}"}
        .work-area
          .work-content
            .headline-1-v02= t(:welcome_to_authors_browsing)
            - if @total_pages > 1
              %p= t(:authors_browsing_intro_paging, {total: @total})
            %p!= t(:authors_browsing_intro_html)
          .work-side-color
            .work-genre.author-side-default-picture
      - if @filters.empty?
        .by-card-v02.text-sorting#sort_filter_panel{style: 'display:none'}
          .by-card-header-v02
            .headline-2-v02= t(:sort_by)
          .by-card-content-v02#filters_panel
            .temporary
      - else
        .by-card-v02.text-sorting#sort_filter_panel{style: 'display:block'}
          = render partial: 'browse_filters'
    .col-12.col-lg-8
      .by-card-v02#thelist
        = render partial: 'browse_list'
#mobileFilterDlg.modal{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1'}
  -# unless @filters.empty?
  -#  = render partial: 'mobile_filters', locals: {sortonly: false}
  -# else
  -#  = render partial: 'mobile_filters', locals: {sortonly: true}
