#maintext.top-element
  %h1= t(:current_toc)
  = render partial: 'toc'
  %p
  .card{style:'margin-right:20rem'}
    .card-content
      .credits
        %p.headline-3= t(:volunteers_who_helped, {author: @author.name, gender_letter: @author.gender_letter})
        != @credits

- unless @diff.nil? # we have a rejected update
  = t(:update_conflict)
  %br
  = t(:diff)
  != raw(@diff.to_s(:html))
  = t(:your_markdown)
  = @rejected_update
  %hr

%h1= t(:update_toc)
.markdown
  = form_tag(action: :edit_toc, id: @author.id) do
    %p
      = text_area_tag(:markdown, raw(@toc), size: "100x40")
      %br
      = label_tag :credits, t(:credit_section)
      = text_area_tag(:credits, raw(@credit_section), size:"50x20")
      %br
      = hidden_field_tag(:old_timestamp, @toc_timestamp)
      = submit_tag t(:update)

= link_to t(:back), :action => :list
