.top-element
  = render partial: 'shared/breadcrumbs'
  .container-fluid.welcome
    .row
      .col-md-12
        .welcome-author-content
          %h1= t(:authors_page)
          %p
            = t(:authors_totals_p1, {total: @author_stats[:total], pd: @author_stats[:pd]})
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_public_domain), 'data-content' => t(:public_domain_popover)
            = t(:authors_totals_p2, {permission: @author_stats[:permission]})
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_permission), 'data-content' => t(:permission_popover)
          %p{style:'font-size:1.4rem;margin-bottom:1.4rem'}
            = t(:if_you_meant_works)
            = link_to t(:to_the_works_page), works_path
  = render partial: 'shared/genre_navbar', locals: {genres_present: get_genres.push('translations').push('allwriters'), page: :authors}
  .container-fluid
    .row
      .col-md-1
      .col-md-10
        .row
          .col-md-4#authors_left_side{style:'padding-left:0'}
          .col-md-8#all_genres{style:'padding-right:0'}
            - right_side_genres.each do |g|
              - genre_name = textify_genre(g)
              %a{name: g+'_g'}
              %div{style:'padding-top:1.8rem'}
                %p.headline-2{style:'display:inline'}= link_to "#{t(:authors_of)} #{genre_name}", authors_index_path(genre: g)
                %p{style:'display: inline; padding-left: 1rem'}= "(#{@authors_by_genre[g]})"
              .card
                .container-fluid
                  .row
                    .col-md-6{style:'padding-top:2rem'}
                      %div{style:'padding-top:0.4rem;margin-bottom:-0.2rem'}
                        %p.headline-3!= '&nbsp;'
                      .row
                        .col-xs-12
                          .card.full-size-card.small-surprise
                            .bysurprise-pic
                              .bysurprise-portrait
                                %img{src: '/assets/tiny/placeholder_man.jpg', width:83}
                            .card-content.bysurprise-text{style:'align-content:center; text-align:center;position:relative'}
                              %a{ role: :button}
                                %div{style:'font-size:5rem;padding-top: 2rem;margin-bottom: -2rem'}
                                  %span.icon-bysurprise-author
                                %p.headline-3= t(:surprise_author_in_genre, genre: genre_name)
                            %div{style:'z-index: 1; position: absolute; left: 0;bottom: 0%; border-bottom-left-radius: 0.3rem; display: inline;overflow: hidden'}
                              %img{src:'/assets/corner.png', width:80, height:80}
                            .replace-icon.text-on-dark{style:'margin-bottom:0.6rem'}
                              %a.surprise_author_refresh{ role: :button}
                                %i.fa.fa-refresh
                      .row{style:'margin-top:4.3rem'}
                        .col-xs-12{style:'padding-right:0'}
                          %p.headline-3= t(:most_read_translated_authors_in_genre, genre: genre_name)
                      .row{style:'height:18.6rem; position:relative'}
                        .col-xs-12{style:'padding-right:0'}
                          %ol.mostread-translated
                            - @pop_by_genre[g][:xlat].each do |au|
                              %li= link_to au.name, author_toc_path(au)
                        %div{style:'position:absolute;bottom:0;left:0'}
                          %a.btn{href: authors_index_path(genre: g)}= t(:to_all_authors_in_genre, genre: genre_name)
                    .col-md-6
                      .row{style:'margin-top:1.4rem'}
                        .col-xs-1{style:'width:3rem'}
                        .col-xs-10{style:'padding-right:0;padding-top:2rem'}
                          %p.headline-3{style:'display:inline'}= "#{t(:sample_authors_of)} #{genre_name}"
                          %p{style:'display:inline'}= t(:random_order)
                        .col-xs-1
                      .row
                        = render partial: 'shared/author_cards', locals: {authors: @rand_by_genre[g], skip_title: true, id_frag: g+'_rand', surprise: false, size: :small}
                      .row{style:'margin-top:4.1rem'}
                        .col-xs-1{style:'width:3rem'}
                        .col-xs-10{style:'padding-right:0'}
                          %p.headline-3{style:'display:inline'}= t(:most_read_authors_of_genre, genre: genre_name)
                        .col-xs-1
                      .row
                        = render partial: 'shared/author_cards', locals: {authors: @pop_by_genre[g][:orig], skip_title: true, id_frag: g+'_pop', surprise: false, size: :small}
      .col-md-1

  - get_genres.each do |g|
    %h2= textify_genre(g)
    %h3= t(:most_popular_authors)
    %ol
      - @pop_by_genre[g][:orig].each do |au|
        %li= au.name
    %h3= t(:most_popular_translated_authors)
    %ol
      - @pop_by_genre[g][:xlat].each do |au|
        %li= au.name
    %h3= t(:random_authors)
    %ol
      - @rand_by_genre[g].each do |au|
        %li= au.name
  %h2= 'מבחר ראשוני'
  %ol
    - @authors_abc.each do |au|
      %li= au.name
:javascript
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      trigger: 'focus'
    });
  });
