.backend
  %h1= t(:manage_people)
  = link_to t(:new_person), authors_new_path
  %br
  = form_tag do
    = label_tag(t(:name))
    = text_field_tag(:q, @q)
    = submit_tag(t(:filter))

  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:name)
      %th= t(:metadata_approved)
      %th= t(:dates)
      %th= t(:other_designation)
      %th= t(:status)
      %th= t(:comment)
      %th= t(:viaf_id)
      %th= t(:nli_id)
      %th= t(:toc)
      %th
      %th
      %th
      %th

    - @people.each do |person|
      %tr
        %td= link_to person.name, authors_show_path(id: person.id)
        %td= person.metadata_approved ? t(:yes) : t(:no)
        %td= "#{person.birthdate}  - #{person.deathdate}"
        %td= person.other_designation
        %td
          = t(person.status)
          - if person.unpublished?
            %br
            = link_to t(:make_published), author_publish_path(id: person.id)
        %td= person.has_comment? ? '+' : ''
        %td= link_to person.viaf_id, "http://viaf.org/viaf/#{person.viaf_id}"
        %td= person.nli_id
        %td
          - if person.toc.nil?
            %span{style: 'color: red'}= t(:no_toc_yet)
          - elsif person.toc.status.nil? || person.toc.status == 'raw'
            %span{style: 'color: black'}= t(:raw)
          - else
            %span{style: 'color:green'}= t(:ready)
          %br
          = link_to t(:show_toc), person_path(person)
        %td= link_to t(:edit_metadata), authors_edit_path(id: person.id)
        %td
          - unless person.toc.nil?
            = link_to t(:edit_toc), authors_edit_toc_path(person)
        %td= link_to t(:bibliography), person.has_any_bibs? ? bib_person_path(person_id: person.id) : bib_index_path(person_id: person.id)
        %td= link_to t(:destroy), authors_destroy_path(id: person.id), :data => { :confirm => t(:are_you_sure) }

  %br

  != paginate @people
