.backend
  %h1= t(:manage_people)
  = link_to t(:new_person), authors_new_path
  %br
  = form_tag do
    = label_tag(t(:name))
    = text_field_tag(:q, @q)
    = submit_tag(t(:filter))

  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= Authority.human_attribute_name(:name)
      %th= t(:dates)
      %th= Authority.human_attribute_name(:other_designation)
      %th= Authority.human_attribute_name(:status)
      %th= Authority.human_attribute_name(:comment)
      %th= Authority.human_attribute_name(:viaf_id)
      %th= Authority.human_attribute_name(:nli_id)
      %th= t(:toc)
      %th
      %th
      %th
      %th

    - @authorities.each do |au|
      - link = au.any_bibs? ? bib_authority_path(authority_id: au.id) : bib_index_path(authority_id: au.id)
      %tr
        %td= link_to au.name, authors_show_path(id: au.id)
        %td!= au&.person&.life_years
        %td= au.other_designation
        %td
          = t(au.status)
          - if au.unpublished?
            %br
            = link_to t(:make_published), author_publish_path(id: au.id)
        %td= au.comment.present? ? '+' : ''
        %td= link_to au.viaf_id, "http://viaf.org/viaf/#{au.viaf_id}"
        %td= au.nli_id
        %td
          - if au.toc.nil?
            %span{ style: 'color: red' }= t(:no_toc_yet)
          - elsif au.toc.status.nil? || au.toc.status == 'raw'
            %span{style: 'color: black'}= t(:raw)
          - else
            %span{style: 'color:green'}= t(:ready)
          %br
          = link_to t(:show_toc), person_path(au)
        %td= link_to t(:edit_metadata), authors_edit_path(id: au.id)
        %td
          - unless au.toc.nil?
            = link_to t(:edit_toc), authors_edit_toc_path(au)
        %td= link_to t(:bibliography), link
        %td= link_to t(:destroy), authors_destroy_path(id: au.id), data: { confirm: t(:are_you_sure) }
  %br

  != paginate @authorities
