%h1= t(:list_people)
= form_tag do
  = label_tag(t(:name))
  = text_field_tag(:q, @q)
  = submit_tag(t(:filter))

%table{style: 'cell-spacing: 10;'}
  %tr
    %th= t(:name)
    %th= t(:metadata_approved)
    %th= t(:dates)
    %th= t(:other_designation)
    %th= t(:comment)
    %th= t(:viaf_id)
    %th= t(:nli_id)
    %th
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= link_to person.name, authors_show_path(id: person.id)
      %td= person.metadata_approved ? t(:yes) : t(:no)
      %td= "#{person.birthdate}  - #{person.deathdate}"
      %td= person.other_designation
      %td= person.has_comment? ? '+' : ''
      %td= person.viaf_id
      %td= person.nli_id
      %td
        - if person.toc.nil?
          %span{style: 'color: red'}= t(:no_toc_yet)
        - else
          = link_to t(:show_toc), author_toc_path(person)
      %td= link_to t(:edit), authors_edit_path(id: person.id)
      %td
        - unless person.toc.nil?
          = link_to t(:edit_toc), authors_edit_toc_path(person)
      %td= link_to t(:destroy), person, :method => :delete, :data => { :confirm => t(:are_you_sure) }


%br

= link_to t(:new_person), new_person_path
%br
= paginate @people
