.backend
  %h1= t(:manage_people)
  = link_to t(:new_person), authors_new_path
  %br
  = form_tag do
    = label_tag(t(:name))
    = text_field_tag(:q, @q)
    = submit_tag(t(:filter))

  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= Authority.human_attribute_name(:name)
      %th= t(:dates)
      %th= Authority.human_attribute_name(:other_designation)
      %th= Authority.human_attribute_name(:status)
      %th= Authority.human_attribute_name(:comment)
      %th= Authority.human_attribute_name(:viaf_id)
      %th= Authority.human_attribute_name(:nli_id)
      %th= t(:toc)
      %th
      %th
      %th
      %th

    - @authorities.each do |authority|
      - link = authority.any_bibs? ? bib_person_path(person_id: authority.id) : bib_index_path(person_id: authority.id)
      %tr
        %td= link_to authority.name, authors_show_path(id: authority.id)
        %td!= authority&.person&.life_years
        %td= authority.other_designation
        %td
          = t(authority.status)
          - if authority.unpublished?
            %br
            = link_to t(:make_published), author_publish_path(id: authority.id)
        %td= authority.comment.present? ? '+' : ''
        %td= link_to authority.viaf_id, "http://viaf.org/viaf/#{authority.viaf_id}"
        %td= authority.nli_id
        %td
          - if authority.toc.nil?
            %span{ style: 'color: red' }= t(:no_toc_yet)
          - elsif authority.toc.status.nil? || authority.toc.status == 'raw'
            %span{style: 'color: black'}= t(:raw)
          - else
            %span{style: 'color:green'}= t(:ready)
          %br
          = link_to t(:show_toc), person_path(authority)
        %td= link_to t(:edit_metadata), authors_edit_path(id: authority.id)
        %td
          - unless authority.toc.nil?
            = link_to t(:edit_toc), authors_edit_toc_path(authority)
        %td= link_to t(:bibliography), link
        %td= link_to t(:destroy), authors_destroy_path(id: authority.id), data: { confirm: t(:are_you_sure) }
  %br

  != paginate @authorities
