.backend
  %h1
    = @author.name
    - if @author.person&.period.present?
      (#{t(@author.person.period)})
  %b= Authority.human_attribute_name(:sort_name)
  = @author.sort_name
  %p
    %b= t(:last_update)+': '
    = @author.updated_at.to_s
  %p
    %b{ style: 'font-size: 2rem'}
      = link_to t(:edit_metadata), authors_edit_path(id: @author.id)
    != "&emsp;"
    - unless @author.toc.nil?
      %b{ style: 'font-size: 2rem'}
        = link_to t(:edit_toc), authors_edit_toc_path(id: @author.id)
    - else
      %b{ style: 'font-size: 1rem'}= t(:this_author_has_a_generated_toc)
    != "&emsp;"
    - link = @author.any_bibs? ? bib_authority_path(authority_id: @author.id) : bib_index_path(person_id: @author.id)
    %b{ style: 'font-size: 2rem'}
      = link_to link_to t(:bibliography), link
  %table
    %tr
      %td
        %h2= t(:basic_details)
      %td
        %h2= t(:identifiers)
    %tr
      %td
        -# ===== basic info =====
        - if @author.person.present?
          - person = @author.person
          %b= t(:life_years)
          != person.life_years
          - years_ago = person.died_years_ago
          - unless years_ago.zero?
            = "(#{t(:x_years_ago, years: person.died_years_ago)})"
          %br
          %b= Person.human_attribute_name(:gender)
          = t(person.gender.nil? ? :unknown : person.gender)
          %br
        - if @author.corporate_body.present?
          - corporate_body = @author.corporate_body
          %b= CorporateBody.human_attribute_name(:location)
          = corporate_body.location
          %br
          %b= CorporateBody.human_attribute_name(:inception_year)
          = corporate_body.inception_year
          %br
          %b= CorporateBody.human_attribute_name(:dissolution_year)
          = corporate_body.dissolution_year
          %br
        %b= Authority.human_attribute_name(:intellectual_property)
        :ruby
          color = case @author.intellectual_property
          when 'unknown'
            'red'
          when 'permission_for_all', 'permission_for_selected', 'copyrighted'
            @author.person.present? && @author.person.died_years_ago > 70 ? 'red' : 'green'
          else
            'green'
          end
        %span{ style: "color:#{color};" }= textify_intellectual_property(@author.intellectual_property)
        %br
        %b= Authority.human_attribute_name(:other_designation)
        = @author.other_designation
        %br
        %b= t(:country)
        = @author.country
        %br
        %b= t(:toc_status)
        = (@author.toc.nil? || @author.toc.status.nil?) ? t(:no_toc_yet) : t(@author.toc.status)
        %br
        %b= t(:comments)
        = @author.comment
        %br
        %b= Authority.human_attribute_name(:legacy_credits)
        = @author.legacy_credits
      %td
        -# ===== Identifiers =====
        %b= Authority.human_attribute_name(:nli_id)
        = @author.nli_id
        %br
        %b= Authority.human_attribute_name(:viaf_id)
        != "&rlm;"
        = @author.viaf_id
        %br
        %b= Authority.human_attribute_name(:blog_category_url)
        - unless(@author.blog_category_url.nil? or @author.blog_category_url.empty?)
          %a{ href: @author.blog_category_url}= t(:link)
        %br
        %b= Authority.human_attribute_name(:wikidata_uri)
        - if @author.wikidata_uri.present?
          = link_to @author.wikidata_uri, @author.wikidata_uri
        %br
        %b= Authority.human_attribute_name(:wikipedia_url)
        - unless @author.wikipedia_url.nil? or @author.wikipedia_url.empty?
          %a{ href: @author.wikipedia_url}= t(:to_the_wikipedia_article)
    %tr
      %td
        %h2= t(:content)
      %td
        %h2= t(:photo)
    %tr
      %td{style:'font-size:120%'}
        %h3= t(:status)
        = t(@author.status)
        - if @author.unpublished?
          %br
          = link_to t(:make_published), author_publish_path(id: @author.id)
        %p
        %h3= t(:works)
        %b= Authority.human_attribute_name(:bib_done)
        - if @author.bib_done
          %span{ style: 'color:green' }= link_to t(:yes), bib_authority_path({ authority_id: @author.id })
        - else
          %span{ style: 'color:red' }= link_to t(:no), bib_authority_path({ authority_id: @author.id })
        %br
        %b= t(:works)
        = link_to "#{@published_works} #{t(:original_works)}", authority_path(id: @author.id)
        - if @total_orig_works != @published_works
          = " #{t(:published)} + #{@total_orig_works - @published_works} #{t(:unpublished)}"
        %br
        %b= t(:translations_by)
        = link_to "#{@published_xlats} #{t(:translations)}", authority_path(id: @author.id)
        - if @total_xlats != @published_xlats
          = " #{t(:published)} + #{@total_xlats - @published_xlats} #{t(:unpublished)}"
        %br
        = render partial: 'aboutnesses', locals: { author: @author }
      %td
        %p
          = image_tag @author.profile_image.url(:thumb), alt: @author.name
        - if @author.profile_image.file?
          %br
          = link_to t(:delete_photo), delete_author_photo_path(id: @author.id), data: {confirm: t(:are_you_sure)}

  %p
  = link_to t(:back), authors_list_path
