/ Main author page
#maincontainer.container-fluid.top-element
  .row
    .col-sm-11
      %span{:class => 'author_title'}
        = @author.name
        != '&nbsp;'
      - unless (@author.dates.nil? or @author.dates.empty?)
        = '('+@author.dates+')'
      = ' | '
      = render partial: 'shared/copyright', locals: {copyright: (not @author.public_domain)}
      = ' | '
      = render partial: 'shared/author_links', locals: {author: @author}
  .row
    .col-sm-3
      = render partial: 'shared/read_controls', locals: {author: @author}
    .col-sm-7
      = render partial: 'wikipedia', locals: {author: @author}
      %br
      %b= t(:period)+': '
      = "  #{@author.period_string}"
    .col-sm-2
      = image_tag @author.profile_image.url(:thumb)
  #maintext.row
    .col-sm-10
      = render partial: 'toc', locals: {author: @author, html: @html}
    .col-sm-2
      = render partial: 'toolbox'

:javascript
  $(window).scroll(function () {
    var $floatingbox = $('#toolbox');
    var bodyY = parseInt($('#maintext').offset().top) - 20;
    var originalX = $floatingbox.css('margin-right');

    var scrollY = $(window).scrollTop();
    var isfixed = $floatingbox.css('position') == 'fixed';

    if($floatingbox.length > 0){

    if ( scrollY > bodyY && !isfixed ) {
      $floatingbox.stop().css({
        position: 'fixed',
        //right: '50%',
        top: 20,
        //marginRight: -500
        });
    } else if ( scrollY < bodyY && isfixed ) {
      $floatingbox.css({
        position: 'relative',
        //right: 0,
        top: 0,
        //marginRight: originalX
        });
      }
    }
  });

