/ Main author page
#maincontainer.container-fluid
  = render partial: 'shared/breadcrumbs', locals: {pagetype: :author, author: @author}
  = render partial: 'shared/tabs', locals: {tabclass: @tabclass}
  .row
    .col-sm-11
      %span{:class => 'author_title'}
        = @author.name
        != '&nbsp;'
      - unless (@author.dates.nil? or @author.dates.empty?)
        = '('+@author.dates+')'
      = ' | '
      = render partial: 'shared/copyright', locals: {copyright: (not @author.public_domain)}
      = ' | '
      = render partial: 'shared/author_links', locals: {author: @author}
  .row
    .col-sm-3
      = render partial: 'controls', locals: {author: @author}
    .col-sm-8
      = render partial: 'wikipedia', locals: {author: @author}
      %br
      %b= t(:period)+': '
      = "  #{@author.period_string}"
    .col-sm-1
      %img{ src: @author.image_url, width: "100%" }
  .row
    .col-sm-12
      = render partial: 'toc', locals: {author: @author, html: @html}
