- if params[:status].nil?
  %h1= t(:all_proofs)
- else
  %h1= t(:proofs_by_status, status => params[:status])

%table
  %tr
    %th= file
    %th= email
    %th= 'when'
    %th= status
  - @proofs.each do |p|
    %tr
      %td= link_to p.about, proof_show_path(p)
      %td= p.from
      %td= p.created_at
      %td= p.status

%p
  fesh

