.a-b-pagination-frame
  - letterset = @sort_dir == 'desc' ? @ab.reverse : @ab
  - if @emit_filters
    - letterset.each do |letter, status|
      - if status == :disabled
        %span= letter
      - elsif status == :in_range_disabled
        %span.in-range-disabled= letter
      - else
        %span{class: (status == :active ? 'letterbutton active' : 'letterbutton'), id: letter, style: 'cursor:pointer'}= letter
  - else
    - letterset.each do |letter, status|
      - url = request.original_url.match(/to_letter/) ? request.original_url.sub(/to_letter=.+/, 'to_letter='+letter) : (request.original_url.index('?') ? request.original_url + '&to_letter='+letter : request.original_url + '?to_letter='+letter)
      - if status == :disabled
        %span= letter
      - else
        = link_to letter, url, { 'class': (status == :active ? 'letterbutton active' : 'letterbutton'), remote: true, id: letter}
:javascript
  $(document).ready(function() {
    const filters = #{@emit_filters == true};
    $('.letterbutton').click(function(e){
      startModal('spinnerdiv');
      e.stopImmediatePropagation(); // prevent second pagination bar at bottom from also firing
      if(filters) {
        e.preventDefault();
        $('#toletter_tag').val($(this).attr('id'));
        form_elem = "##{filter_element}"
        $(form_elem).submit();
      }
      //setTimeout(function(){stopModal('spinnerdiv')}, 5000); // workaround
    });
  });
