%link{ rel:'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css'}
%script{ src: 'https://use.fontawesome.com/3f861a49f5.js'}

- form_id = 'works_filters'
= form_tag(works_path, remote: true, method: :post, id: form_id, autocomplete: :off) do
  = hidden_field_tag(:sort_by, @sort)
  .by-card-content-v02#filters_panel
    .headline-2-v02= t(:filter_by)
    %span.reset.linkcolor.pointer= t(:reset_filter)
    = render layout: 'shared/collapsible_block', locals: { container_name: 'collfauthor', title: t(:name) } do
      .search-mobile-switch
        %button.search-mobile-option.opt_workname= t(:work_title)
        %button.search-mobile-option.opt_authorname= t(:author_name)
      %break
      %input.field-v02.field-without-label#search_input{ placeholder: t(:what_to_search_for),
                                                         name: 'search_input',
                                                         type: :text,
                                                         value: @search_input}/
      = autocomplete_field_tag :authorstr, @authorstr, autocomplete_person_name_path,
                               id_element: '#author_id',
                               'data-noMatchesLabel' => t(:no_matches_found),
                               style:'display:none',
                               class: 'field-v02 field-without-label author-name-field',
                               id: 'authors',
                               placeholder: t(:author_names)
      = hidden_field_tag :author_id, @author_id.present? ? @author_id : nil
      .multi-name-sort.desktop-only.pointer
        %span.linkcolor.pointer{'data-toggle' => 'modal', 'data-target' => '#authorsDlg'}= t(:multiselect)
      = hidden_field_tag(:authors, @authors, id: 'author_ids')
      = hidden_field_tag(:authors_names, @authors_names, id: 'authors_names')

      = hidden_field_tag(:search_type, id: 'search_type')

    = render partial: 'shared/filters/checkbox_group',
             locals: { group_name: :gender,
                       title: t(:author_gender),
                       field_name: :ckb_genders,
                       all_values: Person.genders.keys,
                       selected_values: @genders,
                       facet: @gender_facet }

    = render partial: 'shared/filters/checkbox_group',
             locals: { group_name: :tgender,
                       title: t(:translator_gender),
                       field_name: :ckb_tgenders,
                       all_values: Person.genders.keys,
                       selected_values: @tgenders,
                       facet: @tgender_facet }

    = render partial: 'shared/filters/checkbox_group',
             locals: { group_name: :copyright,
                       title: t(:copyright_status),
                       field_name: :ckb_copyright,
                       all_values: [0, 1],
                       labels: {0 => t(:public_domain), 1 => t(:by_permission) },
                       selected_values: @copyright,
                       facet: @copyright_facet,
                       icons: {0 => 'm', 1 => 'x'} }

    = render partial: 'shared/filters/checkbox_group',
             locals: { group_name: :genre,
                       title: t(:genres),
                       field_name: :ckb_genres,
                       all_values: get_genres,
                       selected_values: @genres,
                       facet: @genre_facet,
                       icons: Work::GENRES.map { |g| [g, glyph_for_genre(g)] }.to_h }

    = render partial: 'shared/filters/checkbox_group',
             locals: { group_name: :period,
                       title: t(:periods),
                       field_name: :ckb_periods,
                       all_values: Expression.periods.keys,
                       selected_values: @periods,
                       facet: @period_facet }

    = render layout: 'shared/collapsible_block', locals: { container_name: 'collftags', title: t(:tags) } do
      = autocomplete_field_tag :tagstr, '', autocomplete_tag_name_path, id_element: '#tag_id', 'data-noMatchesLabel' => t(:no_matches_found), 'class' => 'field-v02 field-without-label author-name-field', id: 'tags', placeholder: t(:tag)
      = hidden_field_tag :tag_ids, @tag_ids, id: 'tag_ids'

    = render layout: 'shared/collapsible_block', locals: { container_name: 'collfdate', title: t(:thedate) } do
      .search-mobile-switch
        %button.search-mobile-option.datetype#published= t(:publication)
        %button.search-mobile-option.datetype#created= t(:creation)
        %button.search-mobile-option.datetype#uploaded= t(:upload)
        = hidden_field_tag(:date_type, '', id: 'date_type')
      %break
      .dates-range
        %input.datepicker.datetimepicker-input.field-v02.field-without-label.range-date-field#fromdate{:placeholder => t(:year), name: "fromdate", 'data-toggle' => 'datetimepicker', 'data-target' => '#fromdate' }/
        .date-range-to= t(:until)
        %input.datepicker.datetimepicker-input.field-v02.field-without-label.range-date-field#todate{:placeholder => t(:year), :style => "float: left", 'data-toggle' => 'datetimepicker', name: "todate", 'data-target' => '#todate'}/

    = render partial: 'shared/filters/languages', locals: { facet: @language_facet, selected_values: @languages }

    = hidden_field_tag(:search_after_value, '')
    = hidden_field_tag(:search_after_id, '')
    = hidden_field_tag(:page, '1')
    = hidden_field_tag(:reverse, 'false')
    = hidden_field_tag(:to_letter, @to_letter)
    .mobile-only
      .bottom-button-area
        %button.by-button-v02#apply_mobile_filters{ type: :submit }= t(:apply_mobile_filters)

:javascript
  function toggleSearchType(type) {
    $('#search_type').val(type);
    const author = (type == 'authorname');

    if (author) {
      $('.opt_authorname').addClass('active');
      $('.opt_workname').removeClass('active');
    } else {
      $('.opt_authorname').removeClass('active');
      $('.opt_workname').addClass('active');
    }
    if (!isMobile()) {
      $('.multi-name-sort').toggle(author);
    }
    $('#authors').toggle(author);
    $('#search_input').toggle(!author);
  }

  $(document).ready(function() {
    $('#sort_by_dd').val("#{@sort}");

    toggleSearchType('#{@search_type}');

    $('.datetype').click(function(e) {
      e.preventDefault();
      $('.datetype').removeClass('active');
      $(this).addClass('active');
      $('#date_type').val($(this).attr('id'));
    });

    $('.opt_authorname').click(function(e){
      e.preventDefault();
      toggleSearchType('authorname');
    });

    $('.opt_workname').click(function(e){
      e.preventDefault();
      toggleSearchType('workname');
    });

    var submit_timeout = null;
    $('#tags').on('railsAutocomplete.select', function(event, data){
      event.preventDefault();
      tag_id = data.item.tag_id.toString();
      $('#tag_ids').val( $('#tag_ids').val() == '' ? tag_id : $('#tag_ids').val()+','+tag_id);
      submit_filters();
    });

    $('#works_filters').on('change', function(e){
      if(e.target.id == 'tags') {
        return;
      }

      if(!isMobile()) {
        // On Desktop we automatically submit form after some values were changed by user
        if(submit_timeout != null){
          window.clearTimeout(submit_timeout);
        }
        resetPagination();
        submit_timeout = window.setTimeout(submit_filters, 300);
      }
    });

    $('.reset').click(function(){
      $('#works_filters').find(':input').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                $(this).val('');
                break;
            case 'checkbox':
            case 'radio':
                this.checked = false;
        }
      });

      $('#author_ids').val('');
      $('#tag_ids').val('');
      $('#authors_names').val('');
      resetPagination();
      submit_filters();
    });

    if("#{@datetype}" == "") {
      $('#created').addClass('active');
      $('#date_type').val('created');
    } else {
      $("##{@datetype}").addClass('active');
      $('#date_type').val("#{@datetype}");
    }

    $('.datepicker').datetimepicker({
      viewMode: 'years',
      rtl: true,
      format: 'L',
      locale: 'he',
      format: 'YYYY',
      maxDate: '#{@maxdate}',
      useCurrent: false,
      widgetPositioning: {horizontal: 'right', vertical: 'auto'},
      icons: {
        previous: 'fa fa-chevron-right',
        next: 'fa fa-chevron-left',
      }
    }).on('hide.datetimepicker', function(e){
      window.setTimeout(submit_filters, 2000);
    });

    if("#{@fromdate}" != "") {
      $('#fromdate').val("#{@fromdate}");
    }
    if("#{@todate}" != "") {
      $('#todate').val("#{@todate}");
    }
    $('#authors').bind('railsAutocomplete.select', function(event, data){
      event.preventDefault();
      $('#search_type').val('authorname');
      submit_filters();
    });

    $('#apply_mobile_filters').click(function() {
      resetPagination();
      // TODO: adjust
      $('#browse_intro').toggle();
      $('#sort_filter_panel').toggle();
      $('#thelist').toggle();
    });
  });
