.headline-2-v02= t(:filter_by)
%a.reset{:href => "#"}= t(:reset_filter)
.sort-type
  .vertical-expand
    .sort-type-headline= t(:name)
  .nested.active
    .row.nested-content
      = form_tag(request.original_url.sub(/page=\d+/,''), remote: true, method: :get) do
        .search-mobile-switch
          %button.search-mobile-option.active#opt_workname{:href => "#"}= t(:work_title)
          %button.search-mobile-option#opt_authorname{:href => "#"}= t(:author_name)
        %break
        %input.field-v02.field-without-label#search_input{:placeholder => t(:what_to_search_for), :type => "text"}/
        .multi-name-sort.pointer.notyet{style:'display:inline-block;'}
          %a{:href => "#"}= t(:multiselect)
        = hidden_field_tag :search_type, id: 'search_type', value: 'workname'
.sort-type
  .vertical-expand
    .sort-type-headline= t(:genres)
  .nested.active
    .row.nested-content
      - get_genres.each_slice((get_genres.size/2.0).round) do |genres|
        .col-md-6.col-sm-12
          - genres.each do |g|
            - attrs = @genre_facet[g].nil? ? {disabled: 'disabled'} : {}
            - attrs.merge!({:name => "ckb_genres", :type => "checkbox", value: g})
            %input#CheckboxGroup1{ attrs}/
            %label
              %span.by-icon-v02>= glyph_for_genre(g)
              = textify_genre(g)
              %span= "(#{@genre_facet[g] || '0'})"
            %br/
.sort-type
  .vertical-expand
    .sort-type-headline= t(:periods)
  .nested.active
    .row.nested-content
      - Expression.periods.invert.each_slice((Expression.periods.invert.size/2.0).round) do |periods|
        .col-md-6.col-sm-12
          - periods.each do |p|
            - attrs = @period_facet[p[0]].nil? ? {disabled: 'disabled'} : {}
            - attrs.merge!({:name => "ckb_periods", :type => "checkbox", value: p[1]})
            %input#CheckboxGroup2{ attrs}/
            %label
              = t(p[1])
              %span= "(#{@period_facet[p[0]] || '0'})"
            %br/
.sort-type
  .vertical-expand
    .sort-type-headline= t(:copyright_status)
  .nested.active
    .row.nested-content
      .col-md-6.col-sm-12
        %input#CheckboxGroup3{:name => "ckb_copyright", :type => "checkbox", value: "0"}/
        %label
          %span.by-icon-v02> m
          = t(:public_domain)
          %span= "(#{@copyright_facet[0]})"
        %br/
      .col-md-6.col-sm-12
        %input#CheckboxGroup3_3{:name => "CheckboxGroup3", :type => "checkbox", value: "1"}/
        %label
          %span.by-icon-v02> x
          = t(:by_permission)
          %span= "(#{@copyright_facet[1]})"
        %br/
.sort-type
  .vertical-expand
    .sort-type-headline מאפיינים
  .nested.active
    .row.nested-content
      .col-md-6.col-sm-12
        %input#CheckboxGroup4_1{:name => "CheckboxGroup4", :type => "checkbox", value: "sort_by_curatorial_content"}/
        %label
          תוכן אוצרותי
          %span (4)
        %br/
        %input#CheckboxGroup4_2{:name => "CheckboxGroup4", :type => "checkbox", value: "sort_by_recommendations"}/
        %label
          המלצות קוראים
          %span (12)
        %br/
        %input#CheckboxGroup4_3{:name => "CheckboxGroup4", :type => "checkbox", value: "sort_by_liked"}/
        %label
          יצירות שאהבתי
          %span (2)
      .col-md-6.col-sm-12
        %input#CheckboxGroup4_4{:disabled => "disabled", :name => "CheckboxGroup4", :type => "checkbox", value: "sort_by_active_bookmark"}/
        %label
          סימניה מופעלת
          %span (0)
        %br/
        %input#CheckboxGroup4_5{:name => "CheckboxGroup4", :type => "checkbox", value: "sort_by_no_properties"}/
        %label
          ללא מאפיינים
          %span (312)
.sort-type
  .vertical-expand
    .sort-type-headline תאריך
  .nested.active
    .row.nested-content
      .search-mobile-switch
        %button.search-mobile-option{:href => "#"} הוצאה
        %button.search-mobile-option.active{:href => "#"} יצירה
        %button.search-mobile-option{:href => "#"} העלאה
      %break
      .dates-range
        .dates-graph-area
        .range-outside
          .range-inside
            .range-handle-right
            .range-handle-left
        %input.field-v02.field-without-label.range-date-field{:placeholder => "dd-mm-yyyy", :type => "text"}/
        .date-range-to עד
        %input.field-v02.field-without-label.range-date-field{:placeholder => "dd-mm-yyyy", :style => "float: left", :type => "text"}/
.sort-type
  .vertical-expand
    .sort-type-headline שפת מקור
  .nested.active
    .row.nested-content{:style => "background-color: #d9cdd5"}
      %input#CheckboxGroup5_1{:name => "CheckboxGroup5", :type => "checkbox", value: "sort_by_translated"}/
      %label
        יצירות מתורגמות בלבד
        %span (963)
      %br/
    .row.nested-content
      .col-md-6.col-sm-12
        %input#CheckboxGroup5_2{:name => "CheckboxGroup5", :type => "checkbox", value: "sort_by_hebrew"}/
        %label
          עברית
          %span (8876)
        %br/
        %input#CheckboxGroup5_3{:name => "CheckboxGroup5", :type => "checkbox", value: "sort_by_russian"}/
        %label
          רוסית
          %span (503)
      .col-md-6.col-sm-12
        %input#CheckboxGroup5_4{:name => "CheckboxGroup5", :type => "checkbox", value: "sort_by_english"}/
        %label
          אנגלית
          %span (876)
        %br/
        %input#CheckboxGroup5_5{:name => "CheckboxGroup5", :type => "checkbox", value: "sort_by_german"}/
        %label
          גרמנית
          %span (442)
    .row.nested-content
      %a{:href => "#"} הצג עוד 18 שפות מקור
:javascript
  $(document).ready(function() {
    $('.multi-name-sort').hide();
    $('#opt_authorname').click(function(e){
      e.preventDefault();
      $('#opt_workname').removeClass('active');
      $('#opt_authorname').addClass('active');
      $('#search_type').val('authorname');
      $('.multi-name-sort').show();
      $('#search_input').addClass('author-name-field');
    });
    $('#opt_workname').click(function(e){
      e.preventDefault();
      $('#opt_workname').addClass('active');
      $('#opt_authorname').removeClass('active');
      $('#search_type').val('workname');
      $('.multi-name-sort').hide();
      $('#search_input').removeClass('author-name-field');
    });
  });
