%div#spinnerdiv{style: 'display: none; top: 50%; left: 50%;'}
  #floatingCirclesG
    #frotateG_01.f_circleG
    #frotateG_02.f_circleG
    #frotateG_03.f_circleG
    #frotateG_04.f_circleG
    #frotateG_05.f_circleG
    #frotateG_06.f_circleG
    #frotateG_07.f_circleG
    #frotateG_08.f_circleG

.by-card-header-v02
  .headline-2-v02= t(:x_works_plain, {x: @total})
  .filters
    - @filters.each do |f, id, which|
      %button.tag
        = f
        %span.pointer.tag-x{'data-ele': id, 'data-which' => which}= '-'
  / TODO: filter pills go here
.by-card-content-v02
  - unless @total_pages == 1
    = render partial: 'slide_pagination'
    - if @sort == 'alphabetical'
      = render partial: 'ab_pagination'
  .sort-buttons-area
    %button.btn-small-outline-v02.notyet{:href => "#"}
      .by-icon-top-v02.purple-v02 \
    %button.btn-small-outline-v02.notyet{:href => "#"}
      .by-icon-top-v02.purple-v02.icon-bysort-down
  .mainlist
    - pg = @page.to_i
    %ol{start: "#{pg > 1 ? pg*100 + 1 : 1}"}
      - @works.each do |m|
        %li= link_to m.title_and_authors, manifestation_read_path(m.id)
  - unless @total_pages == 1
    = render partial: 'slide_pagination'
    - if @sort == 'alphabetical'
      = render partial: 'ab_pagination'
  = hidden_field_tag(:hurl, request.original_url)
:javascript
  $(document).ready(function() {
    // Instantiate a slider
    var mySlider = $("input.slider").bootstrapSlider({
      tooltip: 'always',
    });
    var url = $('#hurl').val().replace(/page=\d+/, '');
    if(url.indexOf('?') == -1) {
      url = url + '?'
    }
    $("input.slider").on('slideStop', function(slideEvt){
      slideEvt.stopImmediatePropagation();
      filters = #{@emit_filters == true};
      if(filters) {
        $('#page_tag').val(slideEvt.value.toString());
        startModal('spinnerdiv');
        $('#works_filters').submit();
      } else {
        $.get(url+'&page='+slideEvt.value.toString(),'',null, 'script');
      }
    });
    $('.tag-x').click(function(){
      // uncheck/clear the appropriate field
      if($(this).attr('data-which') == 'text') {
        $('#'+$(this).attr('data-ele')).val('');
      } else {
        $('#'+$(this).attr('data-ele')).prop("checked", false);
      }
      // and submit the form
      startModal('spinnerdiv');
      $('form').submit();
    });
    // Call a method on the slider
    //var value = mySlider.slider('getValue');

  });