%div#spinnerdiv{style: 'display: none; top: 50%; left: 50%;'}
  #floatingCirclesG
    #frotateG_01.f_circleG
    #frotateG_02.f_circleG
    #frotateG_03.f_circleG
    #frotateG_04.f_circleG
    #frotateG_05.f_circleG
    #frotateG_06.f_circleG
    #frotateG_07.f_circleG
    #frotateG_08.f_circleG

.by-card-header-v02
  .headline-2-v02= t(:x_works_plain, {x: @total})
  .filters
    - @filters.each do |f, id, which|
      %button.tag
        = f
        %span.pointer.tag-x{'data-ele': id, 'data-which' => which}= '-'
.by-card-content-v02
  - unless @total_pages <= 1
    = render partial: 'shared/slide_pagination', locals: {collection: @works, element: '#works_filters', path: '/works'}
    - if @sort[0..11] == 'alphabetical'
      = render partial: 'ab_pagination', locals: {filter_element: 'works_filters'}
  .select-all-with-buttons
    .select-text-checkbox-area
      .select-all-checkbox
        %input#select-all{type: 'checkbox', style:'display:none'}
    %button.btn-small-outline-v02#multiselect_btn{title: t(:worklist_multi_tt)}
      .by-icon-v02.purple-v02 \
    .headline-4-v02= t(:sort_by)
    #sort-by
      %div
        #custom-select{title: t(:worklist_sort_tt)}
          %button#current_sort_by.btn-small-outline-v02
            .btn-text-v02#current_sort_text
          %select#sort_by_dd{name: 'sort_by'}
            %optgroup{label: t(:alefbet)}
              %option{value: 'alphabetical_asc', selected: @sort == 'alphabetical_asc' ? 'true': nil}= t(:alefbet_asc)
              %option{value: 'alphabetical_desc', selected: @sort == 'alphabetical_desc' ? 'true': nil}= t(:alefbet_desc)
            %optgroup{label: t(:popularity_group)}
              %option{value: 'popularity_desc', selected: @sort == 'popularity_desc' ? 'true': nil}= t(:popularity_desc)
              %option{value: 'popularity_asc', selected: @sort == 'popularity_asc' ? 'true': nil}= t(:popularity_asc)
            %optgroup{label: t(:dates)}
              %option{value: 'publication_date_asc', selected: @sort == 'publication_date_asc' ? 'true': nil}= t(:pubdate_asc)
              %option{value: 'publication_date_desc', selected: @sort == 'publication_date_desc' ? 'true': nil}= t(:pubdate_desc)
              %option{value: 'creation_date_asc', selected: @sort == 'creation_date_asc' ? 'true': nil}= t(:workdate_asc)
              %option{value: 'creation_date_desc', selected: @sort == 'creation_date_desc' ? 'true': nil}= t(:workdate_desc)
              %option{value: 'upload_date_asc', selected: @sort == 'upload_date_asc' ? 'true': nil}= t(:uploaddate_asc)
              %option{value: 'upload_date_desc', selected: @sort == 'upload_date_desc' ? 'true': nil}= t(:uploaddate_desc)

  .add-to-anthology{style:'display:none'}
    .left-pointing-arrow= t(:perform_add)
    %button.by-button-v02#add-to-anth-btn
      .by-icon-v02 &amp; D
  .mainlist#browse_mainlist
    - pg = @page.to_i
    %ol{style:"counter-reset:li #{pg > 1 ? (pg-1)*100 : 0}"}
      - decorator = browse_item_decorator_by_sort_type(@sort)
      - @works.each do |m|
        %li
          = link_to m.title_and_authors, manifestation_read_path(m.id)
          = decorator.call(m)
  - unless @total_pages <= 1
    = render partial: 'shared/slide_pagination', locals: {collection: @works, element: '#works_filters', path: '/works'}
    - if @sort[0..11] == 'alphabetical'
      = render partial: 'ab_pagination', locals: {filter_element: 'works_filters'}
  = hidden_field_tag(:hurl, request.original_url)
:javascript
  /**
   * Handle Animation (Start, Reset, Restart)
   * animationProprierties | Animation name, Animation time, Animation tween (Sample: animation 1s ease-in )
   * targetElementClass    | Target element class or id (Sample: .box)
   * 	 */
  function startAnimation (animationProprierties , targetElementClass) {
    var targetElement = $(targetElementClass)
    targetElement.css('animation', animationProprierties);
    targetElement.on('animationend webkitAnimationEnd oanimationend MSAnimationEnd', function () {
    targetElement.css('animation','');
    targetElement.off();
    });
  }
  $(document).ready(function() {
    // Instantiate a slider
    var mySlider = $("input.slider").bootstrapSlider({
      tooltip: 'always',
    });
    var url = $('#hurl').val().replace(/page=\d+/, '');
    if(url.indexOf('?') == -1) {
      url = url + '?'
    }
    $("input.slider").on('slideStop', function(slideEvt){
      slideEvt.stopImmediatePropagation();
      filters = #{@emit_filters == true};
      if(filters) {
        $('#page_tag').val(slideEvt.value.toString());
        window.history.pushState($('#works_filters').serialize(), null, '/works');
        submit_filters();
      } else {
        window.history.pushState($('#works_filters').serialize(), null, '/works');
        $.get(url+'&page='+slideEvt.value.toString(),'',null, 'script');
      }
    });
    $('.tag-x').click(function(){
      // uncheck/clear the appropriate field
      prefix = '';
      if(window.innerWidth < mobileWidth) {
        prefix = '#mobile_filters ';
      } else {
        prefix = '#works_filters ';
      }
        if($(this).attr('data-which') == 'text') {
        $(prefix + '#'+$(this).attr('data-ele')).val('');
      } else if($(this).attr('data-which') == 'authorlist') {
        $(prefix + '#author_ids').val('');
        $(prefix + '#authors_names').val('');
        $(prefix + 'input[name="ckb_authors[]"]').prop('checked', false);
      }
      else {
        $(prefix + '#'+$(this).attr('data-ele')).prop("checked", false);
      }
      // and submit the form
      $('#page_tag').val('1'); // reset pagination
      $('input').attr('disabled', false); // re-enable checkboxes to preserve other filters
      window.history.pushState($(prefix).serialize(), null, '/works');
      submit_filters();
      });

    $.fn.browse_multi_select_toggle = function() {
      // determine whether to toggle on or off
      if($('#browse_mainlist').hasClass('multiselect')) {
        $('#browse_mainlist').removeClass('multiselect');
        $('#multiselect_btn').removeClass('btn-active');
        $('#select-all').hide();
        $('.number-of-selected-texts').hide();
        $('.add-to-anthology').hide();
        $('#browse_mainlist ol input').remove();
        $('#selected_counter').text('0');
      } else {
        // turn on multi-select mode
        $('#browse_mainlist').addClass('multiselect');
        $('#multiselect_btn').addClass('btn-active');
        $('#select-all').show();
        $('.number-of-selected-texts').show();
        $('#browse_mainlist li').each(function() {
          $(this).prepend("<input class=\"multiselect_checkbox\" type=\"checkbox\" />");
        });

        $('.multiselect_checkbox').change(function() {
          if($(this).prop('checked') && $('.add-to-anthology').css('display') == 'none') {
            $('.add-to-anthology').show();
           	startAnimation('blink 2s ease-in','.add-to-anthology');
          }
          $('#selected_counter').text($('.multiselect_checkbox:checked').length);
        });
      }
    }
    $('#reset_multiselect').click(function() {
      $('.mainlist li input[type=checkbox]').prop('checked', false);
      $('#select-all').prop('checked', false);
      $('#selected_counter').text($('.multiselect_checkbox:checked').length);
    });
    $('#multiselect_btn').click(function(){
      $.fn.browse_multi_select_toggle();
    });
    $('#select-all').change(function(){
      $('.mainlist li input[type=checkbox]').prop('checked', $(this).prop('checked'));
      if($('.add-to-anthology').css('display') == 'none' && $(this).prop('checked')) {
        $('.add-to-anthology').show();
        startAnimation('blink 2s ease-in','.add-to-anthology');
      }
      $('#selected_counter').text($('.multiselect_checkbox:checked').length);
    });
    $('#sort_by_dd').change(function(){
      $('input[name=sort_by]').val($('#sort_by_dd option:selected').val());
      if($('#works_filters').length > 0) {
        $('#page_tag').val('1'); // reset pagination
        window.history.pushState($('#works_filters').serialize(), null, '/works');
        submit_filters();
      } else {
        startModal('spinnerdiv');
        window.location = "/works?sort_by="+$('#sort_by_dd option:selected').val();
      }
    });
    $('#add-to-anth-btn').click(function() {
      if(#{@anthology.nil? ? 'true' : 'false'} == true) {
        alert('create or select an anthology first.');
      } else {
        // add to current anth
        anthology_texts = []
        $('.multiselect_checkbox:checked').each(function(){
          hr = $(this).next().attr('href');
          mid = hr.substring(hr.lastIndexOf('/')+1);
          anthology_texts.push({manifestation_id: mid, anthology_id: $('#anth_id').val()});
        });

        $.ajax({
          type: "POST",
          url: '#{mass_create_anthology_texts_path}',
          dataType: 'script',
          data: { anthology_texts }
        });

      }
      // notify user
    });

    $('#current_sort_by').click(function(){
      $('#mobileFilterDlg').modal('show');
      $('.mobile-sort-area').show();
      $('.sort-by-mobile').show();
      $('.author-mobile-filters-area').hide();
      $('#opt_sort').addClass('active');
      $('#opt_filter').removeClass('active');
    });
    $('#current_sort_text').text($('#sort_by_dd option:selected').text());
  });