%div#spinnerdiv{style: 'display: none; top: 50%; left: 50%;'}
  #floatingCirclesG
    #frotateG_01.f_circleG
    #frotateG_02.f_circleG
    #frotateG_03.f_circleG
    #frotateG_04.f_circleG
    #frotateG_05.f_circleG
    #frotateG_06.f_circleG
    #frotateG_07.f_circleG
    #frotateG_08.f_circleG

.by-card-header-v02
  .headline-2-v02{:style => "display: inline"}
    = @total_headwords 
    = 'ערכים'
.by-card-content-v02
  - unless @total_pages <= 1
    = render partial: 'dict_slide_pagination'
    = render partial: 'ab_pagination', locals: {filter_element: 'dict_filters'}
  %div
    .switch-label תצוגה:
    .BYD-switch
      %button.search-mobile-option.active{:href => "#"} רשימת ערכים
      %button.search-mobile-option{:href => "#"} תקצירי ערכים
  .mainlist
    = hidden_field_tag(:hurl, request.original_url)
    %ol
      - skipped = 0
      - @headwords.each do |hw|
        - if hw.defhead.nil?
          - skipped += 1
        - else
          - if skipped > 0
            %p= t(:skipped_x_entries, x: skipped)
            - skipped = 0
          %li
            %a{href: '#'}= hw.defhead
  - unless @total_pages <= 1
    = render partial: 'dict_slide_pagination'
    = render partial: 'ab_pagination', locals: {filter_element: 'dict_filters'}
:javascript
  $(document).ready(function() {
    // Instantiate a slider
    var mySlider = $("input.slider").bootstrapSlider({
      tooltip: 'always',
    });
    var url = $('#hurl').val().replace(/page=\d+/, '');
    if(url.indexOf('?') == -1) {
      url = url + '?'
    }
  });