.advanced-pagination-area
  %span.by-icon-v02
    - unless @page == 1 || @page == '1'
      = link_to '{', update_param(request.original_url, 'page', '1'), {remote: true, id: 'firstnav', title: t(:worklist_first_page_tt)}
    - else
      %span.by-icon-v02.navdisabled= '{'
  = link_to_previous_page @headwords_page, '2', {class: 'by-icon-v02', remote: true, id: 'prevnav', title: t(:worklist_prev_page_tt)} do
    %span.by-icon-v02.navdisabled
      = '2'
  .advanced-pagination#pagination-slider{ title: t(:worklist_pagination_handle_tt)}
    .page= t(:page_x_of_y, {x: @page, y: @total_pages})
    %input.slider.progress-handle{'type': 'text', 'data-slider-min': 1, 'data-slider-max': @total_pages, 'data-slider-step':1, 'data-slider-value': @page, 'data-slider-handle': 'custom', title: t(:worklist_pagination_handle_tt)}
  .pageSelectorArea
    .pageSelector
      %div= t(:page_colon)
      %input.field-v02{:placeholder => @page, :type => "text"}
      %div= t(:out_of_x, {x: @total_pages})
  %span.by-icon-v02
    = link_to_next_page @headwords_page, '1', {remote: true, id: 'nextnav', title: t(:worklist_next_page_tt)} do
      %span.by-icon-v02.navdisabled= '1'
  - unless @page == @total_pages || @page.to_i == @total_pages
    %span.by-icon-v02
      = link_to '0', update_param(request.original_url, 'page', @total_pages.to_s), {remote: true, id: 'lastnav', title: t(:worklist_last_page_tt)}
  - else
    %span.by-icon-v02.navdisabled= '0'

:javascript
  var filters = #{@emit_filters == true};
  $(document).ready(function(){
    if(filters) {
      $('#firstnav').click(function(e){
        e.stopImmediatePropagation(); /* prevent second pagination bar at bottom from also firing */
        e.preventDefault();
        $('#page_tag').val('1');
        startModal('spinnerdiv');
        $('#dict_filters').submit();
      });
      $('#lastnav').click(function(e){
        e.stopImmediatePropagation();
        e.preventDefault();
        $('#page_tag').val('#{@total_pages}');
        startModal('spinnerdiv');
        $('#dict_filters').submit();
      });
      $('#nextnav').click(function(e){
        e.stopImmediatePropagation();
        e.preventDefault();
        $('#page_tag').val('#{@page.to_i + 1}');
        startModal('spinnerdiv');
        $('#dict_filters').submit();
      });
      $('#prevnav').click(function(e){
        e.stopImmediatePropagation();
        e.preventDefault();
        $('#page_tag').val('#{@page.to_i - 1}');
        startModal('spinnerdiv');
        $('#dict_filters').submit();
      });
    }
  });