.metadata
  / TODO: generalize for multiple authors
  .metadata_row
    %b
      = t(:author_name)+': '
    = link_to @author.name, author_toc_path(id: @author.id)
    - if @m.expressions[0].translation
      %br
      %b
        = t(:translator)+': '
      = link_to @translator.name, author_toc_path(id: @translator.id)
  /  .metadata_row
  /    %b
  /      = t(:published_in_book)+': '
  /    = 'TODO: book details'
  .metadata_row
    %b
      = t(:genre)+': '
    = textify_genre(@m.expressions[0].works[0].genre)
    != "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
    %b
      = t(:orig_lang)+': '
    = textify_lang(@m.expressions[0].works[0].orig_lang)
  .metadata_row
    .col-sm-6
      %b
        = link_to t(:recommendations), 'TODO: recommendations'
        = "(#{@m.recommendations.approved.count})"
    .col-sm-6
      %b
        = link_to t(:tags), 'TODO: tags'
        = "(#{@m.approved_tags.count})"
