.work-title.name-under-btn
  .headline-1-v02= @m.title
  - if current_user && current_user.editor?
    %span.static-btn= link_to t(:edit_metadata), manifestation_edit_metadata_path(@m.id)
    != "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
    %span.static-btn= link_to t(:edit_markdown), manifestation_edit_path(id: @m.id)
    != "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
    %span.static-btn= link_to t(:show), manifestation_show_path(@m.id)
    %br
  .headline-2-v02
    - unless @m.authors.nil? # shouldn't happen, but eh
      != @m.authors.map { |t| link_to(t.name, authority_path(t)) }.join(', ')
      - if @e.translation && @e.translators.size > 0
        %br
        = "#{t(:translation)}: "
        != @translators.map { |t| link_to(t.name, authority_path(t)) }.join(', ')
        - linktext = t(:from_lang) + textify_lang(@e.work.orig_lang)
        != " (#{linktext})"
  - if @e.translation 
    .origlang_details
      - if @w.origlang_title.present?
        %b= t(:origlang_title) + ': '
        = @w.origlang_title
        - if @m.external_links.where(linktype: ExternalLink.linktypes[:source_text]).any?
          = " (#{ @m.external_links.where(linktype: ExternalLink.linktypes[:source_text]).first.url.present? ? link_to(t(:in_orig_lang), @m.external_links.where(linktype: ExternalLink.linktypes[:source_text]).first.url, target: '_blank') : ''})"
  - if @illustrators.size > 0
    .headline-3-v02
      = "#{t(:illustrations_by)}: "
      != @illustrators.map { |t| link_to(t.name, authority_path(t)) }.join(', ')
  - if @editors.size > 0
    .headline-3-v02
      = "#{t(:editing_or_compilation)}: "
      != @editors.map { |t| link_to(t.name, authority_path(t)) }.join(', ')
  - if @volumes.present? && !@single_text_volume
    - @volumes.each do |v|
      = link_to "#{t(:inside)} #{v.title}#{v.subtitle.present? ? ': '+v.subtitle : ''}", collection_path(v)
      %br

%div
  .metadata
    = render partial: 'shared/intellectual_property', locals: { intellectual_property: @e.intellectual_property }
  .metadata
    %span.by-icon-v02.internal-genre-icon>= glyph_for_genre(@w.genre)
    = textify_genre(@w.genre)
  - if @e.translation?
    .metadata
      %span{:style => "font-weight:bold"}= t(:orig_lang)+': '
      = link_to textify_lang(@e.work.orig_lang), works_path + '?ckb_languages[]=' + @e.work.orig_lang
  - unless @e.source_edition.nil? || @e.source_edition.empty?
    .metadata
      %span{:style => "font-weight:bold"}= t(:source_edition)+': '
      - edition = @e.source_edition.strip
      - unless @e.date.nil? || @e.date.empty?
        - edition += ', '+@e.date
      = edition

  -# tags and recommendations
  - if tags_etc
    - publisher_link = @m.external_links.detect(&:linktype_publisher_site?)
    - if publisher_link.present?
      .metadata
        -# simple case: default title, link to url with description as link text
        - if publisher_link.description.index('&&&').nil?
          %span{style: 'font-weight: bold'}= t(:made_available_by)
          = link_to publisher_link.description, publisher_link.url
        - else # custom case: use description as raw-HTML format string, replacing &&&(.*)&&& with the link
          != publisher_link.description.sub(/&&&(.*)&&&/, "<a href=\"#{publisher_link.url}\" target=\"_blank\">\\1</a>")
    .metadata.mobile-work-details
      - if @taggings.approved.count > 0
        %span{:style => "font-weight:bold"}= t(:tags)+': '
        = render partial: 'shared/taggings', locals: {taggings: @taggings}
    .metadata.mobile-work-details
      - if @app_recs.count > 0
        %span{:style => "font-weight:bold"}= t(:recommendations)+': '
        %span.pointer.linkcolor#jump-to-recs= t(:this_work_has_x_recommendations, x: @recommendations.all_approved.count)
