%div{id: "work-more-from-author-#{author.id}"}
  .headline-3{style: 'margin:3rem 0 1.6rem 0;'}
    = t(:more_of_author, {author: author.name, gender_letter: author.gender_letter })
    = translation ? "(#{textify_role(role, author.gender)})" : ''
  %div{style:'margin-top:0'}
    .card.full-size-card{style:'min-height:26rem'}
      .creator-bookmark-back
        %img{src: '/assets/creator-bookmark-back2.png', alt: t(:background), width: 168, height: 6}
      .creator-bookmark-front
        %img{src: author.profile_image.url(:thumb), alt: author.name, width: 162}
      .card-content.near-picture
        %p
          %h5= t(:most_read_works_of_author, {author: author.name, gender_letter: author.gender_letter })
        %ol
          - author.most_read(5).each do |mhash|
            - unless mhash[:id] == @m.id # avoid linking to same work, in case it's one of the most popular
              %p
                %li
                  = link_to mhash[:title], manifestation_read_path(mhash[:id])
                  = " (#{textify_genre(mhash[:genre])})"
        - if translation && role == :translator
          %p{style:'margin:3.2rem 0 0 0'}= link_to t(:to_other_translations_of_author, {author: author.name}), author_toc_path(author.id, genre: 'translations')
        %p{style:'margin:3.2rem 0 0 0'}= link_to t(:to_the_works_in_the_genre_of_this_author, {author: author.name, genre: textify_genre(@w.genre)}), author_toc_path(author.id, genre: @w.genre)
        %p{style:'margin:1.2rem 0 0 0'}= link_to t(:to_all_the_works_of_this_author, {author: author.name}), author_toc_path(author.id)
