.row.topbar
  .col-lg-1
  .col-lg-10{style:'padding:0'}
    .row{style:'padding:0'}
      .col-sm-3
        / logo
        .logo-for-print
          = link_to '/' do
            %img.logoBY-v02{alt:t(:logo), src: '/assets/logo-byp-mobile.svg'}/
      .col-sm-6
        #work-name{style: 'text-align:center'}
          %p.headline-1{style:'margin-top:0;margin-bottom:0;font-size:2.2rem'}= @m.title
          %p.headline-3{style:'padding:0;display:inline;font-size:1.6rem'}
            = t(:by)+' '
            != @m.authors.map {|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
            - if @e.translation && @e.translators.size > 0
              %br
              = "#{t(:translation)}: "
              != @translators.map{|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
              = " (#{t(:from_lang)}#{textify_lang(@e.work.orig_lang)})"
      .col-sm-3
  .col-lg-1
