%div{id: "rec#{rec.id}", 'class' => "recommend-card-v02 #{last_item ? 'last-item' : ''}"}
  .new-info-v02.pointer.notyet 4
  - if pending
    .recommend-wait-confirm
      %i.fa.fa-clock-o
  .recommend-card-right-v02
    .recommend-card-pic-frame-v02
      = render partial: 'shared/user_pic', locals:{user: rec.user}
    .recommend-card-name
      = link_to rec.user.name, user_show_path(id: rec.user.id)
    .recommend-date= rec.created_at.to_date.strftime("%d.%m.%Y")
  .recommend-card-left-v02
    %p.text-height-recommend!= sanitize(rec.body).gsub("\n",'<br>')
    .read-more-v02
      %span.linkcolor.pointer.rec_popup_button{'data-recpath' => recommendation_display_path(rec.id)}
        %span{:style => "font-weight: bold"}= t(:rest_of_work)
        %span.left-arrow 1
    - if pending
      .recommend-close
        = link_to '×', rec, remote: true, method: :delete
