.advanced-pagination-area
  - unless @page == 1 || @page == '1'
    %div
      %span.by-icon-v02
        = link_to '{', update_param(request.original_url, 'page', '1'), remote: true, id: 'firstnav'
  %div
    %span.by-icon-v02
      = link_to_previous_page @works, '2', remote: true, id: 'prevnav'
  .advanced-pagination
    .page= t(:page_x_of_y, {x: @page, y: @total_pages})
    %input.slider{'type': 'text', 'data-slider-min': 1, 'data-slider-max': @total_pages, 'data-slider-step':1, 'data-slider-value': @page, style: 'width:100%'}
    /%span.progress-handle= "#{@total_pages}/#{@page}"
  %div
    %span.by-icon-v02
      = link_to_next_page @works, '1', remote: true, id: 'nextnav'
  - unless @page == @total_pages || @page.to_i == @total_pages
    %div
      %span.by-icon-v02
        = link_to '0', update_param(request.original_url, 'page', @total_pages.to_s), remote: true, id: 'lastnav'

:javascript
  var filters = #{@emit_filters == true};
  $(document).ready(function(){
    if(filters) {
      $('#firstnav').click(function(e){
        e.preventDefault();
        $('#page_tag').val('1');
        $('#works_filters').submit();
      });
      $('#lastnav').click(function(e){
        e.preventDefault();
        $('#page_tag').val('#{@total_pages}');
        $('#works_filters').submit();
      });
      $('#nextnav').click(function(e){
        e.preventDefault();
        $('#page_tag').val('#{@page.to_i + 1}');
        $('#works_filters').submit();
      });
      $('#prevnav').click(function(e){
        e.preventDefault();
        $('#page_tag').val('#{@page.to_i - 1}');
        $('#works_filters').submit();
      });
    }
  });