.row{style:'margin-left:10rem;margin-bottom:2rem;'}
  .col-md-2
    .genre-icon{style:'width:auto; display:inline;float:right;padding-top:1.5rem;font-size:7.5rem'}
      %span{:class => 'icon-bysurprise-work', style:'color: #910065;'}
  .col-md-10
    %div{style:'width:calc(100%-22rem);display:inline;float:right;'}
      %div{style:'margin-bottom:0.6rem'}
        %p.headline-3{style:'display:inline'}
          = link_to work.title, manifestation_path(work.id)
        %p.headline-4{style:'display:inline;margin-right:1rem;'}= "#{t(:by)} #{work.author_string} (#{textify_genre(work.expression.work.genre)})"
      %div{style:'height: 12rem; overflow:hidden; text-overflow: ellipsis;'}
        - opening = MultiMarkdown.new(get_intro(work.markdown)).to_html.force_encoding('UTF-8')
        %p!= opening
    %div{style:'float:right'}
      = link_to t(:to_the_full_work), manifestation_path(work.id)
