#toolbox.btn-group-vertical{role:'group', 'aria-label' => t(:toolbox)}
  %button.btn.btn-default= t(:reading_mode)
  %button.btn= t(:font_size)
  %button.btn= t(:bookmark)
  %button.btn= t(:like)
  %button.btn= t(:bookshelf)
  %button.btn= t(:found_mistake)
  %button.btn= t(:share)
  %button.btn= t(:download)
  %button.btn= t(:print)
  %button.btn= t(:cite)
  %button.btn= t(:additional)
  %button.btn= t(:rollup)

