#toolbox.btn-group-vertical{role:'group', 'aria-label' => t(:toolbox)}
  %button.btn.btn-default= t(:reading_mode)
  %button.btn#fontsize= t(:font_size)
  %button.btn= t(:bookmark)
  %button.btn= t(:like)
  %button.btn= t(:bookshelf)
  %button.btn#found_mistake= t(:found_mistake)
  %button.btn= t(:share)
  %button.btn= t(:download)
  %button.btn= t(:print)
  %button.btn= t(:cite)
  %button.btn= t(:additional)
  %button.btn= t(:rollup)

#proofSent
  %span{style:'color:green'}= t(:proof_thanks_html)
#fontsizeDlg
  = render partial: 'shared/fontsize'
#proofDlg
  .container-fluid
    = form_tag('/proof', remote: true, id: 'proof_form') do
      .row
        .col-sm-12
          = label_tag t(:your_selected_text)+':'
      .row
        .col-sm-12
          = text_area_tag(:highlight, '', id: 'proof_selected_text', rows: 7, cols:40, readonly:true, style:'background:#e4e4e4; width:70%;')
      .row
        %p
      .row
        .col-sm-3
          %button.btn#copy_proof{:type => 'button'}= t(:proof_copy_text)
        .col-sm-9
          = label_tag t(:proof_your_proofs)
      .row
        .col-sm-12
          = text_area_tag(:what, '', id: 'prooftext', rows: 7, cols: 40)
      .row
        .col-sm-12
          = label_tag t(:email)+':'
          %br
          = email_field_tag 'from', '', placeholder: t(:email)
          = hidden_field_tag(:manifestation, @m.id)
    #proof_status

:javascript
  // proof button
  $('#proofDlg').dialog({
    autoOpen: false,
    height:600,
    width:700,
    modal:true,
    buttons: {
      "#{t(:submit_proof)}": submitProof,
      "#{t(:cancel)}": function() { $('#proofDlg').dialog("close");}
    }
  });
  $('#proofSent').dialog({autoOpen:false, height:150, width:500, modal:true,buttons:{"#{t(:close)}": function(){$('#proofSent').dialog('close');}}});

  $('#proof_form').on('ajax:success', function(e, data, status, xhr) {
    $('#proofDlg').dialog("close");
    $('#proofSent').dialog('open');
  }).on('ajax:error', function(e, xhr, status, error) {
    $('#proof_status').html("<span style='color:red'>#{t(:proof_failed)}</span>");
  });
  function submitProof() {
   $('#proof_form').submit(); // TBD
  };
  $('#copy_proof').click(function() {
    $('#prooftext').text($('#proof_selected_text').text());
  });
  $('#found_mistake').click(function() {
    if(document.getSelection().toString() == '')
      alert("#{t(:proof_please_select_something)}");
    else
    {
      $('#proof_selected_text').text(document.getSelection().toString());
      $('#proofDlg').dialog("open");
    }
  });
  // font size button
  $('#fontsizeDlg').dialog({autoOpen:false, height:200, width:250, modal:false,buttons:{"#{t(:close)}": function(){$('#fontsizeDlg').dialog('close');}}});
  $('#fontsize').click(function() {
    $('#fontsizeDlg').dialog("open");
  });
