#toolbox.btn-group-vertical{role:'group', 'aria-label' => t(:toolbox)}
  %button.btn.btn-default= t(:reading_mode)
  %button.btn= t(:font_size)
  %button.btn= t(:bookmark)
  %button.btn= t(:like)
  %button.btn= t(:bookshelf)
  %button.btn#found_mistake= t(:found_mistake)
  %button.btn= t(:share)
  %button.btn= t(:download)
  %button.btn= t(:print)
  %button.btn= t(:cite)
  %button.btn= t(:additional)
  %button.btn= t(:rollup)

#proofDlg
  .container-fluid
  .row
    .col-sm-12
      %p= t(:your_selected_text)+':'
  .row
    .col-sm-12
      #proof_selected_text
  .row
  .row
    .col-sm-3
      %button.btn#copy_proof= t(:proof_copy_text)
    .col-sm-9
      = t(:proof_your_proofs)
  .row
    .col-sm-12
      %textarea#prooftext{rows:10, cols:40}

:javascript
  $('#proofDlg').dialog({
    autoOpen: false,
    height:500,
    width:700,
    modal:true,
    buttons: {
      "#{t(:submit_proof)}": submitProof,
      "#{t(:cancel)}": function() { $('#proofDlg').dialog("close");}
    }
  });
  function submitProof() {
   // TBD
  };
  $('#copy_proof').click(function() {
    $('#prooftext').text($('#proof_selected_text').text());
  });
  $('#found_mistake').click(function() {
    if(document.getSelection().toString() == '')
      alert("#{t(:proof_please_select_something)}");
    else
    {
      $('#proof_selected_text').text(document.getSelection().toString());
      $('#proofDlg').dialog("open");
    }
  });

