#toolbox.btn-group-vertical{role:'group', 'aria-label' => t(:toolbox)}
  %button.btn.btn-default= t(:reading_mode)
  %button.btn= t(:font_size)
  %button.btn= t(:bookmark)
  %button.btn= t(:like)
  %button.btn= t(:bookshelf)
  %button.btn#found_mistake= t(:found_mistake)
  %button.btn= t(:share)
  %button.btn= t(:download)
  %button.btn= t(:print)
  %button.btn= t(:cite)
  %button.btn= t(:additional)
  %button.btn= t(:rollup)

#proofDlg.dialog
  = t(:found_mistake)

:javascript
  function launchProof() {
    if(document.getSelection().toString() == '')
      alert("#{t(:proof_please_select_something)}");
    else
      $('#proofDlg').dialog("open");
      //alert("selected:\n\n"+document.getSelection().toString()+"\n\nNow submitting..."); // TBDa
    $('#found_mistake').click(hideProof);
  };
  function hideProof() {
    $('#proofDlg').hide();
    $('#found_mistake').click(launchProof);
  };
  function submitProof() {
   // TBD
  };
  $('#proofDlg').dialog({
    autoOpen: false,
    height:500,
    width:700,
    modal:true,
    buttons: {
      "#{t(:submit_proof)}": submitProof,
      Cancel: function() { this.dialog("close");}
    }
  });
  $('#found_mistake').click(launchProof);

