.container-fluid#header-general
  = render partial: 'shared/breadcrumbs'
  .top-space
  .work-page-top
    .work-page-top-info-card
      .headline-1-v02.work-name-top-mobile= @m.title
      .row
        .col-8
          .work-page-top-author
            .headline-3-v02
              = t(:by)+':'
              != @m.authors.map {|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
              - if @e.translation && @e.translators.size > 0
                .headline-3-v02
                  = "#{t(:translation)}: "
                  != @translators.map{|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
                  = " (#{t(:from_lang)}#{textify_lang(@e.works[0].orig_lang)})"
          - if @m.chapters? and @m.long?
            .work-chapters-dropdown-field-desktop#chapter_dropdown
              .field-v02
                =t(:jump_to_chapter)
                %span.dropdown-arrow )
              .by-dropdown-content-v02.dropdown_full-width#chapter_dropdown_content
                - @chapters.each do |ch|
                  %p.pointer.jumpch.linkcolor{style:'text-overflow: ellipsis;overflow-x: hidden;', 'data-target' => "ch#{ch[1]}"}= ch[0]
                - unless @curated_content.nil?
                  .dropdown-menu-seperator
                    %a{href:'#curated'}
                      %span.by-icon-v02.iconNearText-v02 Q
                      = t(:curated_content)
            .work-chapters-popup-mobile#chapter_mobile_dropdown
              %button.btn-small-outline-v02.btn-text-v02{href: "#"}
                = t(:jump_to)
              .by-dropdown-content-v02.dropdown_full-width#chapter_mobile_dropdown_content
                - @chapters.each do |ch|
                  %a.jumpch{style:'text-overflow: ellipsis;overflow-x: hidden;', 'data-target' => "ch#{ch[1]}", href:"#ch#{ch[1]}"}= ch[0]
                - unless @curated_content.nil?
                  .dropdown-menu-seperator
                    %a{href:'#curated'}
                      %span.by-icon-v02.iconNearText-v02 Q
                      = t(:curated_content)
        .col-4
          .work-page-top-icons-desktop
            .btn-small-outline-v02.btn-text-v02.reading-mode-btn-v02
              %a{:href => url_for(action: :readmode, id: @m.id)}
              %span.by-icon-v02.iconNearText-v02> /
              = t(:reading_mode)
            .top-left-icons-group
              .icon-in-group-v02.like
                %span.linkcolor.pointer.by-icon-v02= @liked ? '6' : '5'
              .icon-in-group-v02.notyet
                %span.linkcolor.pointer.by-icon-v02 b
              .icon-in-group-v02.notyet
                %span.linkcolor.pointer.by-icon-v02 D
              .icons-separator-white
              .icon-in-group-v02.citebutton
                %span.linkcolor.pointer.by-icon-v02 *
              .icon-in-group-v02.printbutton
                %span.linkcolor.pointer.by-icon-v02 9
              .icon-in-group-v02.download{'data-toggle' => 'modal', 'data-target' => '#downloadDlg', style: "margin-left:0;"}
                %span.linkcolor.pointer.by-icon-v02 3
          .work-page-top-icons-mobile
            %button.btn-small-outline-v02.btn-text-v02.reading-mode-icon-btn-v02{:href => "#"}
              %span.by-icon-v02 /
            .top-left-icons-group
              .icon-in-group-v02.like
                %span.linkcolor.pointer.by-icon-v02
                  = @liked ? '6' : '5'
              .icon-in-group-v02
                %span.by-icon-v02.linkcolor.notyet b
              #moreMobile.by-dropdown-v02
                %span#work-more
                  %span.linkcolor.by-icon-top-v02 Y
                #workmenu-more.by-dropdown-content-v02{:style => "left: 0; margin-top: 4px"}
                  %p.citebutton
                    %span.by-icon-v02.linkcolor.iconNearText-v02> *
                    = t(:cite)
                  %p.printbutton
                    %span.by-icon-v02.linkcolor.iconNearText-v02> 9
                    = t(:print)
                  %p.download{'data-toggle' => 'modal', 'data-target' => '#downloadDlg'}
                    %span.by-icon-v02.linkcolor.iconNearText-v02> 3
                    = t(:download)
                  %p.notyet
                    %span.by-icon-v02.linkcolor.iconNearText-v02> D
                    = t(:bookshelves)
    .row.error-found-row
      .col-2.side-nav-col
        - if @m.chapters? and @m.long?
          .side-menu-headline= t(:chapters_list)
          %nav#chapternav{'class' => 'navbar'}
            %ul.navbar-nav.flex-column.by-card-v02{'aria-orientation' => 'vertical'}
              - first = true
              - @chapters.each do |ch|
                %li.nav-item
                  %a.nav-chapter-name{'class' => 'nav-link nav-link-chapter pointer linkcolor '+(first ? ' active' : ''), href: "#ch#{ch[1]}", 'data-target' => "ch#{ch[1]}"}
                    = ch[0]
                - first = false
      .col{style:'z-order:-1;height:0;'}
      .col-4.error-found-col
        %button.error-found-btn#found_mistake{:href => "#"}
          .error-found
            .error-found-text
              = t(:found_br_mistake_html)
            .error-found-icon g
      .col-lg-4{style:'height:min-content'}
#citeDlg{style:'display:none'}
  = render partial: 'shared/cite', locals: {manifestation: @m}
#proofSent{style:'display:none'}
  %span{style:'color:green'}= t(:proof_thanks_html)
#proofDlg{style:'display:none'}
  .container-fluid
    = form_tag('/proof', remote: true, id: 'proof_form') do
      .row
        .col-sm-12
          = label_tag t(:your_selected_text)+':'
      .row
        .col-sm-12
          = text_area_tag(:highlight, '', id: 'proof_selected_text', rows: 7, cols:40, readonly:true, style:'background:#e4e4e4; width:70%;')
      .row
        %p
      .row
        .col-sm-9
          = label_tag t(:proof_your_proofs)
        .col-sm-3
          %button.btn#copy_proof{:type => 'button'}= t(:proof_copy_text)
      .row
        .col-sm-12
          = text_area_tag(:what, '', id: 'prooftext', rows: 7, cols: 40)
      .row
        .col-sm-12
          = label_tag t(:email)+':'
          %br
          = email_field_tag 'from', '', placeholder: t(:email)
          = hidden_field_tag(:manifestation, @m.id)
    #proof_status

:javascript
  $(document).ready(function(){
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll <= 200) {
        $('.nav-link').first().addClass('active');
      }
    });
    $('.jumpch').click(function(e) {
      e.preventDefault();
      anchor = $(this).attr('data-target');
      $('html, body').animate({
        scrollTop: $('a[name='+anchor+']').offset().top - $(header).height() - 65
      }, 800);
    });
    $('.nav-link').click(function(e) {
      e.preventDefault();
      anchor = $(this).attr('data-target');
      $('html, body').animate({
        scrollTop: $('a[name='+anchor+']').offset().top - $(header).height() - 65
      }, 800);
    });
    $('#chapter_dropdown').click(function(){
      if($('#chapter_dropdown_content').css('display') == 'block')
        $('#chapter_dropdown_content').css('display', 'none');
      else
        $('#chapter_dropdown_content').css('display', 'block');
    });
    $('#chapter_mobile_dropdown').click(function(){
      if($('#chapter_mobile_dropdown_content').css('display') == 'block')
        $('#chapter_mobile_dropdown_content').css('display', 'none');
      else
        $('#chapter_mobile_dropdown_content').css('display', 'block');
    });
    $('#work-more').click(function(){
      if($('#workmenu-more').css('display') == 'block')
        $('#workmenu-more').css('display', 'none');
      else
        $('#workmenu-more').css('display', 'block');
    });

    offsetTop = #{ @readmode ? 40 : 250 },
    // heart button
    $('.like').click(function(){ // toggle like/unlike
      if($('.like').find(".fa-heart").length > 0) { // already liked
        // unlike
        $.ajax({
          url: "#{url_for(action: :unlike, id: @m.id) }",
          //data: {user: '#{current_user.nil? ? '' : current_user.id}',
          //method: 'POST',
        });
        $('.fa-heart').removeClass('fa-heart').addClass('fa-heart-o');
      } else { // like
        $.ajax({
          url: "#{url_for(action: :like, id: @m.id) }",
          //data: {user: '#{current_user.nil? ? '' : current_user.id}',
          //method: 'POST',
        });
        $('.fa-heart-o').removeClass('fa-heart-o').addClass('fa-heart');
      }
    });
    // proof button
    $('#proofDlg').dialog({
      autoOpen: false,
      height:600,
      width:700,
      modal:true,
      buttons: {
        "#{t(:submit_proof)}": submitProof,
        "#{t(:cancel)}": function() { $('#proofDlg').dialog("close");}
      }
    });
    $('#proofSent').dialog({autoOpen:false, height:200, width:500, modal:true,buttons:{"#{t(:close)}": function(){$('#proofSent').dialog('close');}}});

    $('#proof_form').on('ajax:success', function(e, data, status, xhr) {
      $('#proofDlg').dialog("close");
      $('#proofSent').dialog('open');
    }).on('ajax:error', function(e, xhr, status, error) {
      $('#proof_status').html("<span style='color:red'>#{t(:proof_failed)}</span>");
    });
    function submitProof() {
      $('#proof_form').submit(); // TBD
    };
    $('#copy_proof').click(function() {
      $('#prooftext').text($('#proof_selected_text').text());
    });
    $('#found_mistake').click(function() {
      if(document.getSelection().toString() == '')
        alert("#{t(:proof_please_select_something)}");
      else
      {
        $('#proof_selected_text').text(document.getSelection().toString());
        $('#proofDlg').dialog("open");
      }
    });
    // download button
    //$('#downloadDlg').modal({autoOpen:false, height:500, width:600, modal:true, buttons:{"#{t(:close)}": function(){$('#downloadDlg').dialog('close');}}});
    /* $('.download').click(function() {
      $('#downloadDlg').modal('show');
    });
    */
    // print button
    $('.printbutton').click(function() {
      window.open("#{@print_url}",'_new');
    });

    // cite button
    $('#citeDlg').dialog({autoOpen:false, height:550, width:790, modal:true, buttons:{"#{t(:close)}": function(){$('#citeDlg').dialog('close');}}});
    $('.citebutton').click(function() {
      $('#citeDlg').dialog('open');
    });
  });