.container-fluid#header-general
  = render partial: 'shared/breadcrumbs'
  .top-space
  .work-page-top
    .work-page-top-info-card
      .headline-1-v02.work-name-top= @m.title
      .work-page-top-author
        .headline-3-v02
          = t(:by)+':'
          - unless @m.authors.nil?
            != @m.authors.map {|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
            - if @e.translation && @e.translators.size > 0
              .headline-3-v02
                = "#{t(:translation)}: "
                != @translators.map{|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
                = " (#{t(:from_lang)}#{textify_lang(@e.works[0].orig_lang)})"
          - else
            = '?'
      .row
        .col-12
          - if @m.chapters?
            .work-chapters-dropdown-field-desktop#chapter_dropdown
              .field-v02
                =t(:jump_to_chapter)
                %span.dropdown-arrow )
              .by-dropdown-content-v02.dropdown_full-width#chapter_dropdown_content
                - @chapters.each do |ch|
                  %p.pointer.jumpch.linkcolor{style:'text-overflow: ellipsis;overflow-x: hidden;', 'data-target' => "ch#{ch[1]}"}= ch[0]
                - unless @curated_content.nil?
                  .dropdown-menu-seperator
                    %a{href:'#curated'}
                      %span.by-icon-v02.iconNearText-v02 Q
                      = t(:curated_content)
            .work-chapters-popup-mobile#chapter_mobile_dropdown
              %button.btn-small-outline-v02.btn-text-v02{ 'data-toggle' => 'modal', 'data-target'=> '#chapterDlg'}
                = t(:jump_to)
          .work-page-top-icons-desktop
            %a.white{:href => url_for(action: :readmode, id: @m.id)}
              .btn-small-outline-v02.btn-text-v02.reading-mode-btn-v02{'title' => "#{t(:readmode_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }}
                = t(:reading_mode)
            .top-left-icons-group
              .icon-in-group-v02.like.must_login{'title' => "#{t(:work_liked_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }}
                - if @liked
                  %span.linkcolor.pointer.by-icon-v02.icon-byheart-full
                - else
                  %span.linkcolor.pointer.by-icon-v02.icon-byheart-empty
              .icon-in-group-v02.bookmark_button.must_login{'title' => "#{t(:bookmark_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }}
                %span.linkcolor.pointer.by-icon-v02.bookmark-status
                  / b
              - unless current_user
                .icon-in-group-v02.anthologies_button.must_login
                  %span.linkcolor.pointer.by-icon-v02 D
              - else
                .icon-in-group-v02.anthologies_button{'data-toggle' => 'modal', 'title' => "#{t(:open_shelves_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }, 'data-target' => '#anthologiesDlg'}
                  %span.linkcolor.pointer.by-icon-v02 D
                  - unless @anthology.nil?
                    .anthology-badge{style: "display: #{@anthology.texts.length > 0 ? 'block' : 'none'}"}
                      .badge-number= @anthology.texts.length.to_s

              .icons-separator-white
              .icon-in-group-v02.citebutton{'data-toggle' => 'modal', 'title' => "#{t(:cite_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }, 'data-target' => '#citeDlg'}
                %span.linkcolor.pointer.by-icon-v02 *
              .icon-in-group-v02.printbutton{'data-toggle' => 'tooltip', 'title' => "#{t(:work_print_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }}
                %span.linkcolor.pointer.by-icon-v02 9
              .icon-in-group-v02.download{'data-toggle' => 'modal', 'title' => "#{t(:work_download_tt)}", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }, 'data-target' => '#downloadDlg'}
                %span.linkcolor.pointer.by-icon-v02 3
              .icon-in-group-v02.pointer.sharebutton{title: "#{ t(:share_tt) }", 'data-selector' => 'true', 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'data-delay' => { "show": 200, "hide": 100 }, style: 'margin-left:0;'}
                %span.linkcolor.pointer.by-icon-v02 U
          .work-page-top-icons-mobile
            %a.btn-small-outline-v02.btn-text-v02.reading-mode-icon-btn-v02{href: url_for(action: :readmode, id: @m.id)}
              %span.by-icon-v02 /
            .top-left-icons-group
              .icon-in-group-v02.like.must_login
                - if @liked
                  %span.linkcolor.pointer.by-icon-v02.icon-byheart-full
                - else
                  %span.linkcolor.pointer.by-icon-v02.icon-byheart-empty
              .icon-in-group-v02
                %span.by-icon-v02.linkcolor.notyet.bookmark-status b
              #moreMobile.by-dropdown-v02
                %span.linkcolor#work-more
                  %span.by-icon-top-v02 Y
                #workmenu-more.by-dropdown-content-v02{:style => "left: 0; margin-top: 4px"}
                  %p.citebutton
                    %span.by-icon-v02.linkcolor.iconNearText-v02> *
                    = t(:cite)
                  %p.printbutton
                    %span.by-icon-v02.linkcolor.iconNearText-v02> 9
                    = t(:print)
                  %p.download
                    %span.by-icon-v02.linkcolor.iconNearText-v02> 3
                    = t(:download)
                  %p.anthologies_button{'data-toggle' => 'modal', 'data-target' => '#anthologiesDlg'}
                    %span.by-icon-v02.linkcolor.iconNearText-v02> D
                    = t(:bookshelves)
    .row.error-found-row
      .col-2.side-nav-col
        - if @m.chapters?
          .side-menu-headline= t(:chapters_list)
          %nav.navbar#chapternav
            %ul.nav.navbar-nav.navbar-expand.flex-column.by-card-v02#chapter-nav{style:'width: unset', 'aria-orientation' => 'vertical'}
              - first = true
              - @chapters.each do |ch|
                %li.nav-item
                  %a{'class' => 'nav-link nav-chapter-name nav-link-chapter pointer linkcolor '+(first ? ' active' : ''), href: "#ch#{ch[1]}", id: "nl#{ch[1]}", 'data-asaf' => "ch#{ch[1]}",'data-toggle' => 'tooltip', 'title' => ch[0], 'data-placement' => 'top', 'data-delay' => { "show": 500, "hide": 100 }}
                    = ch[0]
                - first = false
      .col{style:'z-index:-1;height:0;'}
      .col-4.error-found-col
        %button.error-found-btn#found_mistake{title: t(:report_error_tt)}
          .error-found
            .error-found-text
              = t(:found_br_mistake_html)
            .error-found-icon g
      .col-lg-4{style:'height:min-content'}
.bookmark_notification

:javascript
  $(document).ready(function(){
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if(scroll <= 200) {
        $('.nav-link').first().addClass('active');
      }
    });
    $('.nav-link').click(function(e) { /*
      e.preventDefault();
      $(this).tooltip('hide');
      anchor = $(this).attr('data-asaf');
      $('html, body').animate({
        scrollTop: $('a[name='+anchor+']').offset().top - $('header').height() - 45
      }, 800);
      $('header').addClass("scrolled");
      $('html, body').animate({ // re-adjust, after the header height changed
        scrollTop: $('a[name='+anchor+']').offset().top - $('header').height() - 45
      }, 0, function(){ $('.work-content').focus(); });
      */
    });
    $('#chapter_dropdown').click(function(){
      if($('#chapter_dropdown_content').css('display') == 'block')
        $('#chapter_dropdown_content').css('display', 'none');
      else
        $('#chapter_dropdown_content').css('display', 'block');
    });

    $('#work-more').click(function(){
      if($('#workmenu-more').css('display') == 'block')
        $('#workmenu-more').css('display', 'none');
      else
        $('#workmenu-more').css('display', 'block');
    });
    $('.bookmark_button').click(function(e){
      if(!#{current_user.nil?}) {
        if( $('p.bookmark').length > 0 ) {
          $('html, body').animate({
            scrollTop: $('.bookmark').offset().top - $('#header').height() - 30
          }, 800);
        } else {
          alert("#{t(:bookmark_mode_begin)}");
          $('body').css('cursor', 'crosshair');
          $('#actualtext').click(function(e){
            $('body').css('cursor', 'default');
            // set bookmark
            y = e.pageY - $(window).scrollTop();
            elem = document.elementFromPoint(e.pageX, y);
            if(elem != null) {
              bookmark_p = $(elem).index();
              $(elem).addClass('bookmark');
              url = "#{raw url_for(action: :set_bookmark, id: @m.id, bookmark_p: 99999)}";
              $.ajax({url: url.replace('99999',bookmark_p.toString()) });
            }
            $('#actualtext').off('click'); // disable handler
          });
        }
      }
    });

    offsetTop = #{ @readmode ? 40 : 250 },
    $('.like').click(function(){ // toggle like/unlike
      if("#{current_user}" != '') {
        if($('.like').find(".icon-byheart-full").length > 0) { // already liked
          // unlike
          $.ajax({
            url: "#{url_for(action: :unlike, id: @m.id) }",
          });
          $('.icon-byheart-full').removeClass('icon-byheart-full').addClass('icon-byheart-empty');
        } else { // like
          $.ajax({
            url: "#{url_for(action: :like, id: @m.id) }",
          });
          $('.icon-byheart-empty').removeClass('icon-byheart-empty').addClass('icon-byheart-full');
        }
      }
    });
    $('.printbutton').click(function() {
      window.open("#{@print_url}",'_blank');
    });
    $('.sharebutton').click(function(){
      $('#shareDlg').modal('show');
    });
    // ensure smooth scrollTo behavior
    $('.ch_anch').css('padding-top', $('header').height());
    $('.ch_anch').css('margin-top', -$('header').height());
    if(#{@bookmark}) {
      $($('#actualtext').children()[#{@bookmark}]).addClass('bookmark');
    }
  });