-# Browse works
#content.container-fluid
  .row.list-all-texts
    .col-sm-12.col-md-4
      .by-card-v02#browse_intro{ style: "display:#{@filters.empty? ? 'block' : 'none'}" }
        .work-area
          .work-content
            .headline-1-v02= t(:welcome_to_works_browsing)
            %p!= t(:works_browsing_intro_html)
          .work-side-color
            .work-genre.prose-side-icon
      .by-card-v02.text-sorting#sort_filter_panel{ style: 'display:none' }
        = render partial: 'browse_filters'
    .col-sm-12.col-md-8
      .by-card-v02#thelist
        = render partial: 'browse_list'

#authorsDlg.modal{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1'}
  = render partial: 'authors_select', locals: {authors: @authors, list: @authors_list}
- if current_user
  = render partial: 'shared/anth_stuff'

:javascript
  function submit_filters() {
    window.history.pushState($('#works_filters').serialize(), null, '/works');
    startModal('spinnerdiv');
    $('#works_filters').submit();
  }
