%main
  .top-element
  #content.container-fluid.BYD
    .row
      .col-12.col-lg-5.col-xxxl-4.BYD-welcome
        .by-card-v02#dict_intro{style:"display:#{ @filters.empty? ? 'show' : 'none'}"}
          .work-area
            .work-content
              .headline-1-v02 ברוכים הבאים למילון אליעזר בן-יהודה
              %p העלאת מילון אליעזר בן-יהודה לרשת היא תהליך ארוך שעדיין נמצא בעיצומו. לאתר פרויקט בן-יהודה הועלו עד עתה 10,878 ערכים מתוך כעשרים וחמישה אלף ערכים שנמצאים במילון המקורי.
              %p הערכים מוצגים בצורתם המקורית ככל הניתן, תוך שימור הפורמט ההיסטורי הייחודי של המילון.
              %p בעמוד זה מוצגת רשימת הערכים, כאשר ניתן לבחור להציג את שמות הערכים בלבד או רשימת ערכים הכוללת תקצירים של פירושי הערכים.
              %p בגלל אורכה, הרשימה מחולקת לעמודי משנה המכילים עד מאה ערכים כל אחד.
              %p ניתן לדפדף ברשימה באמצעות הבקרים הנמצאים מעל ומתחת לרשימה, המאפשרים מעבר עמודים ואיתור האות הראשונה של כל ערך.
              %p בנוסף, ניתן להפעיל פעולות סינון המאפשרות צמצום הרשימה על ידי בחירה של מאפיינים שונים.
              %p למען הפשטות, העמוד נטען תחילה ללא פקדי סינון, ורק לאחר שהמשתמש בוחר בכך יופיע לוח בקרת הסינון במקום טקסט הסבר זה.
              %p
                להפעלת אפשרויות הסינון ניתן להפעיל את המתג בבר העליון או
                = succeed "." do
                  %a{:href => "#"} ללחוץ כאן
            .work-side-color
              .work-genre.prose-side-icon
        - if @filters.empty?
          .by-card-v02.text-sorting#dict_filter_panel{style: 'display:none'}
            .by-card-header-v02
              .headline-2-v02= t(:filter)
            .by-card-content-v02#filters_panel
              .temporary
        - else
          .by-card-v02.text-sorting#dict_filter_panel{style: 'display:show'}
            = render partial: 'dict_filters'
        
      .col-12.col-lg-7.col-xxxl-8
        .by-card-v02#thelist
          = render partial: 'dict_list'
:javascript
  $(document).ready(function() {
    // Instantiate a slider
    var mySlider = $("input.slider").bootstrapSlider({
      tooltip: 'always',
    });
  });