/ TODO: a whole bunch of editable WEM fields
.top-element
%h3= @m.title_and_authors
= form_tag(action: :update, id: @m.id) do
  .markdown_container
    %div{ style:"vertical-align:top; width: 30%;display:flex;margin-right:10px;flex-direction:column;height:100%;box-sizing:border-box;float:left;padding-right:7px;"}
      #legacy_markdown_link
        %h2= t(:markdown)
        %b= t(:make_corrections_below)
      .markdown
        = text_area_tag(:markdown, raw(@markdown), class: 'textarea100')
    %h2= t(:display_text)
    %div{ style:"vertical-align:top; width: 70%; padding-left:10px;padding-right:15px;background:#d2cfcf;"}
      != raw(@html)
      %br

  %hr
  .backend-field
    = label_tag t(:conversion_verified)
    = t(:yes)
    = radio_button_tag(:conversion_verified, true, @m.conversion_verified)
    = t(:no)
    = radio_button_tag(:conversion_verified, false, (not @m.conversion_verified))
  %p
    = submit_tag t(:save)

:javascript
  jQuery(document).ready(function() {
    var newsize = $('.markdown_container').height() - $('#legacy_markdown_link').height(); // this is horrible, but I've given up on getting the textarea to auto-fill the container height. :((
    $('.markdown').css('height', newsize);
    $('.textarea100').css('height', newsize);
  });
