.top-element
  = form_tag(action: :update, id: @m.id) do
    %h1= t(:edit_metadata)+': '+@m.title_and_authors

    %h2= t(:work_entity_details)
    %p
      %b= t(:title) + ': '
      = text_field_tag :wtitle, @w.title
    %p
      %b= t(:genre) + ': '
      = select_tag :genre, options_for_select(get_genres.map {|genre| [I18n.t(genre), genre]}, @w.genre), {include_blank: true}
    %p
      %b= t(:language) + ': '
      = select_tag :wlang, options_for_select(get_langs.map {|lang| [textify_lang(lang), lang]}, @w.orig_lang.nil? ? 'he' : @w.orig_lang)
    %p
      %b= t(:origlang_title)+': '
      = text_field_tag :origlang_title, @w.origlang_title
    %p
      %b= t(:thedate) + ': '
      = text_field_tag :wdate, @w.date
    %p
      %b= t(:comments)+': '
      = text_area_tag :wcomment, @w.comment
    = render partial: 'shared/associated_people', locals: { which: :work, work: @w, edit: true}
    %h2= t(:expression_details)
    %p
      %b= t(:title) + ': '
      = text_field_tag :etitle, @e.title
    %p
      %b= t(:genre) + ': '
      = textify_genre(@e.genre) # should be identical to work's genre, so not editable
    %p
      %b= t(:thedate) + ': '
      = text_field_tag :edate, @e.date
    %p
      %b= t(:copyright_status)
      = textify_copyright_status(@e.copyrighted) # TODO: make editable
    %p
      %b= t(:language) + ': '
      = select_tag :elang, options_for_select(get_langs.map {|lang| [textify_lang(lang), lang]}, @e.language.nil? ? 'he' : @e.language)
    %p
      %b= t(:source_edition) + ': '
      = text_field_tag :source_edition, @e.source_edition
    %p
      %b= t(:comments)+': '
      = text_area_tag :ecomment, @e.comment
    = render partial: 'shared/associated_people', locals: { which: :expression, expression: @e, edit: true}

    %h2= t(:manifestation_details)
    %p
      %b= t(:title) + ': '
      = text_field_tag :mtitle, @m.title
    %p
      %b= t(:responsibility_statement) + ': '
      = text_field_tag :mresponsibility, @m.responsibility_statement # TODO: make editable?
    %p
      %b= t(:publisher_details) + ': '
      != "#{@m.publisher}, #{@m.publication_place}&rlm;: #{@m.publication_date}."
    %p
      %b= t(:comments)+': '
      = text_area_tag :mcomment, @m.comment
    = render partial: 'shared/associated_people', locals: { which: :manifestation, manifestation: @m, edit: true}
    %hr
    %h2= t(:external_links)
    = render partial: 'external_links', locals: { links: @m.external_links, edit: true }
    = t(:add)
    = text_field_tag :add_url
    = t(:link_type)
    = select_tag :link_type, options_for_select(Manifestation.link_types.map {|lt| [t(lt[0]), lt[1]]})
    %br
    = t(:description)
    = text_field_tag :link_description
    %p
      = submit_tag t(:save)

