.top-element.backend
  = form_tag(action: :update, id: @m.id) do
    %h1= @page_title

    %h2= t(:work_entity_details)
    %p
      %b= t(:title) + ': '
      = text_field_tag :wtitle, @w.title, size: 75
    %p
      %b= t(:genre) + ': '
      = select_tag :genre, options_for_select(get_genres.map {|genre| [I18n.t(genre), genre]}, @w.genre), {include_blank: true}
    %p
      %b= t(:language) + ': '
      = select_tag :wlang, options_for_select(get_langs.map {|lang| [textify_lang(lang), lang]}, @w.orig_lang.nil? ? 'he' : @w.orig_lang)
    %p
      %b= t(:origlang_title)+': '
      = text_field_tag :origlang_title, @w.origlang_title, size: 90
    %p
      %b= t(:thedate) + ': '
      = text_field_tag :wdate, @w.date
    %p
      %b= t(:comments)+': '
      = text_area_tag :wcomment, @w.comment, rows: 4, cols: 40
    = render partial: 'shared/associated_people', locals: { which: :work, work: @w, edit: true}
    = render partial: 'aboutnesses', locals: {edit: true, add: true}
    %h2= t(:expression_details)
    %p
      %b= t(:title) + ': '
      = text_field_tag :etitle, @e.title, size: 75
    %p
      %b= t(:genre) + ': '
      = textify_genre(@e.genre) # should be identical to work's genre, so not editable
    %p
      %b= t(:thedate) + ': '
      = text_field_tag :edate, @e.date
    %p
      %b= t(:period) + ': '
      = select_tag :period, options_for_select(Person.periods.map{|p| [t(p[0]), p[0]]}, @e.period), include_blank: true
    %p
      %b= t(:language) + ': '
      = select_tag :elang, options_for_select(get_langs.map {|lang| [textify_lang(lang), lang]}, @e.language.nil? ? 'he' : @e.language)
    %p
      %b= t(:source_edition) + ': '
      = text_field_tag :source_edition, @e.source_edition
    %p
      %b= t(:comments)+': '
      = text_area_tag :ecomment, @e.comment, rows: 4, cols: 40
    %p
      %h3= t(:copyright_status)
      = radio_button_tag :public_domain, true, @e.copyrighted.nil? ? false : (not @e.copyrighted)
      = label_tag t(:public_domain)
      = radio_button_tag(:public_domain, false, @e.copyrighted.nil? ? false : @e.copyrighted)
      = label_tag t(:by_permission)
      / = textify_copyright_status(@e.copyrighted) # TODO: make editable
    = render partial: 'shared/associated_people', locals: { which: :expression, expression: @e, edit: true}

    %h2= t(:manifestation_details)
    %p
      %b= t(:status)+': '
      = select_tag :mstatus, options_for_select(Manifestation.statuses.map {|st| [t(st[0]), st[1]]}, @m.status)
    %p
      %b= t(:title) + ': '
      = text_field_tag :mtitle, @m.title, size: 75
    %p
      %b= t(:sort_title) + ': '
      = text_field_tag :sort_title, @m.sort_title, size: 75
    %p
      %b= t(:responsibility_statement) + ': '
      = text_field_tag :mresponsibility, @m.responsibility_statement # TODO: make editable?
    %p
      %b= t(:publisher_details) + ': '
      != "#{@m.publisher}, #{@m.publication_place}&rlm;: #{@m.publication_date}."
    %p
      %b= t(:comments)+': '
      = text_area_tag :mcomment, @m.comment, rows: 4, cols: 40
    / = render partial: 'shared/associated_people', locals: { which: :manifestation, manifestation: @m, edit: true}
    %hr
    %h2= t(:external_links)
    %b= t(:sefaria_linker)
    = check_box_tag :sefaria_linker, 1, @m.sefaria_linker
    %br
    = render partial: 'external_links', locals: { links: @m.external_links, edit: true }
    = t(:add_url)
    = text_field_tag :add_url
    = t(:link_type)
    = select_tag :link_type, options_for_select(ExternalLink.linktypes.map {|lt| [t(lt[0]), lt[1]]})
    %br
    = t(:description)
    = text_field_tag :link_description
    %p
      = submit_tag t(:save)
= link_to t(:back), action: :show, id: @m.id