.backend
  .container-fluid
    .row
      .col-md-1
      .col-md-10
        %h1= t(:catalog_title)
        %p
          %b= link_to t(:upload_file), html_file_new_path

        %p= t(:total_manifestations, :total => @total)

        / query interface
        %p
          = form_tag( :action => 'list') do
            = label_tag(:title_l, t(:title))
            /= hidden_field_tag(:title, session[:mft_q_params][:title])
            = autocomplete_field_tag :title, session[:mft_q_params][:title], autocomplete_manifestation_title_path, 'data-noMatchesLabel' => t(:no_matches_found)

            = label_tag(:author_l, t(:author))
            /= text_field_tag(:author, session[:mft_q_params][:author])
            = autocomplete_field_tag :author, session[:mft_q_params][:author], autocomplete_person_name_path, 'data-noMatchesLabel' => t(:no_matches_found)
            = submit_tag(t(:filter))

        / end query interface
        = render partial: 'list', locals: {manifestations: @manifestations}
        != paginate @manifestations, :params => session[:mft_q_params]

      .col-md-1
:javascript
  $(document).ready(function(){
    $('#title').bind('railsAutocomplete.select', function(event, data){
      /* Do something here */
      window.location.href = "#{@urlbase}"+data.item.id
    });

  });
