%h1= t(:catalog_title)

%p= t(:total_manifestations, :total => @total)

/ query interface
%p
  = form_tag( :action => 'list') do
    = label_tag(:title_l, t(:title))
    = text_field_tag(:title, session[:mft_q_params][:title])
    = label_tag(:author_l, t(:author))
    = text_field_tag(:author, session[:mft_q_params][:author])
    = submit_tag(t(:filter))

/ end query interface
%table
  %th= t(:author)
  %th= t(:title)
  %th= '...'
  %th= '...'
  %th= t(:actions)

  - @manifestations.each do |m|
    %tr
      %td= m.expressions[0].works[0].people[0].name
      %td= m.title
      %td= '...'
      %td= '...'
      %td= link_to t(:render), :action => 'render_html', :id => m

!= paginate @manifestations, :params => session[:mft_q_params]
