/ standard display mode. "reading mode" implemented in readmode.html.haml
#maincontainer.container-fluid.top-element
  = render partial: 'shared/breadcrumbs'
  /.scroll-gradient-b
  = render partial: 'toolbox'
  .row
    .col-xs-12{style:'margin-left:2rem;margin-right:2rem;'}
      .work-area#work-side
        .container-fluid
          .row
            .col-md-9#work-metadata{style: 'padding-right:0'}
              .work-name
                %p.headline-1= @m.title
                - if current_user && current_user.editor?
                  %span.static-btn= link_to t(:edit_metadata), manifestation_edit_metadata_path(@m.id)
                  != "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                  %span.static-btn= link_to t(:edit_markdown), manifestation_edit_path(id: @m.id)
                  %br
                %p.headline-3{ style: 'padding:0;display:inline'}
                  = t(:by)+':'
                  != @m.authors.map {|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
                  - if @e.translation && @e.translators.size > 0
                    = ", #{t(:translation)}: "
                    != @translators.map{|t| link_to(t.name, author_toc_path(id: t.id))}.join(', ')
                    = " (#{t(:from_lang)}#{textify_lang(@e.works[0].orig_lang)})"
              - unless @links.empty?
                .row
                  .col-md-2
                    %p= t(:our_own_content)
                  .col-md-10{style:'display:inline-block'}
                    - [:youtube, :blog].each do |linktype|
                      - ll = @links[Manifestation.link_types[linktype]]
                      - unless ll.nil?
                        = render partial: 'shared/work_links', locals: {linktype: linktype, links: ll}
              .row{style:'padding-top:0.6rem'}
                .col-md-2
                  %p= t(:copyright_status)+':'
                .col-md-10
                  = render partial: 'shared/copyright', locals: {copyright: @m.copyright?}
              - unless @e.source_edition.nil? || @e.source_edition.empty?
                .row{style:'padding-top:0.6rem'}
                  .col-md-2
                    %p= t(:source_edition)+': '
                  .col-md-10
                    .card-header-element{style:'margin-left:2.4rem'}
                      %p
                        - edition = @e.source_edition.strip
                        - unless @e.date.nil? || @e.date.empty?
                          - edition += '; '+@e.date
                        = edition
                    /.card-header-element
                    /  = link_to '#' do
                    /    = t(:edition_details)
                    /    %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
              .row{style:'padding-top:0.6rem'}
                .col-md-2
                  %p= t(:genre)+': '
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to textify_genre(@e.works[0].genre), url_for(action: :genre, genre: @e.works[0].genre)
                  .card-header-element
                    = t(:orig_lang)+': '
                    = textify_lang(@e.works[0].orig_lang)
              .row{style:'padding-top:0.6rem'}
                .col-md-2
                  %p= t(:additional_content)
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to '#tags' do
                      = t(:tags)
                      = "(#{@m.approved_tags.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to '#recommendations' do
                      = t(:recommendations)
                      = "(#{@recommendations.all_approved.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  - unless @links.empty? || @links[Manifestation.link_types[:wikipedia]].nil?
                    .card-header-element
                      = link_to @links[Manifestation.link_types[:wikipedia]][0].url do
                        .icon.card-header-element
                          %i.fa.fa-wikipedia-w{style:'font-size: 1.4rem'}
                        .card-header-element
                          %p= t(:to_the_wikipedia_article)
              %br{style: 'clear: both;'}
            .col-md-3#work-share1{style:'padding-left: 0;padding-right: 0;'}
              = render partial: 'shared/sharing_etc', locals: {context: :work}
        .card.work-card{style:'margin-top:0;padding-top:0'}
          .work-text{style:'margin-top:0;padding-top:0'}
            - unless @bookmark.nil?
              .bookmark
                / $("#button").click(function() {
                /  $('html, body').animate({
                /    scrollTop: $("#elementtoScrollToID").offset().top
                /  }, 2000);
                / });
                = link_to '#' do
                  %span.icon-bybookmark-go-to
            %div{style:'position:absolute;background:#eeeced;width:100%;height:9rem;margin-top:0;padding-top:0;left:0.3rem'}
            .row.stickysearch{style:'opacity:1;background-color:#eeeced;margin-top:0;padding-top:0'}
              = render partial: 'search_and_chapters'
            / TODO: more nuanced rendering here
            - if @m.as_prose?
              #actualtext.maintext-prose-body.search-margin
                != raw(@html)
            - else
              #actualtext.maintext-poetry-body.search-margin
                != raw(@html)
            - if @m.chapters? and @m.long?
              = render partial: 'chapter_links'
          / place bookmark element if @bookmark
          / .bookmark
          /   = link_to '#'
          /     %i.icon-bybookmark
          .work-pic
            .work-gradient-pic
              %img#authorpic{ src: @author.profile_image.url(:full), alt: @author.name }

.container-fluid#extra_container{style:'margin-top:3rem'}
  .row
    .col-md-1
    .col-md-10.col-sm-12.col-xs-12
      .work-area
        .headline-3{style: 'margin:2rem 0', 'data-toggle'=>'collapse','data-target'=>'#extra_collapsible'}
          %span.pointer= t(:tags_etc_title)
          != '&nbsp;&nbsp;'
          %i.fa.chevron.baseline{style:'display:inline'}
        .row.collapse.in#extra_collapsible
          .col-md-9#more-right{style: 'padding-right:0; padding-left: 10rem'}
            - cache "#{@m.id}_extras" do
              / תגיות
              #tags
                .headline-3= t(:tags_for_work)
                = render partial: 'shared/taggings', locals: {taggings: @taggings}
                - unless current_user.nil?
                  #add-tag{style:'display:inline;float:left'}
                    = form_for @tagging, remote: true do
                      %div{style: 'display:inline;float:right;margin-top:0.6rem;'}
                        = autocomplete_field_tag :tag, '', autocomplete_tag_name_path, 'data-noMatchesLabel' => t(:no_matches_found)
                        = hidden_field_tag :manifestation_id, @tagging.manifestation_id
                        = hidden_field_tag :suggested_by, @tagging.suggested_by
                      %div{style: 'display:inline'}
                        %input.btn{type: :submit, value: t(:suggest_new_tag), style: 'margin-top:0.6rem; background-color: #d9cdd5'}
              / המלצות
              #recommendations_panel
                #recommendations
                  .headline-3{style:'display:inline'}= t(:recommendations_for_work)
                  %div{style:'display:inline;padding-right:1rem'}= t(:x_liked_y_recommended, {x: @m.like_count, y: @recommendations.all_approved.count})
                  - @recommendations.all_approved.each do |r|
                    = render partial: 'recommendation', locals: {rec: r, pending: false}
                  - my_pendings = @recommendations.all_pending.where(user: current_user)
                  - unless my_pendings.nil?
                    - my_pendings.each do |r|
                      = render partial: 'recommendation', locals: {rec: r, pending: true}
                / הוספת המלצה
                - unless current_user.nil?
                  .card{style:'background-color:#fff'}
                    .row.recommendation{style:'min-height:inherit'}
                      .rec-user
                        .rec-user-pic
                          = render partial: 'shared/user_pic', locals:{user: current_user}
                        .rec-user-name=link_to current_user.name, user_show_path(id: current_user.id)
                      = form_for(@new_recommendation, remote: true) do |f|
                        .rec-txt
                          %div{style:'display:inline;float:right;margin-top:1.3rem;width:100%'}
                            = f.text_area(:body, size: '70x4',placeholder: t(:offer_a_recommendation), id: 'new_rec_text')
                        %div
                          = hidden_field_tag :manifestation_id, @m.id
                          %input.btn{type: :submit, value: t(:submit), style:'margin-top:2.7rem;margin-left:1.5rem;background-color:#d9cdd5'}
            / אזכורים TODO: implement
            / עוד מאותו יוצר
            - if @e.translation && @e.translators.size > 0
              = render partial: 'more_from_author', locals: {author: @author, translation: true, role: :author }
              = render partial: 'more_from_author', locals: {author: @e.translators[0], translation: true, role: :translator }
            - else
              = render partial: 'more_from_author', locals: {author: @author, translation: false}

            / מי שקרא גם קרא TODO: implement
            / הפתעה
            .headline-3{style:'margin-top:3rem'}= t(:surprise)
            .card.genre-card.small-surprise{style:'height:auto; margin-top:1rem;position:relative'}
              .corner
                %img{src: '/assets/corner.png', alt: t(:background), width: 80, height: 80}
              .card-content#random_work
                = render partial: 'surprise_work', locals: {work: @random_work}
              %div{style:'z-index: 1; position: absolute; left: 0;bottom: 0%; border-bottom-left-radius: 0.3rem; display: inline;overflow: hidden'}
                %img{src:'/assets/corner.png', alt: t(:background), width: 80, height:80}
              %div
                .replace-icon.text-on-dark{style:'margin-bottom:0.6rem'}
                  %a.surprise-work-refresh{ role: :button}
                    %i.fa.fa-refresh
          .col-md-3#more-left{style:'padding-left:0;padding-right:0'}
            #work-share2{style:'padding-top:1.6rem'}
              = render partial: 'shared/sharing_etc', locals: {context: :work}
    .col-md-1

:javascript
  $(document).ready(function(){
    $('.surprise-work-refresh').click(function(){
      $('#random_work').load("#{url_for(action: :surprise_work)}");
    });
    $('#authorpic').width($('.work-gradient-pic').width());
  });
