/ standard display mode. "reading mode" implemented in readmode.html.haml
#content.container-fluid.top-element
  .row
    .col-12.col-lg-8
      .row
        .col.work-side-menu-area
        .col
          .by-card-v02.work-info-card
            %img.about-work-card-bookmark-fold-v02{alt: t(:background), src: '/assets/creator-bookmark-back2.png'}/
            .about-work-author-card-v02
              %img.about-work-author-pic-v02{alt: @author.name, src: @author.profile_image.url(:thumb)}/
            .by-card-content-v02
              .work-title.name-under-btn
                .headline-1-v02= @m.title
                .headline-2-v02= link_to @author.name, author_toc_path(@author.id)
              %div
                .work-details
                  - if @m.copyright?
                    %span.by-icon-v02.copyright-icon> m
                    = textify_copyright_status(false)
                    = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_public_domain), 'data-content' => t(:public_domain_popover)
                  - else
                    %span.by-icon-v02.copyright-icon> x
                    = textify_copyright_status(true)
                    = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_permission), 'data-content' => t(:permission_popover)
                .work-details
                  %span.by-icon-v02.internal-genre-icon>= glyph_for_genre(@e.genre)
                  = textify_genre(@e.genre)
                - if @e.translation?
                  .work-details
                    %span{:style => "font-weight:bold"}= t(:orig_lang)+': '
                    = textify_lang(@e.works[0].orig_lang)
                - unless @e.source_edition.nil? || @e.source_edition.empty?
                  .work-details
                    %span{:style => "font-weight:bold"}= t(:source_edition)+': '
                    - edition = @e.source_edition.strip
                    - unless @e.date.nil? || @e.date.empty?
                      - edition += '; '+@e.date
                    = edition

                .work-details.mobile-work-details
                  %span{:style => "font-weight:bold"} תוויות:
                  %button.tag ספרות עכשווית
                  %button.tag ישראליות
                  %button.tag תל אביב
                .work-details.mobile-work-details
                  %span{:style => "font-weight:bold"} המלצות:
                  %a{:href => "#"} 3 המלצות קוראים
          .by-card-v02
            .row.work-area
              .col-md-9.work-content
                / TODO: more nuanced rendering here
                - if @m.as_prose?
                  #actualtext.maintext-prose-body.search-margin
                    != raw(@html)
                - else
                  #actualtext.maintext-poetry-body.search-margin
                    != raw(@html)
              .col-md-3.work-side-color
                %div{'class' => "work-genre #{@e.genre}-side-icon"}

:javascript
  $(document).ready(function() {
    $('#content').css('margin-top', $(header).position().top + $(header).outerHeight(true) + 10);
  });