/ standard display mode. "reading mode" to be implemented separately?
#maincontainer.container-fluid.readmode-top-element
  = render partial: 'readmode_metadata'
  /.scroll-gradient-c
  = render partial: 'toolbox'
  .work-area#work-side
    .card.work-card{style:'margin-top:0'}
      .work-text
        .row.stickysearchread{style:'padding-bottom:3rem;padding-top:0'}
          = render partial: 'search_and_chapters'
        / TODO: more nuanced rendering here
        - if @m.as_prose?
          #actualtext.maintext-prose-body.search-margin
            != raw(@html)
        - else
          #actualtext.maintext-poetry-body.search-margin
            != raw(@html)
        - if @m.chapters? and @m.long?
          = render partial: 'chapter_links'
      .work-pic
        .work-gradient-pic
          %img#authorpic{src: @author.profile_image.url(:full), alt: @author.name}

:javascript
  $(document).ready(function(){
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        window.location.href = '#{url_for(action: :read, id: @m.id)}';
      }
    });
    $('#authorpic').width($('.work-gradient-pic').width());
  });
