/ standard display mode. "reading mode" implemented in readmode.html.haml
#maincontainer.container-fluid.top-element
  .row
    .col-md-1
    .col-md-10
      .work-name
        %p.headline-1= @m.title
        %p.headline-3{ style: 'padding:0;display:inline'}
          = t(:by)+':'
          = link_to @author.name, author_toc_path(id: @author.id)
      .work-area#work-side
        .container-fluid
          .row
            .col-md-9#work-metadata{style: 'padding-right:0'}
              .row
                .col-md-10{style:'display:inline-block'}
                  - unless @links.empty?
                    - [:youtube, :wikipedia].each do |linktype|
                      - ll = @links[Manifestation.link_types[linktype]]
                      - unless ll.nil?
                        = render partial: 'shared/work_links', locals: {linktype: linktype, links: ll}
                .col-md-2
                  %p= t(:our_own_content)
              .row
    .col-md-1




    .col-sm-11
      = ' | '
      = render partial: 'shared/copyright', locals: {copyright: @m.copyright?}
      = ' | '
      = '(old worklinks)'
  .row
    .col-sm-4
      = render partial: 'shared/read_controls'
    .col-sm-6
      = render partial: 'metadata'
  %hr
  #maintext.maintext
    = render partial: 'search_and_chapters'
    = render partial: 'toolbox'
    / TODO: more nuanced rendering here
    - if @m.as_prose?
      #actualtext.maintext-prose-body
        != raw(@html)
    - else
      #actualtext.maintext-poetry-body
        != raw(@html)
    - if @m.chapters? and @m.long?
      = '(next chapter link)'
    = render partial: 'sharing_etc'

:javascript
  $(window).scroll(function () {
    var $floatingbox = $('#toolbox');
    var bodyY = parseInt($('#maintext').offset().top) - 20;
    var originalX = $floatingbox.css('margin-right');

  	var scrollY = $(window).scrollTop();
  	var isfixed = $floatingbox.css('position') == 'fixed';

    if($floatingbox.length > 0){

  	if ( scrollY > bodyY && !isfixed ) {
  		$floatingbox.stop().css({
  			position: 'fixed',
  			//right: '50%',
  			top: 20,
  			//marginRight: -500
  			});
  	} else if ( scrollY < bodyY && isfixed ) {
  		$floatingbox.css({
  			position: 'relative',
        //right: 0,
  			top: 0,
  			//marginRight: originalX
  			});
  		}
  	}
  });
