/ standard display mode. "reading mode" implemented in readmode.html.haml
#maincontainer.container-fluid.top-element
  = render partial: 'shared/breadcrumbs'
  /.scroll-gradient-b
  = render partial: 'toolbox'
  .row
    .col-md-1
    .col-md-10
      .work-name
        %p.headline-1= @m.title
        %p.headline-3{ style: 'padding:0;display:inline'}
          = t(:by)+':'
          = link_to @author.name, author_toc_path(id: @author.id)
      .work-area#work-side
        .container-fluid
          .row
            .col-md-3#work-share1{style:'padding-left: 0;padding-right: 0;'}
              %div{style:'display: inline-block'}
                .card-header-element{style:'padding-left: 1rem'}
                  .icons-raw
                    .linky
                      %i.fa.fa-download.download
                  .icons-raw
                    .linky
                      %i.fa.fa-print.printbutton
                  .icons-raw
                    .linky
                      %i.fa.fa-quote-right.citebutton
                .card-header-element
                  = render 'shared/share_controls'
              %div{style:'display: inline-block;width: 100%;'}
                %div{style:'position: relative;padding-top: 1.6rem'}
                  .icon.result-links{style:'margin-top: 0.6rem'}
                    = link_to '#' do
                      %i.fa.fa-heart-o
                  .icon.result-links{style:'margin-top: 0.6rem; margin-right: 2.4rem'}
                    = link_to '#' do
                      %span.icon-bybookshelf
                  %div{style:'position: relative; float:right; display: inline;width: calc(100% - 8rem)'}
                    = select_tag 'shelves', options_for_shelves.html_safe, {'class' => 'in_read'}
                    %div
                      %a.dropdown-arrow{style:'left:0'}
                        %i.fa.fa-angle-down
            .col-md-9#work-metadata{style: 'padding-right:0'}
              - unless @links.empty?
                .row
                  .col-md-10{style:'display:inline-block'}
                    - [:youtube, :blog].each do |linktype|
                      - ll = @links[Manifestation.link_types[linktype]]
                      - unless ll.nil?
                        = render partial: 'shared/work_links', locals: {linktype: linktype, links: ll}
                  .col-md-2
                    %p= t(:our_own_content)
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  = render partial: 'shared/copyright', locals: {copyright: @m.copyright?}

                .col-md-2
                  %p= t(:copyright_status)+':'
              - unless @book.nil?
                .row{style:'padding-top:0.6rem'}
                  .col-md-10
                    .card-header-element{style:'margin-left:2.4rem'}
                      %p= @book
                    .card-header-element
                      = link_to '#' do
                        = t(:edition_details)
                        %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  .col-md-2
                    %p= t(:published_in_book)+': '
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to textify_genre(@m.expressions[0].works[0].genre), url_for(action: :genre, genre: @m.expressions[0].works[0].genre)
                  .card-header-element
                    = t(:orig_lang)+': '
                    = textify_lang(@m.expressions[0].works[0].orig_lang)
                .col-md-2
                  %p= t(:genre)+': '
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to 'TODO: tags' do
                      = t(:tags)
                      = "(#{@m.approved_tags.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to 'TODO: recommendations' do
                      = t(:recommendations)
                      = "(#{@m.recommendations.approved.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  - unless @links.empty? || @links[Manifestation.link_types[:wikipedia]].nil?
                    .card-header-element
                      = link_to @links[Manifestation.link_types[:wikipedia]][0].url do
                        .icon.card-header-element
                          %i.fa.fa-wikipedia-w{style:'font-size: 1.4rem'}
                        .card-header-element
                          %p= t(:to_the_wikipedia_article)
                .col-md-2
                  %p= t(:additional_content)
              %br{style: 'clear: both;'}
        .card.work-card
          .work-text
            - unless @bookmark.nil?
              .bookmark
                / $("#button").click(function() {
                /  $('html, body').animate({
                /    scrollTop: $("#elementtoScrollToID").offset().top
                /  }, 2000);
                / });
                = link_to '#' do
                  %span.icon-bybookmark-go-to
            .row.stickysearch{style:'opacity:1;background-color:#eeeced'}
              .col-sm-6
                .search.on-card-search-field
                  %span.fa.fa-search.search-icon
                  %span.linky{'data-search'=>'next'}!= "&darr;"
                  %span.linky{'data-search'=>'prev'}!="&uarr;"
                  %span.linky{'data-search'=>'clear'}='✖'
                  %input#searchinwork{ type: :search, placeholder: t(:search_in_text)}
              .col-sm-6
                - if @m.chapters? and @m.long?
                  %div{style:'position:relative'}
                    = select_tag 'chapters', options_for_select(@chapters, @selected_chapter), 'class' => 'chapter-name dropdown', style: 'background-color:#eeeced;margin-top: 0.3rem;width: 100%'
                    %div{style:'line-height:1rem;display:inline'}
                      %a.dropdown-arrow{style:'left:0'}
                        %span.fa.fa-angle-down
            / TODO: more nuanced rendering here
            - if @m.as_prose?
              #actualtext.maintext-prose-body.search-margin
                != raw(@html)
            - else
              #actualtext.maintext-poetry-body.search-margin
                != raw(@html)
            - if @m.chapters? and @m.long?
              = render partial: 'chapter_links'
          / place bookmark element if @bookmark
          / .bookmark
          /   = link_to '#'
          /     %i.icon-bybookmark
          .work-pic
            .work-gradient-pic
              %img{'class' => 'absolute', src: @author.profile_image.url(:full)}
    .col-md-1

  %hr
/  #maintext.maintext
/    = render partial: 'search_and_chapters'
/    = render partial: 'sharing_etc'

:javascript
  $(document).ready(function(){

    // the input field for the find-in-page
    var $input = $("#searchinwork"),
      // clear button
      $clearBtn = $("span[data-search='clear']"),
      // prev button
      $prevBtn = $("span[data-search='prev']"),
      // next button
      $nextBtn = $("span[data-search='next']"),
      // the context where to search
      $content = $("#actualtext"),
      // jQuery object to save <mark> elements
      $results,
      // the class that will be appended to the current
      // focused element
      currentClass = "current",
      // top offset for the jump (the search bar)
      offsetTop = 250,
      // the current index of the focused element
      currentIndex = 0;

    $('#chapters').change(function(){
      anchorselector = 'a[name=ch'+this.value+']'
      elem = $(anchorselector)
      if(elem != null || elem.position() == null)
      {
        position = elem.offset().top - offsetTop;
        window.scrollTo(0,position);
      }// else alert('nope');
    });
    /******************************/
    /* stuff for the find-in-page */

    /**
    * Jumps to the element matching the currentIndex
    */
    function jumpTo() {
      if ($results.length) {
        var position,
          $current = $results.eq(currentIndex);
        $results.removeClass(currentClass);
        if ($current.length) {
          $current.addClass(currentClass);
          position = $current.offset().top - offsetTop;
          window.scrollTo(0, position);
        }
      }
    }

    /**
    * Searches for the entered keyword in the
    * specified context on input
    */
    $input.on("input", function() {
      var searchVal = this.value;
      $content.unmark({
        done: function() {
          $content.mark(searchVal, {
            separateWordSearch: true,
            done: function() {
              $results = $content.find("mark");
              currentIndex = 0;
              jumpTo();
            }
          });
        }
      });
    });

    /**
    * Clears the search
    */
    $clearBtn.on("click", function() {
      $content.unmark();
      $input.val("").focus();
    });

    /**
    * Next and previous search jump to
    */
    $nextBtn.add($prevBtn).on("click", function() {
      if ($results.length) {
        currentIndex += $(this).is($prevBtn) ? -1 : 1;
        if (currentIndex < 0) {
          currentIndex = $results.length - 1;
        }
        if (currentIndex > $results.length - 1) {
          currentIndex = 0;
        }
        jumpTo();
      }
    });
    /* end stuff for find-in-page */
    /******************************/
  });
