/ standard display mode. "reading mode" to be implemented separately?
#maincontainer.container-fluid.readmode-top-element
  .row.topbar
    .col-lg-1
    .col-lg-10{style:'padding:0'}
      .row{style:'padding:0'}
        .col-sm-3
          .fontsize-selector-unit.vcentered
            = render partial: 'shared/fontsize'
          /= render partial: 'shared/copyright', locals: {copyright: @m.copyright?}
        .col-sm-6
          #work-name{style: 'text-align:center'}
            %p.headline-1{style:'margin-top:0;margin-bottom:0;font-size:2.2rem'}= @m.title
            %p.headline-3{style:'padding:0;display:inline;font-size:1.6rem'}
              = t(:by)+' '
              = link_to @author.name, author_toc_path(@author.id)
        .col-sm-3
          / logo
          #site-logo
            = link_to '/' do
              %img{ src:'/assets/BY_Logo.svg', class:'img-responsive', alt:t(:logo)}
    .col-lg-1
  /.scroll-gradient-c
  = render partial: 'toolbox'
  .work-area#work-side
    .card.work-card{style:'margin-top:0'}
      .work-text
        .row.stickysearchread{style:'padding-bottom:3rem;padding-top:0'}
          = render partial: 'search_and_chapters'
        / TODO: more nuanced rendering here
        - if @m.as_prose?
          #actualtext.maintext-prose-body.search-margin
            != raw(@html)
        - else
          #actualtext.maintext-poetry-body.search-margin
            != raw(@html)
        - if @m.chapters? and @m.long?
          = render partial: 'chapter_links'
      .work-pic
        .work-gradient-pic
          %img{'class' => 'absolute', src: @author.profile_image.url(:full)}

:javascript
  $(document).on('keyup',function(evt) {
    if (evt.keyCode == 27) {
       window.location.href = '#{url_for(action: :read, id: @m.id)}';
    }
  });
