/ standard display mode. "reading mode" to be implemented separately?
= render partial: 'shared/breadcrumbs', locals: {pagetype: :manifestation, manifestation: @m}
= render 'shared/tabs'
.row
  .col-sm-12
    %span{:class => 'work_title'}
      = @m.title
    = ' | '
    = render partial: 'shared/copyright', locals: {manifestation: @m}
    = ' | '
    = render partial: 'shared/work_links', locals: {manifestation: @m}
.row
  .col-sm-4
    = render 'shared/read_controls'
  .col-sm-8
    = render 'metadata'
.maintext
  = render 'search_and_chapters'
  = '(main text here)'
  - if @m.chapters? and @m.long?
    = '(next chapter link)'
  = render 'sharing_etc'
