/ standard display mode. "reading mode" implemented in readmode.html.haml
#maincontainer.container-fluid.top-element
  = render partial: 'shared/breadcrumbs'
  = render partial: 'toolbox'
  .row
    .col-md-1
    .col-md-10
      .work-name
        %p.headline-1= @m.title
        %p.headline-3{ style: 'padding:0;display:inline'}
          = t(:by)+':'
          = link_to @author.name, author_toc_path(id: @author.id)
      .work-area#work-side
        .container-fluid
          .row
            .col-md-3#work-share1{style:'padding-left: 0;padding-right: 0;'}
              %div{style:'display: inline-block'}
                .card-header-element{style:'padding-left: 1rem'}
                  .icons-raw
                    .linky
                      %i.fa.fa-download.download
                  .icons-raw
                    .linky
                      %i.fa.fa-print.printbutton
                  .icons-raw
                    .linky
                      %i.fa.fa-quote-right.citebutton
                .card-header-element
                  = render 'shared/share_controls'
              %div{style:'display: inline-block;width: 100%;'}
                %div{style:'position: relative;padding-top: 1.6rem'}
                  .icon.result-links{style:'margin-top: 0.6rem'}
                    = link_to '#' do
                      %i.fa.fa-heart-o
                  .icon.result-links{style:'margin-top: 0.6rem; margin-right: 2.4rem'}
                    = link_to '#' do
                      %span.icon-bybookshelf
                  %div{style:'position: relative; float:right; display: inline;width: calc(100% - 8rem)'}
                    = select_tag 'shelves', options_for_shelves.html_safe, {'class' => 'in_read'}
                    %div
                      %a.dropdown-arrow{style:'left:0'}
                        %i.fa.fa-angle-down
            .col-md-9#work-metadata{style: 'padding-right:0'}
              .row
                .col-md-10{style:'display:inline-block'}
                  - unless @links.empty?
                    - [:youtube, :blog].each do |linktype|
                      - ll = @links[Manifestation.link_types[linktype]]
                      - unless ll.nil?
                        = render partial: 'shared/work_links', locals: {linktype: linktype, links: ll}
                .col-md-2
                  %p= t(:our_own_content)
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  = render partial: 'shared/copyright', locals: {copyright: @m.copyright?}

                .col-md-2
                  %p= t(:copyright_status)+':'
              - unless @book.nil?
                .row{style:'padding-top:0.6rem'}
                  .col-md-10
                    .card-header-element{style:'margin-left:2.4rem'}
                      %p= @book
                    .card-header-element
                      = link_to '#' do
                        = t(:edition_details)
                        %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  .col-md-2
                    %p= t(:published_in_book)+': '
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to textify_genre(@m.expressions[0].works[0].genre), url_for(action: :genre, genre: @m.expressions[0].works[0].genre)
                  .card-header-element
                    = t(:orig_lang)+': '
                    = textify_lang(@m.expressions[0].works[0].orig_lang)
                .col-md-2
                  %p= t(:genre)+': '
              .row{style:'padding-top:0.6rem'}
                .col-md-10
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to 'TODO: tags' do
                      = t(:tags)
                      = "(#{@m.approved_tags.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  .card-header-element{style:'margin-left:2.4rem'}
                    = link_to 'TODO: recommendations' do
                      = t(:recommendations)
                      = "(#{@m.recommendations.approved.count})"
                      %span.fa.fa-angle-left.baseline{style: 'margin-right: 0.6rem'}
                  - unless @links.empty? || @links[Manifestation.link_types[:wikipedia]].nil?
                    .card-header-element
                      = link_to @links[Manifestation.link_types[:wikipedia]][0].url do
                        .icon.card-header-element
                          %i.fa.fa-wikipedia-w{style:'font-size: 1.4rem'}
                        .card-header-element
                          %p= t(:to_the_wikipedia_article)
                .col-md-2
                  %p= t(:additional_content)
              %br{style: 'clear: both;'}
        .card.work-card
          .work-text
            - unless @bookmark.nil?
              .bookmark
                / $("#button").click(function() {
                /  $('html, body').animate({
                /    scrollTop: $("#elementtoScrollToID").offset().top
                /  }, 2000);
                / });
                = link_to '#' do
                  %span.icon-bybookmark-go-to
            .row{style:'padding-bottom:3rem'}
              .col-sm-6
                .search.field.on-card-search-field
                  %span.fa.fa-search.search-icon
                  %input#searchinwork{ placeholder: t(:search_placeholder)}
              .col-sm-6
                - if @m.chapters? and @m.long?
                  %div{style:'position:relative'}
                    = select_tag 'chapters', @chapters
                    %span.fa.fa-angle-down
                    %div
                      %a.dropdown-arrow{style:'left:0'}
                        %i.fa.fa-angle.down
            / TODO: more nuanced rendering here
            - if @m.as_prose?
              #actualtext.maintext-prose-body
                != raw(@html)
            - else
              #actualtext.maintext-poetry-body
                != raw(@html)
            - if @m.chapters? and @m.long?
              = render partial: 'chapter_links'
          / place bookmark element if @bookmark
          / .bookmark
          /   = link_to '#'
          /     %i.icon-bybookmark
          .work-pic
            .work-gradient-pic
              %img{'class' => 'absolute', src: @author.profile_image.url(:full)}
    .col-md-1

  %hr
/  #maintext.maintext
/    = render partial: 'search_and_chapters'
/    = render partial: 'toolbox'
/    = render partial: 'sharing_etc'

:javascript
  $(document).ready(function(){
  });
  $(window).scroll(function () {
    var $floatingbox = $('#toolbox');
    var bodyY = parseInt($('#maintext').offset().top) - 20;
    var originalX = $floatingbox.css('margin-right');

  	var scrollY = $(window).scrollTop();
  	var isfixed = $floatingbox.css('position') == 'fixed';

    if($floatingbox.length > 0){

  	if ( scrollY > bodyY && !isfixed ) {
  		$floatingbox.stop().css({
  			position: 'fixed',
  			//right: '50%',
  			top: 20,
  			//marginRight: -500
  			});
  	} else if ( scrollY < bodyY && isfixed ) {
  		$floatingbox.css({
  			position: 'relative',
        //right: 0,
  			top: 0,
  			//marginRight: originalX
  			});
  		}
  	}
  });
