%h1
  = t(:work_details)+": "+@m.title+" / "+@w.people[0].name
  - if @e.people[0].name != @w.people[0].name
    = ' / '+@e.people[0].name

%h2= t(:work_entity_details)
%p
  %b= t(:title) + ": "
  = @w.title
%p
  %b= t(:date) + ": "
  = @w.date

%h2= t(:expression_details)
%p
  %b= t(:title) + ": "
  = @e.title
%p
  %b= t(:date) + ": "
  = @e.date
%p
  %b= t(:language) + ": "
  = @e.language

%h2= t(:manifestation_details)
%p
  %b= t(:title) + ": "
  = @m.title
%p
  %b= t(:responsibility_statement) + ": "
  = @m.responsibility_statement
%p
  %b= t(:publisher_details) + ": "
  = "#{@m.publisher}, #{@m.publication_place}: #{@m.publication_date}."
%hr
%h2= t(:external_links)
%ol
  - @m.external_links.each do |link|
    %li
      = link_to link.url, link.url
      = "(#{textify_external_link_type(link.linktype)})"

