/ Works dashboard
.top-element
  = render partial: 'shared/breadcrumbs'
  .container-fluid.welcome
    .row
      .col-md-12
        .welcome-author-content
          %h1= t(:works_page)
          %p
            = t(:works_totals_p1, {total: @work_stats[:total], pd: @work_stats[:pd]})
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_public_domain), 'data-content' => t(:public_domain_popover)
            = t(:works_totals_p2, {permission: @work_stats[:permission]})
            = link_to '[?]', '#', 'data-toggle' => 'popover', 'data-trigger' => 'focus', title: t(:about_permission), 'data-content' => t(:permission_popover)
  / Internal nav
  = render partial: 'shared/genre_navbar', locals: {genres_present: get_genres.push('allwriters'), page: :works}
  / works
  .container-fluid
    .row
      .col-md-1
      .col-md-10
        .row
          / left side
          .col-md-4{style:'padding-left:0'}
          / right side
          .col-md-8{style:'padding-right:0'}
            - cache 'works_right_side' do
              - right_side_genres.each do |g|
                - genre_name = textify_genre(g)
                %a{name: g+'_g'}
                %div{style:'padding-top:1.8rem'}
                  %p.headline-2{style:'display:inline'}= link_to genre_name, genre_path(genre: g)
                  %p{style:'display: inline; padding-left: 1rem'}= "(#{@work_counts_by_genre[g]} #{t(:works)})"
                .card
                  .card-content
                    .container-fluid
                      .row{style:'margin-bottom:2rem'}
                        .col-md-6{id: "surprise_#{g}", style:'padding-left:0;padding-right: 0'}
                          .carousel.slide{id: "surprise-work-carousel-#{g}", 'data-interval' => 'false', 'data-wrap' => 'true'}
                            .carousel-inner
                              .card.full-size-card.small-surprise.item.active.surprise_button{id: "#{g}_side1", 'data-genre' => g, style:'margin-top:0;height:15rem;cursor:pointer;'}
                                .card-content{style:'align-content: center; text-align: center; position: relative;'}
                                  .linky
                                    %div{style:'font-size:5rem;margin-bottom: -2rem'}
                                      %span.icon-bysurprise-work
                                    %p.headline-3= t(:surprise)
                                %div{style:'z-index: 1; position: absolute; left: 0;bottom: 0%; border-bottom-left-radius: 0.3rem; display: inline;overflow: hidden'}
                                  %img{src:'/assets/corner.png', width:80, height:80}
                                %div
                                  .bring-surprise-icon.text-on-dark{style: 'margin-bottom:0.6rem;'}
                                    .linky{style:'color:white'}= '?'
                              .card.genre-card.small-surprise.item{id: "#{g}_side2"}
                                = render partial: 'shared/surprise_work', locals: {manifestation: @surprise_by_genre[g], id_frag: g, passed_genre: g, side: '2'}
                        .col-md-6{id: "random_#{g}", style:'padding-right: 0'}
                          %div{style:'margin-bottom:1rem;'}
                            %p
                              %span.headline-3{style:'padding-top:0'}= t(:sample_works_of)
                              %span= t(:random_order)
                            %div
                              %ol
                                - @rand_by_genre[g][0..(@rand_by_genre[g].size < 5 ? -1 : 4)].each do |m|
                                  %li
                                    = link_to manifestation_read_path(m) do
                                      %b= m.title
                                    = t(:by)+' '+m.author_string
                      .row
                        .col-xs-6{style:'padding:0'}
                          %div
                            %p.headline-3{style:'padding-top:0'}= t(:most_read_translated_works_of_genre, {genre: genre_name})
                          %div
                            %ol
                              - @pop_by_genre[g][:xlat][0..(@pop_by_genre[g][:xlat].size < 5 ? -1 : 4)].each do |m|
                                %li
                                  = link_to manifestation_read_path(m) do
                                    %b= m.title
                                  = t(:by)+' '+m.author_string
                          %div{style:'position: relative; left:0; bottom:0;margin-top:1rem;'}
                            .btn.linky
                              %a{style:'color:white', href: genre_path(genre: g)}= t(:to_all_works_in_genre, {genre: genre_name})
                        .col-xs-6{style:'padding-right:0'}
                          %div
                            %p.headline-3{style:'padding-top:0'}= t(:most_read_works_of_genre, {genre: genre_name})
                          %div
                            %ol
                              - @pop_by_genre[g][:orig][0..(@pop_by_genre[g][:xlat].size < 5 ? -1 : 4)].each do |m|
                                %li
                                  = link_to manifestation_read_path(m) do
                                    %b= m.title
                                  = t(:by)+' '+m.author_string
      .col-md-1
/ =========================
:javascript
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      trigger: 'focus'
    });

    $('.surprise_button').click(function(){
      g = $(this).attr('data-genre');
      $('#surprise-work-carousel-'+g).carousel('next');
      $('#'+g+'_side1').load('/manifestation/get_random?genre='+g+'&id_frag='+g+'&side=1');
    });
  });
