.modal-dialog
  .modal-content
    .container-fluid
      .modal-header
        .anthology-top
          .row{:style => "padding:15px;margin: 0"}
            .col-4{:style => "padding: 0;"}
              %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                .btn-text-v02
                  %span.right-arrow 2
                  %span= t(:back)
            .col-4{:style => "padding: 0;"}
            .col-4
      .modal-body
        .anthology#no_anths{style:'display:none'}
          .by-card-header-v02.desktop-only
            %a.horizontal-collapse{:href => "#"} ?
            #anthology-select
              .headline-1-v02= t(:reading_list_or_anthology)
            %a.popup-x-v02.pointer{'data-dismiss'=>'modal'} -
          .by-card-content-v02
            .headline-2-v02= t(:no_lists_yet)
            %p= t(:you_can_create_lists)
            %p
              %b= t(:reading_list)
              = t(:reading_list_explanation)
            %p
              %b= t(:anthology)
              = t(:anthology_explanation)
            %button.by-button-v02.new-anthology-btn#create_anth
              %span.right-side-icon= '&'
              %span= t(:create_new_list_or_anthology)
        .by-popup-v02.narrow-popup#new_anth{style:'display:none'}
          .by-card-header-v02.desktop-only
            %span.headline-1-v02= t(:create_new_list_or_anthology)
            %a.popup-x-v02.pointer.hide_new_anth -
          %div
            .by-card-content-v02.card-with-button
              - @new_anthology = Anthology.new
              = form_with(model: @new_anthology, url: anthologies_path(@new_anthology), data: {remote: true}, id: 'new_anthology') do |anth|
                .search-mobile-switch
                  %button.search-mobile-option#opt_rlist= t(:reading_list)
                  %button.search-mobile-option.active#opt_anth= t(:anthology)
                = anth.hidden_field :listtype, id: 'listtype', value: 'anth'
                = anth.hidden_field :access, value: 'priv'
                = anth.hidden_field :user_id, value: current_user.id
                = anth.label t(:anthology_name), {'class' => 'field-label'}
                = anth.text_field :title, autofocus: true, required: true, class: 'field-v02', value: "#{t(:anthology)}-#{@anthologies.count + 1}"
                .no-header
                .bottom-left-buttons
                  %button.by-button-v02.by-button-secondary-v02.pointer.hide_new_anth
                    %div= t(:cancel)
                  = anth.submit t(:create_new_anthology), {'class' => 'by-button-v02 pointer'}
        = render partial: 'shared/anth_panel'
:javascript
  $(document).ready(function() {
    $('.hide_new_anth').click(function(e){
      e.preventDefault();
      $('#new_anth').hide();
      $('#anth_panel').show();
    });

  });