.modal-dialog
  .modal-content
    .container-fluid
      .modal-header
        - if @anthology.nil?
          .anthology-top
            .row{:style => "padding:15px;margin: 0"}
              .col-4{:style => "padding: 0;"}
                %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                  .btn-text-v02
                    %span.right-arrow 2
                    %span= t(:back)
              .col-4{:style => "padding: 0;"}
              .col-4
        - else
          .anthology-top
            .row{:style => "padding:15px;margin: 0"}
              .col-4{:style => "padding: 0;"}
                %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                  .btn-text-v02
                    %span.right-arrow 2
                    %span= t(:back)
              .col-4{:style => "padding: 0;"}
              .col-4
      .modal-body
        - if @anthology.nil?
          - show_panel = false
          .anthology#no_anths
            .by-card-header-v02.desktop-only
              %a.horizontal-collapse{:href => "#"} ?
              #anthology-select
                .headline-1-v02= t(:reading_list_or_anthology)
              %a.popup-x-v02.pointer{'data-dismiss'=>'modal'} -
            .by-card-content-v02
              .headline-2-v02= t(:no_lists_yet)
              %p= t(:you_can_create_lists)
              %p
                %b= t(:reading_list)
                = t(:reading_list_explanation)
              %p
                %b= t(:anthology)
                = t(:anthology_explanation)
              %button.by-button-v02.new-anthology-btn#create_anth
                %span.right-side-icon= '&'
                %span= t(:create_new_list_or_anthology)
        - else
          - show_panel = true
        .panel-v02#add_curated{style:'display:none'}
          .by-card-header-v02.desktop-only
            %span.headline-1-v02= t(:add_curated_text)
          %div
            .by-card-content-v02.card-with-button
              .row
                .col-6
                  #self-text-name.field-label= t(:curated_text_title)
                  %input.field-v02{:type => "text"}/
                .col-6
              #added-self-text.row
                .col-6
                  %div
                    .field-label= t(:curated_text)
                    %textarea.field-v02.text-area-v02{:placeholder => t(:paste_or_copy_text_here)}
                .col-6
                  %div
                    .field-label
                      = t(:markdown_display)
                      .field-top-link
                        %a{:href => "#"}= t(:markdown_instructions)
                    .text-demonstration
                      .empty
                        .hint= t(:preview_here)
              .bottom-left-buttons
                %button.by-button-v02.by-button-secondary-v02
                  %div= t(:cancel)
                %button.by-button-v02{:href => "#"}= t(:add_curated_text)

        .by-popup-v02.narrow-popup#new_anth{style:'display:none'}
          .by-card-header-v02.desktop-only
            %span.headline-1-v02= t(:create_new_list_or_anthology)
            %a.popup-x-v02.pointer{'data-dismiss'=>'modal'} -
          %div
            .by-card-content-v02.card-with-button
              - @new_anthology = Anthology.new
              = form_with(model: @new_anthology, url: anthologies_path(@new_anthology), data: {remote: true}, id: 'new_anthology') do |anth|
                .search-mobile-switch
                  %button.search-mobile-option#opt_rlist= t(:reading_list)
                  %button.search-mobile-option.active#opt_anth= t(:anthology)
                = anth.hidden_field :listtype, id: 'listtype', value: 'anth'
                = anth.hidden_field :access, value: 'priv'
                = anth.hidden_field :user_id, value: current_user.id
                = anth.label t(:anthology_name), {'class' => 'field-label'}
                = anth.text_field :title, autofocus: true, required: true, class: 'field-v02', value: "#{t(:anthology)}-#{@anthologies.count + 1}"
                .no-header
                .bottom-left-buttons
                  %button.by-button-v02.by-button-secondary-v02.pointer{'data-dismiss'=>'modal'}
                    %div= t(:cancel)
                  = anth.submit t(:create_new_anthology), {'class' => 'by-button-v02 pointer'}
        = render partial: 'shared/anth_panel', locals: {show_panel: show_panel}
        .headline-3{style: 'margin:2rem 0', 'data-toggle'=>'collapse','data-target'=>'#extra_collapsible'}
          %span.pointer= t(:tags_etc_title)
          != '&nbsp;&nbsp;'
          %i.fa.chevron.baseline{style:'display:inline'}
        .row.collapse.in#extra_collapsible
:javascript
  $(document).ready(function() {
    var cur_anth = #{@cur_anth_id};
    $('.atcoll').on('shown.bs.collapse', function() {
      $("#coll"+this.id).find('.by-icon-v02').text(']');
    });
    $('.atcoll').on('hidden.bs.collapse', function() {
      $("#coll"+this.id).find('.by-icon-v02').text('<');
    });
    $('#anth_texts').sortable({
      handle: '.drag-handle',
      start: function(e, ui) {
        // creates a temporary attribute on the element with the old index
        $(this).attr('data-previndex', ui.item.index());
      },
      update: function(e, ui) {
        // gets the new and old index then removes the temporary attribute
        var newIndex = ui.item.index();
        var oldIndex = $(this).attr('data-previndex');
        var element_id = ui.item.attr('id').replace('anth_text_','');
        //alert('id of Item moved = '+element_id+' old position = '+oldIndex+' new position = '+newIndex);
        $(this).removeAttr('data-previndex');

        ///code to pass the data using AJAX
        if (newIndex != oldIndex) {
          $.post('#{anthology_seq_path('999')}'.replace('999',cur_anth.toString()),
              { id: cur_anth, anth_text_id: element_id, old_pos: oldIndex, new_pos: newIndex }
          );
        }
      }
    });
    $('#create_anth').click(function(e) {
      e.preventDefault();
      $('#new_anth').show();
      $('#no_anths').hide();
    });
    $('#opt_rlist').click(function(e){
      e.preventDefault();
      $('#opt_anth').removeClass('active');
      $('#opt_rlist').addClass('active');
      $('#listtype').val('rlist');
    });
    $('#opt_anth').click(function(e){
      e.preventDefault();
      $('#opt_anth').addClass('active');
      $('#opt_rlist').removeClass('active');
      $('#listtype').val('anth');
    });
    $('#new_anthology').on('ajax:success', function(event) {
      $('#new_anth').hide();
      $('#anth_panel').show();
    });
  });