%h3= t(:associated_persons)
%ul
- case which
  - when :work
    - @w.involved_authorities.each do |ia|
      %li
        = link_to ia.authority.name, default_link_by_class(ia.authority.class, ia.authority.id)
        = ' ('+t(ia.role)+')'
        - if edit
          = link_to t(:destroy), url_for(controller: :involved_authorities, action: :destroy, id: ia.id), :data => { :confirm => t(:are_you_sure) }
    - if edit
      %br
      = t(:add)
      = select_tag :add_person_w, options_from_collection_for_select(Person.order(:name), 'id','name'), include_blank: true
      = t(:in_role)
      = select_tag :role_w, options_for_select(InvolvedAuthority.roles.map { |role, role_id| [t(role), role_id] })
      %br
  - when :expression
    - @e.involved_authorities.each do |ia|
      %li
        = link_to ia.authority.name, default_link_by_class(ia.authority.class, ia.authority.id)
        = ' ('+t(ia.role)+')'
        - if edit
          = link_to t(:destroy), url_for(controller: :involved_authorities, action: :destroy, id: ia.id), :data => { :confirm => t(:are_you_sure) }
    - if edit
      %br
      = t(:add)
      = select_tag :add_person_e, options_from_collection_for_select(Person.order(:name), 'id', 'name'), include_blank: true
      = t(:in_role)
      = select_tag :role_e, options_for_select(InvolvedAuthority.roles.map { |role, role_id| [t(role), role_id] })
      %br
