%h3= t(:associated_persons)
%ul
- case which
  - when :work
    - @w.involved_authorities.each do |ia|
      %li{id: "ia#{ia.id}"}
        = link_to ia.authority.name, default_link_by_class(ia.authority.class, ia.authority.id)
        = ' ('+t(ia.role)+')'
        - if edit
          = link_to t(:destroy), url_for(controller: :involved_authorities, action: :destroy, id: ia.id), {remote: true,  method: :delete, data: { :confirm => t(:are_you_sure) }}
    - if edit
      %br
      = t(:add)
      = select_tag :add_person_w, options_for_select(cached_authorities[:people]), include_blank: true
      = t(:or)
      = select_tag :add_corp_w, options_for_select(cached_authorities[:corporate_bodies]), include_blank: true
      = t(:in_role)
      = select_tag :role_w, options_for_select(InvolvedAuthority.roles.reject{|x, id| x == 'translator'}.map { |role, role_id| [t(role), role_id] })
      %br
  - when :expression
    - @e.involved_authorities.each do |ia|
      %li{id: "ia#{ia.id}"}
        = link_to ia.authority.name, default_link_by_class(ia.authority.class, ia.authority.id)
        = ' ('+t(ia.role)+')'
        - if edit
          = link_to t(:destroy), url_for(controller: :involved_authorities, action: :destroy, id: ia.id), {remote: true, method: :delete, data: { :confirm => t(:are_you_sure) }}
    - if edit
      %br
      = t(:add)
      = select_tag :add_person_e, options_for_select(cached_authorities[:people]), include_blank: true
      = t(:or)
      = select_tag :add_corp_e, options_for_select(cached_authorities[:corporate_bodies]), include_blank: true
      = t(:in_role)
      = select_tag :role_e, options_for_select(InvolvedAuthority.roles.reject{|x, id| x == 'author'}.map { |role, role_id| [t(role), role_id] })
      %br
:javascript
  $(document).ready(function() {
    $('#add_person_w').change(function() {
      $('#add_corp_w').val('');
    });
    $('#add_corp_w').change(function() {
      $('#add_person_w').val('');
    });
    $('#add_person_e').change(function() {
      $('#add_corp_e').val('');
    });
    $('#add_corp_e').change(function() {
      $('#add_person_e').val('');
    });
  });