- unless skip_title
  %p
    %b= title
#scroller_container
  .carousel-arrow-right-v02{id: "rightarrow#{id_frag}"}
    = 2
  .carousel-demo
    .scroller{id: "scroller#{id_frag}"}
      - authors[0..9].each do |author|
        - break if author.nil? # devmode protection against fewer than 5 most-popular authors
        .slide
          %a{ href: author_toc_path(author.id)}
            .author-card-v02
              %img.author-pic-v02{ src: author.profile_image.url(:thumb), alt: author.name}
              /, height: (size == :large ? '686px' : '120px')}
              .author-name-v02= author.name
              .author-info-v02
                %a{'data-toggle' => :modal, 'data-target'=> "#author_popup_#{author.id}"} M
  .carousel-arrow-left-v02{id: "leftarrow#{id_frag}"}
    = 1

- authors[0..9].each do |author|
  = render partial: 'shared/author_popup', locals: {author: author, surprise: false}

- if surprise
  .modal.fade#surprise_popup_a{ role: 'dialog', tabindex: '-1'}

:javascript
  $(document).ready(function() {
    var first = true;
    $('[data-toggle="tooltip"]').tooltip();
    $("#scroller#{id_frag}").slick({
      infinite: false,
      slidesToShow: 5,
      placeholders: false,
      slidesToScroll: 1,
      arrows: true,
      rtl: true,
      outerEdgeLimit: true,
      nextArrow: "#leftarrow#{id_frag}",
      prevArrow: "#rightarrow#{id_frag}",
      //variableWidth: true,
      // appendArrows: '#scroller_container',
      responsive: [{
        breakpoint: 1650,
        settings: {
          slidesToShow: 4,
          //infinite: true
        }
      },{
        breakpoint: 1350,
        settings: {
          slidesToShow: 3,
          //infinite: true
        }
      },{
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          //infinite: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          //dots: true
        }
      }, {
        breakpoint: 300,
        settings: "unslick" // destroys slick
      }]
    });
    if(true == #{surprise}) {
      $('#surprise_author_carousel-a').carousel({interval: false, wrap: true});
      $('#surprise_author_link').click(function(){
        $('#surprise_author_carousel-a').carousel('next'); // switch to ready surprise
        $('#a_side1').load("#{url_for(controller: :authors, action: :get_random_author, id_frag:'a', side:'1',mode:'gallery')}", function() {
          var $thediv = $("#a_side2 > div").clone();
          $('#surprise_popup_a').html($thediv.html());
        }); // and load next one
      });
    }
  });
