- cache "au_#{author.id}_popup", expires_in: 24.hours do
  .modal{role: 'dialog', id: "author_popup_#{author.id}", tabindex: '-1'}
    .modal-dialog.modal-lg{role: 'document'}
      .modal-content
        .flex-popup#author-info-popup
          .popup-top
            %button.btn-small-outline-v02{'data-dismiss' => 'modal'}
              .btn-text-v02
                %span.right-arrow 2
                %span= t(:back)
            .headline-2-v02{ style: 'text-align: center;margin:0;padding-top:3px;' }= about_the_author(author.person)
            .button-placeholder
          .by-popup-v02
            %button.close.card-header-close{ type: 'button', 'data-dismiss' => 'modal'}
              .popup-x-v02= '-'
            %img.surprise-author-card-bookmark-fold-v02{src: '/assets/creator-bookmark-back2.png', alt: t(:background), width: 168, height: 6}
            = link_to person_path(author.id) do
              .surprise-author-card-v02
                %img.surprise-author-pic-v02{ src: author.profile_image.url(:thumb), width: 475, height: 686, alt: author.name}
                .author-name-area
                  .author-name-v02= to_the_author_page(author.person)
            .by-card-header-v02
              .surprise-author-name-v02
                %span.headline-1-v02
                  = link_to author.name, person_path(author.id)
                - if author.person.present?
                  %span.date-range (#{author.person.life_years})
            .by-card-content-v02
              .surprise-author-card-content-v02
                .metadata
                  %span
                    %a.by-icon-v02{id: "heart_#{author.id}", style:'float:right'}= 5
                  = render partial: 'shared/intellectual_property',
                           locals: { intellectual_property: author.intellectual_property }
                %div
                  - unless author.wikipedia_snippet.nil? or author.wikipedia_snippet.length < 10
                    = author.wikipedia_snippet
                    %div.read-more-v02.no-float
                      = link_to author.wikipedia_url do
                        %span{style: 'font-weight:bold'}= t(:rest_in_wikipedia)
                        %span.left-arrow= '1'
                -# future feature: recommendations
                -#.metadata
                -#  %span{style:'font-weight: bold'}= t(:recommendations)+': '
                -#  = link_to number_of_recommendations, ...
                -#    - if author.blog_count > 0
                -#      .card-header-element
                -#        %a{ href: author.blog_category_url}
                -#          %span{ style: 'margin-left: 0.6rem;position:relative;top:3px;'}
                -#            %i.fa.fa-pencil-square-o
                -#          = t(:about_the_author_on_the_blog)
                .metadata
                  %span
                    %b= t(:works_in_the_project)+': '
                  = link_to "#{author.cached_works_count} #{t(:works)}", person_path(author.id)
                %div
                  %p
                    %b= t(:their_most_read_works, gender_letter: author.gender_letter)
                  %ol
                    - author.most_read(5).each do |mhash|
                      - genre = mhash[:genre]
                      - genrebit = genre.nil? ? '' : " (#{textify_genre(genre)})"
                      %li= link_to mhash[:title]+genrebit, manifestation_path(mhash[:id])
