%div{class: 'modal fade', role: 'dialog', id: "author_popup_#{author.id}", tabindex: '-1'}
  .modal-dialog
    .card.author-top{direction: 'rtl'}
      %div
        %button.close.card-header-close{ type: 'button', style: 'margin-left:1.5rem;margin-top:1.9rem;', 'data-dismiss' => 'modal'}
          != '&times;'
      .creator-bookmark-back
        %img{src: '/assets/creator-bookmark-back2.png', width: 168, height: 6}
      .creator-bookmark-front
        %img{src: author.profile_image.url(:thumb), width: 162}
      .card-content.near-picture
        %p.headline-2{style: 'padding-top:0.4rem'}
          = link_to author.name, author_toc_path(author.id)
          != " (#{author.life_years})"
        %div{style: 'display: inline-block; margin-top:0.4rem'}
          .card-header-element
            %a{id: "heart_#{author.id}"}
              %i.fa.fa-heart-o{style: 'padding-top: 0.2rem'}
          .card-header-element
            %span{ class: "icon-#{author.rights_icon}", style:'margin-left:0.6rem;position:relative;top:2px;', 'data-toggle' => 'tooltip', title: author.public_domain ? t(:pd_explain) : t(:permission_explain)}
            = author.copyright_as_string
          - if author.blog_count > 0
            .card-header-element
              %a{ href: author.blog_category_url}
                %span{ style: 'margin-left: 0.6rem;position:relative;top:3px;'}
                  %i.fa.fa-pencil-square-o
                = t(:about_the_author_on_the_blog)
        - unless author.wikipedia_snippet.nil? or author.wikipedia_snippet.length < 10
          %div{style: 'margin-top: 0.6rem'}
            %p= author.wikipedia_snippet
          %div
            %p= link_to t(:rest_in_wikipedia), author.wikipedia_url
        .margintop2
          .headline-4{style: 'display: inline'}= t(:works_in_the_database)+': '
          = link_to "#{author.expressions.count} #{t(:works)}", author_toc_path(author.id)
        .margintop2
          .headline-4= t(:their_most_read_works, gender_letter: author.gender_letter)
          %ol
            - author.most_read(5).each do |m|
              - genre = m.expressions[0].genre
              - genrebit = genre.nil? ? '' : " (#{textify_genre(genre)})"
              %li= link_to m.title+genrebit, manifestation_read_path(m.id)

      %div{ style:'position:relative; bottom: 6.5rem;left:4.4rem;'}
        .btn
          %p.vcentered
            %a{ style:'color:white', href: author_toc_path(author.id)}
              - suffix = (author.gender == 'female' ? 'ת' : '' )
              = t(:to_the_author_page)+suffix
