#breadcrumbs
  .breadcrumbs-text= link_to t(:homepage), '/'
  .breadcrumbs-arrow= 1
  - if @pagetype == :manifestation
    .breadcrumbs-text= link_to t(:authors), authors_path
    .breadcrumbs-arrow= 1
    - e = @entity.expression
    - w = e.work
    - if e.translators.count > 0
      - person = e.translators[0]
    - else
      - person = w.persons[0]
    .breadcrumbs-text
      - unless person.nil?
        = link_to person.name, author_toc_path(id: person.id)
      - else
        = '?'
    .breadcrumbs-arrow= 1
    - genre = textify_genre(w.genre)
    - unless person.nil?
      .breadcrumbs-text
        = link_to e.translation ? "#{t(:translation)} #{genre}" : genre, :controller => :authors, :action => :toc, :id => person.id, :genre => w.genre
      -#.breadcrumbs-arrow= 1
      -#.breadcrumbs-text
      -#  %b= @entity.title
  - elsif @pagetype == :author
    .breadcrumbs-text= link_to t(:authors), authors_path
    -#.breadcrumbs-arrow= 1
    -#.breadcrumbs-text
    -#  %b= @entity.name
  - elsif @pagetype == :period
    .breadcrumbs-text
      %b= t(:periods)
    -#.breadcrumbs-arrow= 1
    -#.breadcrumbs-text
    -#  %b= @entity.name
