#breadcrumbs
  .breadcrumbs-text= link_to t(:homepage), '/'
  .breadcrumbs-arrow= 1
  - if @pagetype == :manifestation
    .breadcrumbs-text= link_to t(:authors), authors_path
    .breadcrumbs-arrow= 1
    :ruby
      e = @entity.expression
      w = e.work
      authority = e.translators.count > 0 ? e.translators[0] : w.authors[0] # TODO: handle multiple authors
    .breadcrumbs-text
      - unless authority.nil?
        = link_to authority.name, authority_path(id: authority.id)
      - else
        = '?'
    .breadcrumbs-arrow= 1
    - genre = textify_genre(w.genre)
    - unless authority.nil?
      .breadcrumbs-text
        = link_to e.translation ? "#{t(:translation)} #{genre}" : genre,
                  controller: :authors, action: :toc, id: authority.id, genre: w.genre
      -#.breadcrumbs-arrow= 1
      -#.breadcrumbs-text
      -#  %b= @entity.title
  - elsif @pagetype == :author
    .breadcrumbs-text= link_to t(:authors), authors_path
    -#.breadcrumbs-arrow= 1
    -#.breadcrumbs-text
    -#  %b= @entity.name
  - elsif @pagetype == :period
    .breadcrumbs-text
      %b= t(:periods)
    -#.breadcrumbs-arrow= 1
    -#.breadcrumbs-text
    -#  %b= @entity.name
  - elsif @pagetype == :collection
    .breadcrumbs-text= link_to t(:works), works_path