#breadcrumbs
  .breadcrumbs-text= link_to t(:homepage), '/'
  .breadcrumbs-arrow= 1
  - if @pagetype == :manifestation
    = link_to t(:authors), :controller => :authors
    = ' > '
    - e = @entity.expressions[0]
    - if e.translators.count > 0
      - person = e.translators[0]
    - else
      - person = e.works[0].persons[0]
    = link_to person.name, author_toc_path(id: person.id)
    = ' > '
    - genre = textify_genre(e.genre)
    = link_to e.translation ? "#{t(:translation)} #{genre}" : genre, :controller => :authors, :action => :toc, :id => person.id, :genre => e.genre
    = ' > '
    %b= @entity.title
  - elsif @pagetype == :author
    .breadcrumbs-text= link_to t(:authors), controller: :authors
    .breadcrumbs-arrow= 1
    .breadcrumbs-text
      %b= @entity.name
  - elsif @pagetype == :authors
    %b= t(:authors)
  - elsif @pagetype == :works
    %b= t(:works)
  - elsif @pagetype == :periods
    %b= t(:periods)
