.cite_container
  = t(:cite_instructions_html)
  %br
  %table{style: 'line-height:1.2em'}
    %tr
      %td
        %b
          = 'APA:'
      %td
        .apa
          != apa_citation(manifestation)
    %tr
      %td
        %b
          = 'MLA:'
      %td
        .mla
          != mla_citation(manifestation)
    %tr
      %td
        %b
          = 'ASA:'
      %td
        .asa
          != asa_citation(manifestation)
