%a{name: 'top'}
.container-fluid#header-general
  = render partial: 'shared/breadcrumbs'
  .top-space
  - aus = @collection.authors_string
  - eds = @collection.editors_string unless aus.present?
  - if @collection.parent_collections.count > 0
    = t(:parent_collections)
    %ol
    - @collection.parent_collections.each do |pc|
      %li{style: 'list-style-type: decimal; font-size:120%;'}= link_to "ðŸ¢ ðŸ¢ ðŸ¢ #{pc.title}", collection_path(pc)

  .work-page-top
    .work-page-top-info-card
      .work-and-author-names-mobile
        .headline-1-v02
          = textify_collection_type(@collection.collection_type)+': '
          = @collection.title
        .headline-3-v02
          - if aus.present?
            = t(:by)+': '
            %span= aus
          - else
            - if eds.present?
              = t(:edited_by)+': '
              %span= eds
      .watermark
        .watermark__inner
          .watermark__body= '×ž×¡×š ×˜×™×•×˜×”'
      .row
        .col-12
          .work-and-author-names-desktop
            .headline-1-v02
              = textify_collection_type(@collection.collection_type)+': '
              = @collection.title
            .headline-3-v02
              - if aus.present?
                = t(:by)+': '
                %span= aus
              - else
                - if eds.present?
                  = t(:edited_by)+': '
                  %span= eds
          .work-page-top-icons-desktop
            .top-left-icons-group
              .icons-group-v02
                .by-icon-v02.pointer.linkcolor.bookmark-status.notyet
                .by-icon-v02.pointer.linkcolor.printbutton.notyet= 9
                .by-icon-v02.pointer.linkcolor.download.notyet{'data-toggle' => 'modal', 'data-target' => '#downloadDlg'}= '3'
          .chapters-and-icons-mobile
            .work-page-top-icons-mobile
              .top-left-icons-group
                .icons-group-v02
                  .by-icon-v02.pointer.linkcolor.bookmark-status.notyet
                  .by-icon-v02.pointer.linkcolor.printbutton.notyet= 9
                  .by-icon-v02.pointer.linkcolor.download.notyet{'data-toggle' => 'modal', 'data-target' => '#downloadDlg'}= '3'
