- suppress = @base_user.present? ? @base_user.get_preference(:suppress_donation_banner) : 0
- if (@base_user.present?) && (suppress.nil? || (Time.now - suppress.to_i > 1.day)) && ((@base_user.visits.count + 1) % 4 == 0)
  .by-card-v02.donation-top-baner.donation-background-image-4#donban
    .by-card-content-v02
      %p.headline-1-v02= t(:don_banner_head_happy)
      %p= t(:don_banner_body_html)
      .button-to-full-v02
        %a.donev#donev_bannmsg{href: '/page/donate'}
          %button.by-button-v02.by-button-secondary-v02
            %span.by-icon-v02> z
            = t(:yes_i_would_love_to_help)
        %button.by-button-v02.by-button-low-contrust.dismiss_b= t(:no_thank_you)
    %span.pointer.popup-x-v02.dismiss_b -

:javascript
  $(document).ready(function() {
    $('.dismiss_b').click(function() {
      $('.donation-top-baner').hide();
      $.ajax( { url: "#{preference_url(:suppress_donation_banner)}", method: 'PUT', data: { value: Time.now } });
    });
  });
