.modal-dialog
  .modal-content
    .container-fluid
      - formurl = local_assigns.has_key?(:manifestation) ? "/download/#{manifestation.id}" : anthology.nil? ? '#' : "#{anthology_download_path(anthology.id)}"
      - dlgid = local_assigns.has_key?(:manifestation) ? 'downloadDlg' : 'downloadAnthologyDlg'
      = form_tag(formurl, id: 'download_form') do
        .modal-header
          .popup-top
            .row{:style => "padding:15px;margin: 0"}
              .col-4{:style => "padding: 0;"}
                %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                  .btn-text-v02
                    %span.right-arrow 2
                    %span= t(:back)
              .col-4{:style => "padding: 0;"}
                .modal-title.headline-2-v02{:style => "text-align: center;margin: 0; padding-top: 3px;"}= t(:download_to_file)
              .col-4
        .modal-body
          .by-popup-v02
            %div
              .by-card-content-v02.card-with-button{:style => "padding-top: 0"}
                .by-card-header-v02.desktop-only
                  %span.headline-1-v02= t(:save_to_file)
                %a.popup-x-v02.linkcolor.pointer{'data-dismiss'=>'modal'} -
                %p= t(:download_instructions)
                %p
                  %label
                    = radio_button_tag 'format', 'pdf', true
                    %b= 'PDF'
                    = t(:pdf_format)
                  %label
                    = radio_button_tag 'format', 'html'
                    %b= 'HTML'
                    = t(:html_format)
                  %label
                    = radio_button_tag 'format', 'doc'
                    %b= 'DOC'
                    = t(:doc_format)
                  %label
                    = radio_button_tag 'format', 'epub'
                    %b= 'EPUB'
                    = t(:epub_format)
                  %label
                    = radio_button_tag 'format', 'mobi'
                    %b= 'MOBI'
                    = t(:mobi_format)
                  %label
                    = radio_button_tag 'format', 'txt'
                    %b= 'TXT'
                    = t(:txt_format)
                  = hidden_field_tag :os, 'Windows', id: 'os'
                %p
                .desktop-only.bottom-right-link
                  .linkcolor.pointer{'data-dismiss'=>'modal'}
                    %span.right-side-icon -
                    %span{:style => "font-weight: bold"}= t(:cancel)
                = submit_tag t(:download), {class: 'pointer by-button-v02 button-to-full-v02', id: dlgid+'_do_download'}
        .modal-footer

:javascript
  var OSName="Unknown OS";
  if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
  if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
  if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
  if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";
  $('#os').val(OSName);
  $(document).ready(function(){
    dlgid = "##{dlgid}";
    $(dlgid+'_do_download').click(function() {
      $(dlgid).modal('hide');
    });
  });