- if collection.parent_collections.count > 0
  = t(:parent_collections)
  %ol
  - collection.parent_collections.each do |pc|
    %li{style: 'list-style-type: decimal;'}= link_to "ðŸ¢ ðŸ¢ ðŸ¢ #{pc.title}", collection_manage_path(pc.id)
%h1= title
.headline-2-v02{'data-collection-id': collection.id}
  .collection_insert_button.by-button-v02{style: 'width: 50px; justify-content: center;'}
    %b.white= '+'

%div{style: 'margin-right: 10px;'}
  = render partial: 'shared/collection', locals: {collection: collection, focused: true}

#collection_insert_section{style: 'display: none; border: 1px solid #660248; background-color: rgb(157 157 241); padding: 10px;'}
  = hidden_field_tag :collection_id, '', id: 'collection_id'
  .admin_container
    %b= t(:collection_item_type)+': '
    = select_tag :insert, options_for_select(collection_item_types_options)
    %b= t(:title)+': '
    = text_field_tag :insert_title, '', type: 'text', id: 'insert_title', style: 'background-color: #ffffff;'
  %br
  .admin_container
    %b= t(:or_search_term)
    = autocomplete_field_tag :qterm, '', autocomplete_manifestation_title_path, 'data-noMatchesLabel' => t(:no_matches_found), id: 'qterm', style: 'background-color: #ffffff;', id_element: '#insert_mid'

    = hidden_field_tag :insert_mid, '', id: 'insert_mid'
  %br
  .admin_container
    %b= t(:or_search_for_collection)
    = autocomplete_field_tag :cterm, '', autocomplete_collection_title_path, 'data-noMatchesLabel' => t(:no_matches_found), id: 'cterm', style: 'background-color: #ffffff;', id_element: '#insert_mid'

    = hidden_field_tag :insert_cid, '', id: 'insert_cid'
  %br
  .admin_container
    .collection_do_insert.by-button-v02{style: 'width: 50px; justify-content: center;font-weight: bold;'}= t(:perform_add)

:javascript
  $(document).ready(function(){
    $('body').on('click', '.collection_insert_button', function(){
    //$('.collection_insert_button').click(function(){
      $(this).parent().append($('#collection_insert_section'));
      $('#collection_insert_section').show();
      $('#collection_id').val($(this).parent().parent().attr('data-collection-id'));
      if($('#collection_id').val() == '') {
        $('#collection_id').val($(this).parent().attr('data-collection-id'));
      }
      //$('#generalDlg').load(collection_insert_popup_path, function(){
      //  $('#generalDlg').dialog('open');
      //}
    });
    $('body').on('dblclick', '.editable', function(){
      $(this).hide();
      $(this).parent().find('.editable_edit').show();
    });
    $('body').on('click', '.cancel_editable_edit', function(){
      $(this).parent().parent().hide();
      $(this).parent().parent().parent().find('.editable').show();
    });
    $('#qterm').on('railsAutocomplete.select', function(event, data){
      event.preventDefault();
      $('#insert').val('Manifestation');
      mid = data.item.id;
      $('#insert_mid').val( mid );
    });
    $('#cterm').on('railsAutocomplete.select', function(event, data){
      event.preventDefault();
      $('#insert').val('Collection');
      cid = data.item.id;
      $('#insert_cid').val( cid );
    });

    $('.collection_do_insert').click(function(){
      var item_type = $('#insert').val();
      var collection_id = $('#collection_id').val();
      var item_id = (item_type == 'Manifestation') ? $('#insert_mid').val() : (item_type == 'Collection') ? $('#insert_cid').val() : '';
      var new_title = $('#insert_title').val();
      $.ajax({
        url: '/collection_items',
        type: 'POST',
        dataType: "script",
        data: {collection_item: {collection_id: collection_id, item_type: item_type, item_id: item_id, alt_title: new_title}},
        success: function(data){
          $('#collection_insert_section').hide();
          $('html, body').animate({scrollTop: $('#coll_container_'+collection_id).offset().top + $('#coll_container_'+collection_id).outerHeight() - $('header').height() - 150}, 500);
        }
      });
    });
    $('#insert').change(function(){
      if($(this).val() == 'Manifestation' && $('#insert_mid').val() == '') {
        $('.collection_do_insert').css('background-color', 'grey');
      }
      else {
        $('.collection_do_insert').css('background-color', '#660248');
      }
    });
  });