- if collection.parent_collections.count > 0
  = t(:parent_collections)
  %ol
  - collection.parent_collections.each do |pc|
    %li{style: 'list-style-type: decimal;'}= link_to "🢁 🢁 🢁 #{pc.title}", collection_manage_path(pc.id)
%h1= title
.headline-2-v02
  .collection_insert_button.by-button-v02{style: 'width: 50px; justify-content: center;'}
    %b= link_to '+', new_collection_item_path(collection_id: collection.id), remote: true, class: 'white'

%div{style: 'margin-right: 10px;'}
  = render partial: 'shared/collection', locals: {collection: collection, focused: true}

#collection_insert_dropdown{style: 'display: none;'}
  = select_tag :insert, options_for_select(collection_item_types_options)
  .collection_do_insert.by-button-v02{style: 'width: 50px; justify-content: center;font-weight: bold;'}= t(:perform_add)

:javascript
  $(document).ready(function(){
    $('.collection_insert_button').click(function(){
      $(this).parent().append($('#collection_insert_dropdown'));
      $('#collection_insert_dropdown').show();
      //$('#generalDlg').load(collection_insert_popup_path, function(){
      //  $('#generalDlg').dialog('open');
      //}
    });
  });