= form_tag('/proof', remote: true, id: 'proof_form') do
  .flex-popup
    .popup-top
      %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
        .btn-text-v02
          %span.right-arrow 2
          %span= t(:cancel_and_back)
      .headline-2-v02{:style => "text-align: center;margin: 0; padding-top: 3px;"}= t(:found_mistake)
      .button-placeholder
    .by-popup-v02
      .by-card-header-v02.desktop-only
        %span.headline-1-v02= t(:report_found_mistake)
        %a.popup-x-v02{'data-dismiss'=>'modal'} -
      .by-card-content-v02
        #marked-error-text.field-label= t(:your_selected_text)
        = text_area_tag(:highlight, '', id: 'proof_selected_text', rows: 7, cols:40, readonly:true, class: 'field-v02')
        /%input.field-v02{:type => "text"}/
        %div.pointer#copy_proof
          %span.right-side-icon )
          %span{:style => "font-weight: bold"}= t(:proof_copy_text)
        %div.pointer#clear_proof
          %span.right-side-icon -
          %span{:style => "font-weight: bold"}= t(:clear_text_and_reset_proof)
        #error-correction-suggestion.field-label= t(:proof_your_proofs)
        = text_area_tag(:what, '', id: 'prooftext', required: true, rows: 7, cols: 40, class: 'field-v02')
        /#error-notes.field-label הערות
        /%input.field-v02{:type => "text"}/
        #error-e-mail.field-label= t(:email_just_for_proof)
        = email_field_tag 'from', '', {placeholder: t(:email), class: 'field-v02'}
        = hidden_field_tag(:manifestation, @m.id)
        .desktop-only.pointer.bottom-right-link{'data-dismiss'=>'modal'}
          %span.right-side-icon -
          %span{:style => "font-weight: bold"}= t(:cancel)
        #error-notes.field-label= t(:ziburit)
        = text_field_tag(:ziburit, nil, {required: true, class: 'field-v02'})
      .bottom-button-area.left-buttons
        = submit_tag(t(:submit_proof), {class: 'by-button-v02'})
        %button.by-button-v02.btn-secondary-v02.desktop-only{'data-dismiss'=>'modal'}
          %span.right-side-icon= '-'
          %span{style:'font-weight: bold'}= t(:cancel)

#proof_status

:javascript
  $(document).ready(function(){
    $('#proofSent').dialog({autoOpen:false, height:200, width:500, modal:true,buttons:{"#{t(:close)}": function(){$('#proofSent').dialog('close');}}});

    $('#proof_form').on('ajax:success', function(e, data, status, xhr) {
      $('#prooftext').val('');
      $('#proofDlg').modal("hide");
      $('#proofSent').dialog('open');
    }).on('ajax:error', function(e, xhr, status, error) {
      $('#proof_status').html("<span style='color:red'>#{t(:proof_failed)}</span>");
    });
    function submitProof() {
      $('#proof_form').submit(); // TBD
    };
    $('#copy_proof').click(function() {
      $('#prooftext').val($('#proof_selected_text').text());
    });
    $('#clear_proof').click(function() {
      $('#prooftext').val('');
    });
    $('#found_mistake').click(function(e) {
      if(document.getSelection().toString() == '') {
        e.preventDefault();
        alert("#{t(:proof_please_select_something)}");
      }
      else
      {
        $('#proof_selected_text').text(document.getSelection().toString());
        $('#proofDlg').modal("show");
      }
    });
  });