.read_controls{style: 'font-size:1.2em'}
  = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" do
    %span{:class => 'icon-facebook-rect'}
  = link_to "https://twitter.com/home?status=#{request.original_url}" do
    %span{:class => 'icon-twitter-bird'}
  = link_to "TODO: e-mail sharing link" do
    %span{:class => 'icon-mail'}
  = ' | '
  %span{:class => 'icon-download-alt download'}
  %span{:class => 'icon-print printbutton'}
  = link_to "TODO: quote link" do
    %span{:class => 'icon-quote-right'}
  %br
  .heart_and_bookshelf{style:'border:2px solid gray;border-radius:7px;display:inline-block;padding:3px'}
    / TODO: set the heart to filled if liked by user, once user system is in place
    = link_to "TODO: like link" do
      %span{:class => 'icon-heart-empty'}
    = ' | '
    .bookshelf{style:'display:inline'}
      %span{:class => 'icon-bookshelf',style:'padding-left:1em'}
      = select_tag 'shelves', options_for_shelves.html_safe

