- if local_assigns.has_key?(:element) && local_assigns[:element] == :button
  %button.share.btn-small-outline-v02
    .by-icon-v02.purple-v02
      = 'U'
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :mobile_button
  %a{style: 'color: #660248;'}
    .share{style:'cursor:pointer'}
      %span.by-icon-v02.iconNearText-v02 U
      = t(:share)
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :link
  .linky.share{style:'display:inline'}
    %i.fa.fa-share-alt.fa08
    = t(:share)
- elsif local_assigns.has_key?(:element) && local_assigns[:element] == :footer
  .linky.by-footer-nav-item.share{style:'display:inline'}
    %span.fa-icon.footer-nav-icon>
      %i.fas.fa-share-alt-square
    = t(:share)

#shareDlg{title: t(:choose_sharing_medium)}
  .container-fluid
    = render partial: 'shared/share_controls'
:javascript
  $(document).ready(function() {
    // share button
    $('#shareDlg').dialog({
      autoOpen: false,
      height: 'auto',
      width: 300,
      modal: true,
      buttons: { "#{t(:cancel)}": function() { $('#shareDlg').dialog("close");} }
      });
    $('.share').click(function() {
      $('#shareDlg').dialog('open');
    });
  });
