.modal-dialog
  .modal-content
    .container-fluid
      .modal-header
        .popup-top
          .row{:style => "padding:15px;margin: 0"}
            .col-4{:style => "padding: 0;"}
              %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                .btn-text-v02
                  %span.right-arrow 2
                  %span= t(:back)
            .col-4{:style => "padding: 0;"}
              .modal-title.headline-2-v02{:style => "text-align: center;margin: 0; padding-top: 3px;"}= t(:choose_sharing_medium)
            .col-4
      .modal-body
        .by-popup-v02
          .by-card-header-v02.desktop-only
            %p.headline-1-v02= t(:choose_sharing_medium)
            %a.popup-x-v02.linkcolor.pointer{'data-dismiss'=>'modal'} -
          .by-card-content-v02
            .share-options-area
              .share-options-group
                .share-option
                  %a{href: "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: '_blank'}
                    .share-icon.by-icon-v02 S
                    .share-name= t(:facebook)
                .share-option
                  %a{href: "https://twitter.com/home?status=#{request.original_url}", target: '_blank'}
                    .share-icon.by-icon-v02 ;
                    .share-name= t(:twitter)
                .share-option
                  %a{href: "https://api.whatsapp.com/send?text=#{URI.encode(request.original_url)}", target: '_blank'}
                    .share-icon.by-icon-v02= '<'
                    .share-name= t(:whatsapp)
                .share-option
                  %a{href: "mailto:?to=&subject=#{t(:from_project_ben_yehuda)}&body=#{request.original_url}", target: '_blank'}
                    .share-icon.by-icon-v02 R
                    .share-name= t(:email)
          %br
          %br
          %p
          .desktop-only.bottom-right-link
            .linkcolor.pointer{'data-dismiss'=>'modal'}
              %span.right-side-icon -
              %span{:style => "font-weight: bold"}= t(:cancel)
