= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" do
  %span{:class => 'icon-facebook-rect'}
= link_to "https://twitter.com/home?status=#{request.original_url}" do
  %span{:class => 'icon-twitter-bird'}
= link_to "TODO: e-mail sharing link" do
  %span{:class => 'icon-mail'}
