= render partial: 'shared/author_popup', locals: {author: author, surprise: true}
%a{ 'data-toggle' => :modal, 'data-target'=> "#surprise_popup_#{id_frag}"}
  - if passed_mode == 'gallery'
    .corner
      %img{ src: '/assets/corner.png', width: 80, height: 80}
    .author-homepage-pic
      %img{ src: author.profile_image.url(:thumb), height: '230px'}
    .author-homepage-surprise-name
      %p.vcentered= author.name
  - else
    .bysurprise-pic
      .bysurprise-portrait
        %img{src: author.profile_image.url(:thumb), width:83}
    .card-content.bysurprise-text{style:'align-content:center; text-align:center;position:relative;height:12rem;'}
      %p{style:'font-size:3rem;font-weight:bold;padding-top: 3rem;margin-bottom: -3rem;'}= author.name
.replace-icon.text-on-dark{style:'margin-bottom:0.6rem'}
  %a{ id: "surprise_author_refresh_#{id_frag}#{side}", role: :button}
    %i.fa.fa-refresh

:javascript
  $(document).ready(function() {
    $("#surprise_author_refresh_#{id_frag}#{side}").click(function(){
      $("#surprise_author_refresh_#{id_frag}#{side}").off('click') // remove any existing hook
      var the_id, side;
      if($("##{id_frag}_side1").hasClass('active')) { // because we're about to flip
        the_id = "##{id_frag}_side1";
        side = '1';
      } else {
        the_id = "##{id_frag}_side2";
        side = '2';
      }

      $("#surprise_author_carousel-#{id_frag}").carousel('next');
      $(the_id).load("#{url_for(controller: :authors, action: :get_random_author, id_frag: id_frag, genre: passed_genre, mode: passed_mode)}"+'&side='+side, function() {
        var $thediv = $(the_id + ' > div').clone();
        $("#surprise_popup_#{id_frag}").html($thediv.html());
      });
    });
  });