.by-card-v02#authors-surprise-replaced
  %img.surprise-author-card-bookmark-fold-v02{src: '/assets/creator-bookmark-back2.png', width: 168, height: 6}
  %a{ href: authority_path(author) }
    .surprise-author-card-v02
      %img.surprise-author-pic-v02{src: author.profile_image.url(:thumb), alt: author.name}
      .author-name-area
        .surprise-author-name-v02= to_the_author_page(author.person)
  .by-card-header-v02
    %span.headline-1-v02
      %a{ href: authority_path(author.id) }= author.name
    - if author.person.present?
      %span.date-range (#{author.person.life_years})
  .by-card-content-v02.surprise-author-card-content-v02
    .row
      .col-md-6.col-sm-12
        .metadata
          %span.by-icon-v02
            = favorite_glyph(author.favorite_of_user)
          = render partial: 'shared/intellectual_property',
                   locals: { intellectual_property: author.intellectual_property }

        - unless author.wikipedia_snippet.nil?
          .surprise-text-container
            .text-height-author= author.wikipedia_snippet
            .read-more-v02
              %a{ href: author.wikipedia_url }
                %span{style: 'font-weight: bold'}= t(:rest_in_wikipedia)
                %span.left-arrow 1
      .col-md-6.col-sm-12.surprise-author-left-side
        -#.metadata
        -#  %span{style: 'font-weight:bold'}= t(:recommendations)+':'
        -#  %a{:href => "#"}
        -#    = "#{author.recommendations_count} #{t(:recommendations_for_work)}"
        .metadata
          %b= t(:works_in_the_project)+': '
          = link_to "#{author.cached_works_count} #{t(:works)}", authority_path(author)
        .text-height-author-2
          %p{style:'font-weight:bold; margin-bottom: 3px'}= t(:their_most_read_works, gender_letter: author.gender_letter)
          %ol
            - author.most_read(5).each do |mhash|
              - genre = mhash[:genre]
              - genrebit = genre.nil? ? '' : " (#{textify_genre(genre)})"
              %li
                = link_to mhash[:title], manifestation_path(mhash[:id])
                - if mhash[:translation]
                  = ' / '+mhash[:author]
                = ' '+genrebit
