.by-card-v02#works-surprise-replaced
  - e = manifestation.expression
  %img.surprise-author-card-bookmark-fold-v02{src: '/assets/creator-bookmark-back2.png', width: 168, height: 6}
  .surprise-work-card-v02
    %a{href: manifestation_path(manifestation.id)}
      .surprise-work-genre-v02
        - genre = e.work.genre
        %p.by-genre-icon-surprise-v02= glyph_for_genre(genre)
        %p.by-genre-name-v02.headline-1-v02= textify_genre(genre)
    %a{href: manifestation_path(manifestation.id), style: 'color:white'}
      .author-name-area
        .surprise-author-name-v02= t(:to_the_work_page)
  .by-card-header-v02
    %p
      %span.headline-1-v02
        %a{href: manifestation_path(manifestation.id)}= manifestation.title
      %br
      != t(:by)+': '+authors_linked_string(manifestation)
    - if e.translation
      %div
        != t(:translation)+': '+translators_linked_string(manifestation)
  .by-card-content-v02.surprise-work-card-content-v02
    .row
      .col-md-6.col-sm-12
        .metadata
          .by-icon-v02.copyright-icon= intellectual_property_glyph(e.intellectual_property)
          = textify_intellectual_property(e.intellectual_property)
          %span.help{ data: { toggle: :tooltip }, title: t(".explanations.#{e.intellectual_property}") }= '[?]'
          - if e.translation
            .metadata
              %b= t(:orig_lang)+': '
              -# TODO: add link to query-by-language
              = textify_lang(e.work.orig_lang)
              -# TODO: add display of intermediary language, once we create a field and track it.
            -# TODO: add mention of additional translations
            -# .metadata
      .col-md-6.col-sm-12
        .metadata
          %b= t(:recommendations)+': '
          -# TODO: link to reading recommendations
          = manifestation.recommendations.count.to_s+' '+t(:recommendations_for_work)
        -# TODO: mention additional translations to same work -- this require an EPIC reworking of the many hard-coded assumptions of one expression <-> one work
        -# .metadata
    .surprise-text-container
      .ellipsis.text-height-work!= manifestation.snippet_paragraphs(15)
    .read-more-v02
      %a{ href: manifestation_path(manifestation.id) }
        %span{style: 'font-weight: bold'}= t(:rest_of_work)
        %span.left-arrow 1
