- @tabclass = {} if @tabclass.nil?
.container-fluid#navbar-full-width
  .row
    .col-lg-1
    .col-lg-10
      .container-fluid#navbar
        .row
          .col-sm-4#nav-additional
            /!= "<script>  (function() {    var cx = '014539279190547971167:yncfswl0rwe';    var gcse = document.createElement('script');    gcse.type = 'text/javascript';    gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;    var s = document.getElementsByTagName('script')[0];    s.parentNode.insertBefore(gcse, s);  })();</script><gcse:search></gcse:search>"
            .search.field.main-search-field
              %span.fa.fa-search.search-icon
              %input#q{ placeholder: t(:search_placeholder)}
            /   / .hidden
            /   /!= "<script>  (function() { var cx = '014539279190547971167:yncfswl0rwe'; var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s); })(); </script> <gcse:search></gcse:search>"
            /  /!= "<script>  (function() {    var cx = '014539279190547971167:yncfswl0rwe';    var gcse = document.createElement('script');    gcse.type = 'text/javascript';    gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;    var s = document.getElementsByTagName('script')[0];    s.parentNode.insertBefore(gcse, s);  })();</script><gcse:search></gcse:search>"
          .col-sm-8.nav
            %ul
              %li{role: 'presentation', :class => @tabclass['authors']}
                = link_to t(:authors), :controller => :authors
              %li{role: 'presentation', :class => @tabclass['works']}
                = link_to t(:works), :controller => :manifestation
              /%li{role: 'presentation', :class => @tabclass['periods']} TODO: implement period pages
              / = link_to t(:periods), :controller => :periods
              %li{role: 'presentation', :class => @tabclass['whatsnew']}
                = link_to t(:whatsnew), '#'
              %li{role: 'presentation', :class => @tabclass['h_faq']}
                = link_to t(:about), 'http://benyehuda.org/h_faq.html'
              %li{role: 'presentation', :class => @tabclass['help']}
                = link_to t(:how_to_help), 'http://benyehuda.org/blog/%D7%A8%D7%95%D7%A6%D7%99%D7%9D-%D7%9C%D7%A2%D7%96%D7%95%D7%A8'
              %li{role: 'presentation', :class => @tabclass['donate']}
                = link_to t(:donate_money), 'http://benyehuda.org/blog/%D7%AA%D7%9E%D7%99%D7%9B%D7%94-%D7%9B%D7%A1%D7%A4%D7%99%D7%AA-%D7%91%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%91%D7%9F-%D7%99%D7%94%D7%95%D7%93%D7%94'
              %li{role: 'presentation', :class => @tabclass['en']}
                = link_to 'EN', 'http://benyehuda.org/e_faq.html'
    .col-lg-1
.scroll-gradient


#resultsDlg{title: t(:search_results)}
  .container-fluid
    #results
:javascript
  $(document).ready(function(){
    $('#resultsDlg').dialog({
      autoOpen: false,
      height: 600,
      width: 800,
      modal: true,
      buttons: { "#{t(:cancel)}": function() { $('#resultsDlg').dialog("close");} }
      });

    $('.search-icon').click(function(){
      $('#resultsDlg').dialog('open');
      $('#results').load('#{url_for(controller: :application, action: :search_results)}/?q='+encodeURIComponent($('#q').val()));
    });
  });