.second-header-row
  .header-nav-area
    %nav#nav
      %ul#menu
        - authors_total = "#{Person.cached_count} #{t(:authors_in_the_project)}"
        %li.topMenuItem-v02
          .by-dropdown-v02.dropdown#ddauthors
            %a.by-nav-item-v02#nav-authors{'data-toggle' =>'dropdown', 'data-boundary' => 'ddauthors', tabindex: '1'}= t(:authors)
            .by-dropdown-content-v02.dropdown-menu#menu-authors
              .by-dropdown-header-v02= authors_total
              /%a{href: '/#top_authors'}
              %a{href: '/'}
                %span.by-icon-v02 N
                = t(:most_read_authors)
              %a{href: whatsnew_path}
                %span.by-icon-v02 O
                = t(:newest_authors)
              %a{href: authors_path}
                %span.by-icon-v02 T
                = t(:list_all_authors)
        - works_total = "#{Manifestation.cached_count} #{t(:works_in_the_project)}"
        %li.topMenuItem-v02
          .by-dropdown-v02.dropdown#ddworks
            %a.by-nav-item-v02#nav-works{'data-toggle' =>'dropdown', 'data-boundary' => 'ddworks', tabindex: '2'}= t(:works)
            .by-dropdown-content-v02.dropdown-menu#menu-works
              .by-dropdown-header-v02.dropdown-item-text= works_total
              %a.dropdown-item{href: '/#top_works'}
                %span.by-icon-v02 N
                = t(:most_read_works)
              %a.dropdown-item{href: whatsnew_path}
                %span.by-icon-v02 O
                = t(:newest_works)
              %a.dropdown-item{href: all_works_path}
                %span.by-icon-v02 T
                = t(:list_all_works)
        - combined_totals = authors_total+", "+works_total
        %li.topMenuItem-v02
          .by-dropdown-v02.dropdown#ddgenres
            %a.by-nav-item-v02#nav-genres{'data-toggle' =>'dropdown', 'data-boundary' => 'ddgenres', tabindex: '3'}= t(:genres)
            .by-dropdown-content-v02.dropdown-menu#menu-genres
              .by-dropdown-header-v02= combined_totals
              - get_genres.each do |g|
                %a{href: manifestation_genre_path(genre: g)}
                  %span.by-icon-v02= glyph_for_genre(g)
                  = t(g)
                  %span{style:'color:black'}= " - #{Manifestation.cached_work_counts_by_genre[g]} #{t(:works)}"
              .by-dropdown-divider
              %a{href: translations_path}
                %span.by-icon-v02= glyph_for_genre('translations')
                = t(:translations)
                %span{style:'color:black'}= " - #{Expression.cached_translations_count} #{t(:works)}"
        %li.topMenuItem-v02
          .by-dropdown-v02.dropdown#ddperiods
            %a.by-nav-item-v02{'data-toggle' =>'dropdown', 'data-boundary' => 'ddperiods', tabindex: '4'}= t(:periods)
            .by-dropdown-content-v02.dropdown-menu#menu-periods
              .by-dropdown-header-v02= combined_totals
              - Person.periods.each do |p|
                %a{href: period_path(p[0])}
                  %span.by-icon-v02 P
                  = t(p[0]+'_long')
                  %span{style:'color:black'}= " - #{work_count_by_period(p[0])} #{t(:works)}"
        %li.topMenuItem-v02
          .by-dropdown-v02.dropdown#ddnews
            %a.by-nav-item-v02#nav-news{'data-toggle' =>'dropdown', 'data-boundary' => 'ddnews', tabindex: '5'}= t(:whatsnew)
            .by-dropdown-content-v02.dropdown-menu#menu-news
              %a.by-dropdown-header-v02{href: whatsnew_path}= t(:to_all_whatsnew)
              %a{href: whatsnew_path}
                %span.by-icon-v02 H
                = t(:new_authors)
              %a{href: whatsnew_path}
                %span.by-icon-v02 G
                = t(:new_works)
              %a{href: t(:facebook_url)}
                %span.by-icon-v02 S
                = t(:latest_facebook)
              %a{href: t(:youtube_url)}
                %span.by-icon-v02 W
                = t(:latest_youtube)
              %a{href: t(:blog_url)}
                %span.by-icon-v02 ~
                = t(:latest_blog)
        %li.topMenuItem-v02{:style => "padding-left: 0"}
          .by-dropdown-v02.dropdown#ddabout
            %a.by-nav-item-v02#nav-info{'data-toggle' =>'dropdown', 'data-boundary' => 'ddabout', tabindex: '6'}= t(:about)
            .by-dropdown-content-v02.dropdown-menu#menu-info
              .by-dropdown-header-v02= t(:more_info)
              %a{href: '/page/about'}
                %span.by-icon-v02 M
                = t(:about_the_project)
              %a{href: '/page/english'}
                %span.by-icon-v02{style:'float:right'} M
                = 'About Project Ben-Yehuda'
              %a{href: '/page/amuta'}
                %span.by-icon-v02 G
                = t(:about_amuta)
              %a{href: '/page/volunteer'}
                %span.by-icon-v02 V
                = t(:how_to_help)
              %a.donev#donev_menu{href: '/page/donate'}
                %span.by-icon-v02 z
                = t(:donate_money)
              %a{href: t(:facebook_url)}
                %span.by-icon-v02 S
                = t(:to_the_facebook_page)
              %a{href: t(:youtube_url)}
                %span.by-icon-v02 W
                = t(:to_the_youtube)
              %a{href: t(:blog_url)}
                %span.by-icon-v02 ~
                = t(:to_the_blog)
              %a.linkcolor.pointer.contact_btn{href: '/contact'}
                %span.by-icon-v02 R
                = t(:contact_us)
    #mySidenav.sidenav-v02
      .mobile-menu-top= t(:mobile_totals, authors: Person.cached_toc_count, works: Manifestation.cached_count)
      %span.pointer.closebtn-v02#closeMobileMenu ×
      %ul#menuMobile
        %li.topMenuItemMobile-v02
          %span.caret= t(:authors)
          %ul.nested
            %li
              %a{href: '/'}
                %span.by-icon-v02.iconInMenu N
                = t(:most_read_authors)
            %li
              %a{href: whatsnew_path}
                %span.by-icon-v02.iconInMenu O
                = t(:newest_authors)
            %li
              %a{href: authors_path}
                %span.by-icon-v02.iconInMenu T
                = t(:list_all_authors)
        %li.topMenuItemMobile-v02
          %span.caret= t(:works)
          %ul.nested
            %li
              %a{href: '/#top_works'}
                %span.by-icon-v02.iconInMenu N
                = t(:most_read_works)
            %li
              %a{href: '/#new_works'}
                %span.by-icon-v02.iconInMenu O
                = t(:newest_works)
            %li
              %a{href: all_works_path}
                %span.by-icon-v02.iconInMenu T
                = t(:list_all_works)
        %li.topMenuItemMobile-v02
          %span.caret= t(:genres)
          %ul.nested
            - get_genres.each do |g|
              %li
                %a{href: manifestation_genre_path(genre: g)}
                  %span.by-icon-v02.iconInMenu= glyph_for_genre(g)
                  = t(g)
                  %span{style:'color:black; font-weight: normal;'}= " - #{Manifestation.cached_work_counts_by_genre[g]} #{t(:works)}"
            .by-dropdown-divider
            %li
              %a{href: translations_path}
                %span.by-icon-v02.iconInMenu= glyph_for_genre('translations')
                = t(:translations)
                %span{style:'color:black; font-weight: normal;'}= " - #{Expression.cached_translations_count} #{t(:works)}"
        %li.topMenuItemMobile-v02
          %span.caret= t(:periods)
          %ul.nested
            - Person.periods.each do |p|
              %li
                %a{href: period_path(p[0])}
                  %span.by-icon-v02.iconInMenu P
                  = t(p[0])
                  %span{style:'color:black; font-weight: normal;'}= " - #{work_count_by_period(p[0])} יצירות"
        %li.topMenuItemMobile-v02
          %span.caret= t(:whatsnew)
          %ul.nested
            %li
              %a{href: whatsnew_path}
                %span.by-icon-v02.iconInMenu H
                = t(:new_authors)
            %li
              %a{href: whatsnew_path}
                %span.by-icon-v02.iconInMenu G
                = t(:new_works)
            %li
              %a{href: t(:facebook_url)}
                %span.by-icon-v02.iconInMenu S
                = t(:latest_facebook)
            %li
              %a{href: t(:youtube_url)}
                %span.by-icon-v02.iconInMenu W
                = t(:latest_youtube)
            %li
              %a{href: t(:blog_url)}
                %span.by-icon-v02.iconInMenu ~
                = t(:latest_blog)
        %li.topMenuItemMobile-v02
          %span.caret= t(:about)
          %ul.nested
            %li
              %a{href: '/page/about'}
                %span.by-icon-v02.iconInMenu M
                = t(:about_the_project)
            %li
              %a{href: '/page/english'}
                = 'About Project Ben-Yehuda'
                %span.by-icon-v02.iconInMenu M
            %li
              %a{href: '/page/amuta'}
                %span.by-icon-v02.iconInMenu G
                = t(:about_amuta)
            %li
              %a{href: '/page/volunteer'}
                %span.by-icon-v02.iconInMenu V
                = t(:how_to_help)
            %li
              %a.donev#donev_mobile_menu{href: '/page/donate'}
                %span.by-icon-v02.iconInMenu z
                = t(:donate)
            %li
              %a{href: t(:facebook_url)}
                %span.by-icon-v02.iconInMenu S
                = t(:to_the_facebook_page)
            %li
              %a{href: t(:youtube_url)}
                %span.by-icon-v02.iconInMenu W
                = t(:to_the_youtube)
            %li
              %a{href: t(:blog_url)}
                %span.by-icon-v02.iconInMenu ~
                = t(:to_the_blog)
            %li
              %a.linkcolor.pointer.contact_btn{href: '/contact'}
                %span.by-icon-v02.iconInMenu R
                = t(:contact_us)
    .menuButton-v02#mobileMenu= ','

  .top-donation-desk-area-v02
    .donation-area-v02{title: t(:donate_tt)}
      %a.donev#donev_top_bar{href: '/page/donate'}
        %button.btn-small-outline-v02.btn-text-v02.donation-btn-v02
          %span.by-icon-v02> z
          = @ltr ? t(:donate_en) : t(:donate_money)
  .header-search-area
    .top-search-box-v02
      -#.top-search-select-v02
      -#  .search-drop-down= t(:search_the_site)
      -#  %a.dropdown-arrow{href: '#'}
      -#  /%select{:style => "width:124px; height:34px; border: none; background-color: transparent;"}
      -#  /  %option{:value => "חיפוש באתר"} חיפוש באתר
      -#  /  / %option{:value => "חיפוש בדף"} חיפוש בדף
      -#  /  / %option{:value => "חיפוש מתקדם"} חיפוש מתקדם
      .top-search-v02{ title: t(:search_tt)}
        %input#q{:placeholder => t(:search_term), value: @searchterm} 
        %span.search-icon-v02.by-icon-top-v02 X
        -#= f.label t(:tags)
        -#= f.text_field 'tags'
        -#%br
        -#= f.submit t(:search)

    .topMobileBtns-v02
      %a.donev#donev_mobile_top_banner{href: '/page/donate'}
        %button.btn-small-outline-v02.btn-text-v02.donation-btn-v02.money-donation-text{href: '/page/donate'}
          %span.by-icon-v02 z
          = t(:donate_money)
      %a.donev#donev_mobile_top_banner_scrolled{href: '/page/donate'}
        %button.btn-small-outline-v02.btn-text-v02.donation-btn-v02.donation-text{href: '/page/donate'}
          %span.by-icon-v02 z
          = t(:donate)
      %a.by-icon-v02#mobile_search{href: "#"} X
      .dropdown.d-inline#moreMobile
        %span.pointer.by-icon-v02.dropdown-toggle#nav-more{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"} Y
        .dropdown-menu.dropdown-menu-right#menu-more
          %a.dropdown-item.linkcolor{href: t(:facebook_url)}
            %span.by-icon-v02 S
            = t(:to_the_facebook_page)
          %a.dropdown-item.linkcolor{href: t(:youtube_url)}
            %span.by-icon-v02 W
            = t(:to_the_youtube)
          %a.dropdown-item.linkcolor{href: t(:blog_url)}
            %span.by-icon-v02 ~
            = t(:to_the_blog)
          = render partial: 'shared/share', locals: {element: :mobile_button}
          %a.dropdown-item.linkcolor.contact_btn{href: '/contact'}
            %span.by-icon-v02 R
            = t(:contact_us)
          - if current_user
            %a.dropdown-item.linkcolor{:href => "/signout"}
              %span.by-icon-v02 0
              = t(:sign_out)
          - else
            %a.dropdown-item.linkcolor{:href => "/session/login"}
              %span.by-icon-v02 Z
              = t(:sign_in)

#resultsDlg{title: t(:search_results)}
  .container-fluid
    #results
:javascript

  var toggler = document.getElementsByClassName("caret");
  var i;
  var last_opened = null;
  function jump(h){
    $("#mySidenav").removeClass('sidebar-opened');
    var url = location.href;               //Save down the URL without hash.
    location.href = "#"+h;                 //Go to the target element.
    history.replaceState(null,null,url);   //Don't like hashes. Changing it back.
  }

  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      if(last_opened != null && last_opened != this)
      {
        last_opened.parentElement.querySelector(".nested").classList.remove("active");
        last_opened.classList.remove("caret-down");
      }
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
      last_opened = this;
    });
  }
  $(document).ready(function(){
    $('#resultsDlg').dialog({
      autoOpen: false,
      height: 600,
      width: 800,
      modal: true,
      buttons: { "#{t(:cancel)}": function() { $('#resultsDlg').dialog("close");} }
      });
    $('#q').keypress(function (e) {
      var key = e.which;
      if(key == 13) { // the enter key code
        $('.search-icon-v02').click();
        return false;
      }
    });

    $('.search-icon-v02').click(function(){
      var text = '';
      if($('#q2').length){
        text = $('#q2').val();
      } else {
        text = $('#q').val();
      }
      window.location.href = '#{search_results_internal_path}/?q='+encodeURIComponent(text);
    });
    $('.contact_btn').click(function(e) {
      e.stopPropagation();
      e.preventDefault();
      $('#contactDlg').html("<h2>#{t(:loading) }</h2>");
      $('#contactDlg').load("#{ welcome_contact_path }");
      $('#contactDlg').modal('show');
    });
    $('#mobileMenu').click(function() {
      $("#mySidenav").addClass('sidebar-opened');
      //$("#mySidenav").css('width','80%');
    });
    $('#closeMobileMenu').click(function(){
      $("#mySidenav").removeClass('sidebar-opened');
      //$('#mySidenav').css('width','0');
    });
    $('#moreMobile').on('show.bs.dropdown', function(){
      $("#mySidenav").removeClass('sidebar-opened')
    });
    $('#mobile_search').click(function(e){
      e.preventDefault();
      $('#generalDlg').load("#{mobile_search_path}");
      $('#generalDlg').modal('show');
    });
  });