.row
  .col-xs-6.col-md-5{:style => "padding-left: 0"}
    %nav#nav
      %ul#menu
        - authors_total = "#{Person.cached_toc_count} #{t(:authors_in_the_project)}"
        %li.topMenuItem
          .by-dropdown
            %a.by-nav-item{href: url_for(controller: :authors)}= t(:authors)
            .by-dropdown-content
              %a.by-dropdown-header{href: url_for(controller: :authors)}= authors_total
              %a{href: '/#top_authors'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-arrow-circle-up
                = t(:most_read_authors)
              %a{href: "#{whatsnew_path}#new_authors"}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-bullhorn
                = t(:newest_authors)
              %a{href: all_authors_path}
                %span.far-icon.iconNearText>
                  %i.far.fa-list-alt
                = t(:list_all_authors)
        - works_total = "#{Manifestation.cached_count} #{t(:works_in_the_project)}"
        %li.topMenuItem
          .by-dropdown
            %a.by-nav-item{href: works_path}= t(:works)
            .by-dropdown-content
              %a.by-dropdown-header{href: works_path}= works_total
              %a{href: '/#top_works'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-arrow-circle-up
                = t(:most_read_works)
              %a{href: "#{whatsnew_path}#new_works"}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-bullhorn
                = t(:newest_works)
              %a{href: all_works_path}
                %span.far-icon.iconNearText>
                  %i.far.fa-list-alt
                = t(:list_all_works)
        - combined_totals = authors_total+", "+works_total
        %li.topMenuItem
          .by-dropdown
            %a.by-nav-item{:href => "#"}= t(:genres)
            .by-dropdown-content
              .by-dropdown-header= combined_totals
              - get_genres.each do |g|
                %a{href: manifestation_genre_path(genre: g)}
                  %span.by-icon.iconNearText= glyph_for_genre(g)
                  = "#{t(g)} - #{Manifestation.cached_work_counts_by_genre[g]} #{t(:works)}"
              %a{:href => "#"}
                %span.by-icon.iconNearText= glyph_for_genre('translations')
                = "#{t(:translations)} - #{Expression.cached_translations_count} #{t(:works)}"
        %li.topMenuItem
          .by-dropdown
            %a.by-nav-item{href: "#"}= t(:periods)
            .by-dropdown-content
              .by-dropdown-header= combined_totals
              - Person.periods.each do |p|
                %a{href: period_path(p[0])}
                  %span.fas-icon.iconNearText>
                    %i.fas.fa-calendar-alt
                  = "#{t(p[0]+'_long')} - #{work_count_by_period(p[0])} יצירות"
        %li.topMenuItem
          .by-dropdown
            %a.by-nav-item{href: whatsnew_path}= t(:whatsnew)
            .by-dropdown-content
              %a.by-dropdown-header{href: whatsnew_path}= t(:to_all_whatsnew)
              %a{href: "#{whatsnew_path}#new_authors"}
                %span.by-icon.iconNearText> H
                = t(:new_authors)
              %a{href: "#{whatsnew_path}#new_works"}
                %span.by-icon.iconNearText> G
                = t(:new_works)
              %a{href: t(:facebook_url)}
                %span.fab.iconNearText>
                  %i.fab.fa-facebook-square
                = t(:latest_facebook)
              %a{href: t(:youtube_url)}
                %span.fab.iconNearText>
                  %i.fab.fa-youtube
                = t(:latest_youtube)
              %a{href: t(:blog_url)}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-pencil-alt
                = t(:latest_blog)
        %li.topMenuItem{:style => "padding-left: 0"}
          .by-dropdown
            %a.by-nav-item{href: '/page/about'}= t(:about)
            .by-dropdown-content
              .by-dropdown-header מידע נוסף
              %a{href: '/page/about'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-info-circle
                = t(:about_the_project)
              %a{href: '/page/english'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-info-circle
                About Project Ben-Yehuda
              %a{href: '/page/amuta'}
                %span.by-icon.iconNearText> G
                = t(:about_amuta)
              %a{href: '/page/volunteer'}
                %span.far-icon.iconNearText>
                  %i.far.fa-handshake
                = t(:how_to_help)
              %a{href: '/page/donate'}
                %span.by-icon.iconNearText> z
                = t(:donate_money)
              %a{href: t(:facebook_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-facebook-square
                = t(:to_the_facebook_page)
              %a{href: t(:youtube_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-youtube
                = t(:to_the_youtube)
              %a{href: t(:blog_url)}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-pencil-alt
                = t(:to_the_blog)
              %a{:href => "mailto:editor@benyehuda.org"}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-phone
                יצירת קשר
    #mySidenav.sidenav
      %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
      %ul#menuMobile
        %li.topMenuItemMobile
          %span.caret= t(:authors)
          %ul.nested
            %li
              %a{href: '/#top_authors'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-arrow-circle-up
                = t(:most_read_authors)
            %li
              %a{href: "#{whatsnew_path}#new_authors"}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-bullhorn
                = t(:newest_authors)
            %li
              %a{href: all_authors_path}
                %span.far-icon.iconNearText>
                  %i.far.fa-list-alt
                = t(:list_all_authors)
        %li.topMenuItemMobile
          %span.caret= t(:works)
          %ul.nested
            %li
              %a{href: '/#top_works'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-arrow-circle-up
                = t(:most_read_works)
            %li
              %a{href: "#{whatsnew_path}#new_works"}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-bullhorn
                = t(:newest_works)
            %li
              %a{href: all_works_path}
                %span.far-icon.iconNearText>
                  %i.far.fa-list-alt
                = t(:list_all_works)
        %li.topMenuItemMobile
          %span.caret= t(:genres)
          %ul.nested
            - get_genres.each do |g|
              %li
                %a{href: manifestation_genre_path(genre: g)}
                  %span.by-icon.iconNearText= glyph_for_genre(g)
                  = "#{t(g)} - #{Manifestation.cached_work_counts_by_genre[g]} #{t(:works)}"
            %li
              %a{:href => "#"}
                %span.by-icon.iconNearText= glyph_for_genre('translations')
                = "#{t(:translations)} - #{Expression.cached_translations_count} #{t(:works)}"
        %li.topMenuItemMobile
          %span.caret= t(:periods)
          %ul.nested
            - Person.periods.each do |p|
              %li
                %a{href: period_path(p[0])}
                  %span.fas-icon.iconNearText>
                    %i.fas.fa-calendar-alt
                  = "#{t(p[0]+'_long')} - #{work_count_by_period(p[0])} יצירות"
        %li.topMenuItemMobile
          %span.caret= t(:whatsnew)
          %ul.nested
            %li
              %a{href: "#{whatsnew_path}#new_authors"}
                %span.by-icon.iconNearText> H
                = t(:new_authors)
            %li
              %a{href: "#{whatsnew_path}#new_works"}
                %span.by-icon.iconNearText> G
                = t(:new_works)
            %li
              %a{href: t(:facebook_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-facebook-square
                = t(:latest_facebook)
            %li
              %a{href: t(:youtube_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-youtube
                = t(:latest_youtube)
            %li
              %a{href: t(:blog_url)}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-pencil-alt
                = t(:latest_blog)
        %li.topMenuItemMobile
          %span.caret= t(:about)
          %ul.nested
            %li
              %a{href: '/page/about'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-info-circle
                = t(:about_the_project)
            %li
              %a{href: '/page/english'}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-info-circle
                About Project Ben-Yehuda
            %li
              %a{href: '/page/amuta'}
                %span.by-icon.iconNearText> G
                = t(:about_amuta)
            %li
              %a{href: '/page/volunteer'}
                %span.far-icon.iconNearText>
                  %i.far.fa-handshake
                = t(:how_to_help)
            %li
              %a{href: '/page/donate'}
                %span.by-icon.iconNearText> z
                = t(:donate_money)
            %li
              %a{href: t(:facebook_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-facebook-square
                = t(:to_the_facebook_page)
            %li
              %a{href: t(:youtube_url)}
                %span.fab-icons.iconNearText>
                  %i.fab.fa-youtube
                = t(:to_the_youtube)
            %li
              %a{href: t(:blog_url)}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-pencil-alt
                = t(:to_the_blog)
            %li
              %a{href: t(:contact_url)}
                %span.fas-icon.iconNearText>
                  %i.fas.fa-phone
                = t(:contact_us)
    .menuButton{:onclick => "openNav()", :style => "font-size:24px; cursor:pointer"}
      %i.fas.fa-bars.purple
  .col-md-2.top-donation-desk-area
    %div
      %a{href: '/page/donate'}
        %button.btn-small-ouline.btn-text.donation-btn
          %span.by-icon.iconNearText> z
          = t(:donate_money)
  .col-md-1.empty
  .col-xs-6.col-md-4
    .top-search-box
      .top-search-select
        %select{:style => "width:124px; height:34px; border: none; background-color: transparent;"}
          %option{:value => "חיפוש באתר"} חיפוש באתר
          / %option{:value => "חיפוש בדף"} חיפוש בדף
          / %option{:value => "חיפוש מתקדם"} חיפוש מתקדם
      .top-search
        %span.search-icon.fas-icon
          %i.fas.fa-search
        %input#q{:placeholder => t(:search_placeholder)}/
    .topMobileBtns
      %button.btn-small-ouline.fas-icon.purple{:href => "#", :style => "padding: 0"}
        %i.fas.fa-wheelchair
      %a{href: '/page/donate'}
        %button.btn-small-ouline.by-icon.purple{:style => "margin-right: 4px; padding: 0"} z
      %span.fas-icon{:style => "margin-right: 4px; padding: 0"}
        %a{:href => "#"}
          %i.fas.fa-search
      #moreMobile.by-dropdown
        %a.fas-icon.purple{:href => "#", :style => "margin-right: 4px; padding: 0"}
          %i.fas.fa-ellipsis-v
        .by-dropdown-content
          %a{href: t(:facebook_url)}
            %span.fab-icons.iconNearText>
              %i.fab.fa-facebook-square
            = t(:to_the_facebook_page)
          %a{href: t(:youtube_url)}
            %span.fab-icons.iconNearText>
              %i.fab.fa-youtube
            = t(:to_the_youtube)
          %a{href: t(:blog_url)}
            %span.fas-icon.iconNearText>
              %i.fas.fa-pencil-alt
            = t(:to_the_blog)
          = render partial: 'shared/share', locals: {element: :mobile_button}
          %a{:href => "#"}
            %span.fas-icon.iconNearText>
              %i.fas.fa-phone
            יצירת קשר
          %a{:href => "#"}
            %span.fas-icon.iconNearText>
              %i.fas.fa-sign-in-alt
            התחברות

#resultsDlg{title: t(:search_results)}
  .container-fluid
    #results
:javascript
  $(document).ready(function(){
    $('#resultsDlg').dialog({
      autoOpen: false,
      height: 600,
      width: 800,
      modal: true,
      buttons: { "#{t(:cancel)}": function() { $('#resultsDlg').dialog("close");} }
      });
    $('#q').keypress(function (e) {
      var key = e.which;
      if(key == 13) { // the enter key code
        $('.search-icon').click();
        return false;
      }
    });

    $('.search-icon').click(function(){
      $('#resultsDlg').dialog('open');
      $('#results').load('#{url_for(controller: :application, action: :search_results)}/?q='+encodeURIComponent($('#q').val()));
    });
  });