.by-card-v02.flash-work-v02
  .flash-bg-v02
    .by-side-card-header-v02
      %p.headline-1-v02= t(:featured_item)
    .by-card-content-v02.clampable
      - unless @featured_content.nil?
        %p.headline-3-v02= @featured_content.title
        - unless @featured_content.user.nil?
          %p
            = t(:by)+' '
            = link_to @featured_content.user.name, volunteer_show_path(@featured_content.user)
        .flash-text-container
          .text-height-flash-work.clampable_body
            != @fc_snippet
            - if @fc_rest != ''
              = ' ...'
        -# TODO: implement
        -# .another-flash{style: 'padding-top: 6px'}
        -#   = link_to '#' do
        -#     %span.right-side-icon= "'"
        -#     %span{style: 'font-weight: bold'}= t(:another_feature)
        .button-to-full-v02
          - unless @featured_content.manifestation.nil?
            %a{ href: manifestation_read_path(id: @featured_content.manifestation.id)}
              %button.by-button-v02= t(:to_the_work_in_the_site)
          - unless @featured_content.external_link.nil? or @featured_content.external_link.empty?
            %a{ href: @featured_content.external_link, target: '_blank'}
              %button.by-button-v02= t(:to_external_content)
          %button.by-button-v02.popup_btn.pointer{style:'font-weight: bold;display:none;', 'data-popup-id' => 'featured_content_dlg','data-popuppath' => featured_content_popup_path(id: @featured_content.id)}= t(:to_the_full_feature)
