.row
  .col-xs-12
    .card.footer-card
      - unless @featured_volunteer.nil?
        .small-bookmark-back
          %img{ src: '/assets/creator-bookmark-back2.png', alt: t(:background), width: 84, height: 4}
        .small-bookmark-front
          %img{ src: @featured_volunteer.profile_image.url(:thumb), alt: @featured_volunteer.name, width: 83}
        .near-small-picture
          .card-content
            %p.headline-3= @featured_volunteer.name
            %p{ style: 'padding-top:0.6rem'}= @featured_volunteer.bio
        .card-content{ style: 'padding-top:0'}
          %p.headline-4{ style: 'margin-top:1.4rem'}= t(:volunteer_statement)
          %p= @featured_volunteer.about
          %a{ href: '/page/volunteer'}
            .btn{style: 'padding-top:0.5rem;'}
              %b= t(:how_to_help)