.row
  .col-xs-12
    / TODO: unhardcode this!
    .card{style: 'height:427px'}
      - unless @featured_content.nil?
        .card-content
          .recommend-pic
            .recommend-portrait
              - unless @featured_content.person.nil?
                %img.recommend-absolute{ src: @featured_content.person.profile_image.url(:thumb), width:'160px'}
              - else
                = '' # TODO: what to put here?
          .recommend-text{style: 'height: 26.4rem; overflow: hidden; text-overflow: ellipsis;position:relative'}
            %p.headline-3= @featured_content.title
            %p{style: 'margin-bottom: 1.8rem'}
              = 'TBD'
            %p
              != @featured_content.body
          - unless @featured_content.manifestation.nil?
            %a{ href: manifestation_read_path(id: @featured_content.manifestation.id)}
              .btn{style: 'padding-top:0.5rem'}
                %b= t(:to_the_work_in_the_site)
          - unless @featured_content.external_link.nil? or @featured_content.external_link.empty?
            %a{ href: @featured_content.external_link}
              .btn{style: 'padding-top:0.5rem'}
                %b= t(:to_external_content)
        .h_separator
.float-left
  %a{href: 'http://benyehuda.org/blog/'}= t(:more_recommendations_in_the_blog)