.container-fluid.welcome
  .container
    .row
      .col-md-1
      .col-md-10
        .welcome-content
          %h1= t(:welcome_title)
          %p= t(:welcome_paragraph_html)
          %p= t(:welcome_stats_html, {authors: link_to(@totals[:authors].to_s, authors_index_path), works: link_to(@totals[:works].to_s, works_path), headwords: link_to(@totals[:headwords].to_s, 'http://benyehuda.org/~asaf/full_dict.html')})
          .welcome-actions
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-info-circle
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-question-circle
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-edit
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-youtube-square
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-facebook-square
            .welcome-icon
              %a{ href: ''}
                %i.fa.fa-share-alt
            .welcome-icon
              %a{ href: ''}
                %i.icon-bydonate
      .col-md-1

.container
  .row
    .col-md-4.col-xs-12#whatsnew
      / what's new
      %h2= t(:whats_new)
      = render partial: 'whatsnew'
    / .col-sm-1
    / space
    .col-md-8.col-xs-12#authors
      / author cards
      = render partial: 'shared/authors', locals: {popular_authors: @pop_authors, random_authors: @random_authors}
  .row
    .col-sm-4.col-xs-12#flashlight
      / featured item
      %h2= t(:featured_item)
      = render partial: 'featured_item'
    .col-sm-8.col-xs-12#genre
      / work cards
      %h2= t(:works_by_genre)
      = render partial: 'works'
  .row
    .col-sm-4
      / extras
      %h2= t(:support_the_project)
      = render partial: 'support'
    .col-sm-4
      / 10 most read works
      %h2= t(:top_ten_works)
      = render partial: 'top_works'
    .col-sm-4
      / 10 most read authors
      %h2= t(:top_ten_authors)
      = render partial: 'top_authors'
