.container-fluid#content-area
  .row
    .col-12.col-lg-8
      -# authors
      .by-card-v02#authors-in-project
        .by-card-header-v02
          %span.headline-1-v02
            = link_to t(:authors_in_the_project), authors_path
          -#= t(:x_authors, x: @totals[:authors])
          = "(#{@totals[:authors]})"
        -# author carousels
        = render partial: 'shared/authors', locals: {popular_authors: @pop_authors, random_authors: @random_authors}

      -# most read and new works
      - cache "homepage_mostread", expires_in: 6.hours do
        .by-card-v02#works-in-project
          .by-card-header-v02
            %a.headline-1-v02{href: all_works_path}= t(:works_in_the_project)
            -#= t(:x_works, x: @totals[:works])
            = "(#{@totals[:works]})"
          .by-card-content-v02.works-in-project-content
            .row.top-works
              = render partial: 'works_list', locals: {cache_key: 'top_works', label: t(:most_popular_works_this_month), collection: @pop_works, extra_class: 'works-most-read'}
              = render partial: 'works_list', locals: {cache_key: 'new_works', label: t(:newest_works), collection: @newest_works, extra_class: 'works-most-new'}
            .link-to-all-v02
              %a{style: 'font-weight:bold', href: all_works_path}
                %span= t(:to_all_works)
                %span.left-arrow 1
      = render 'works'
      = render 'periods'

      -# surprise author
      - if @surprise_author.present?
        .scroller.by-card-v02#surprise-scroller
          .slide
            #authors-surprise{style:'cursor:pointer'}
              .by-card-header-v02
                %span.headline-1-v02= t(:surprise_author)
              .by-card-content-v02#authors-surprise-initial
                .surprise-btn-area-v02
                  %button.by-button-v02.surprise-btn-v02.headline-2-v02= t(:surprise_me)
          .slide
            = render partial: 'shared/surprise_author', locals: {passed_mode: 'home', author: @surprise_author}                  
      -# surprise work
      - if @surprise_work.present?
        .scroller.by-card-v02#work-surprise-scroller
          .slide#works-surprise{style:'cursor:pointer'}
            .by-card-header-v02
              %span.headline-1-v02= t(:surprise)
            .by-card-content-v02#works-surprise-initial
              .surprise-btn-area-v02
                %button.by-button-v02.surprise-btn-v02.headline-2-v02= t(:surprise_me)
          .slide
            = render partial: 'shared/surprise_work', locals: {passed_mode: 'home', manifestation: @surprise_work}
        
    .col-12.col-lg-4
      -# whatsnew feed
      .by-card-v02.whats-new-v02
        #whats-new-bg
          .by-side-card-header-v02
            %p.headline-1-v02{style:'margin-bottom:0px'}
              %a{ href: whatsnew_path}= t(:whatsnew)
            %p{style:'width: 69%;margin-bottom:0px'}= t(:whatsnew_subtitle)
          .by-card-content-v02
            .whats-new-content
              - items = @cached_newsfeed.count
              - i = 1
              - @cached_newsfeed.each do |item|
                - theclass = "new-card-v02 #{(item.double || item.itemtype == 'youtube') ? ' double-height-v02' : ''}"
                - theclass += ' last-item' if i == items
                %div{ 'class' => theclass+' clampable'}
                  .new-info-v02= item.pinned ? '7' : ''
                  .new-card-right-v02
                    - if item.itemtype == 'publication'
                      = link_to authority_path(item.authority_id) do
                        %div
                          %img.new-card-pic-v02{src: item.thumbnail_url, width: '475', height: '686' }
                    - else
                      %div{ 'class' => "new-card-type-v02 #{(item.double || item.itemtype == 'youtube') ? ' double-height-v02' : ''}"}= newsitem_glyph(item)
                  .new-card-left-v02
                    - unless item.url.nil?
                      %a.headline-2-v02{ href: item.url}
                        %span.new-headline-v02!= item.title
                    - else
                      %p.headline-2-v02
                        %span.new-headline-v02!= item.title
                    %p.text-height-new.clampable_body!= item.body
                    - if item.itemtype == 'youtube'
                      .new-image-frame-v02
                        %iframe{frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', width: '267', height: '150', type: 'text/html', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen:'', src: item.url.sub('watch?v=','embed/')}
                  - if item.itemtype == 'publication'
                    .link-to-all-v02.popup_btn.pointer.linkcolor{
                      style: 'font-weight: bold;display:none;',
                      data: {
                        popup_id: 'authorWhatsNewDlg',
                        popuppath: author_whatsnew_popup_path(item.authority_id)
                      }
                    }
                      = t(:total_x_works, count: item.pub_count)
                - i += 1
            .link-to-all-v02
              %a{ href: whatsnew_path}
                %b= t(:to_all_whatsnew)
                %span.left-arrow= '1'
      = render partial: 'shared/donation_box'
      -# work spotlight
      = render partial: 'featured_item'
      -# author spotlight
      = render partial: 'featured_author'
      -# volunteer spotlight
      .by-card-v02.volunteer-v02
        #volunteer-bg
          - unless @featured_volunteer.nil?
            .by-side-card-header-v02
              %p.headline-1-v02{style: 'margin-bottom: 0'}= t(:our_volunteers)
            .by-card-content-v02
              %p.headline-2-v02= @featured_volunteer.name
              .internal-content-area
                .internal-text-area
                  %p.text-height-volunteer
                    = @featured_volunteer.bio
                    %br
                    = @featured_volunteer.about
                .internal-pic
                  %img{src: @featured_volunteer.profile_image.url(:thumb)}
  .row
    .col-12
      .by-card-v02.donation-bottom-baner
        .by-card-content-v02
          %p.headline-1-v02= t(:don_footer_title)
          .desktop-only
            %p
              = t(:don_footer_desktop_html,
                  total_works: Manifestation.cached_count.to_s,
                  total_authors: Authority.cached_count.to_s,
                  total_langs: get_langs.count,
                  total_headwords: get_total_headwords.to_s)
            %a.donev#donev_footban{href: '/page/donate'}
              .button-to-full-v02
                %button.by-button-v02
                  %span.by-icon-v02> z
                  = t(:yes_i_would_love_to_help)
          .mobile-only
            %p
              = t(:don_footer_mobile_text)
            %a.donev#donev_footban_mobile{href: '/page/donate'}
              .button-to-full-v02
                %button.by-button-v02
                  %span.by-icon-v02> z
                  = t(:yes_i_would_love_to_help)

#authorWhatsNewDlg.modal{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1', style: 'padding-right: 0;'}
#featured_content_dlg.modal{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1', style: 'padding-right: 0;'}

:javascript
  $(document).ready(function() {
    // scroll up links-to-anchors to compensate for fixed header
    if(location.href.indexOf('#') != -1) {
      anchor = location.href.substr(location.href.indexOf('#'));
      window.setTimeout(function() {
        $(document).scrollTop($(anchor).offset().top - $('header').height() - 55);
      }, 300);
    }
    $('.footer-card').matchHeight();
    $('.row1').matchHeight();
    $('#surprise-scroller').slick({
      infinite: false,
      slidesToShow: 1,
      placeholders: false,
      slidesToScroll: 1,
      arrows: false,
      rtl: true,
      outerEdgeLimit: true,
      // appendArrows: '#scroller_container',
    });
    let author_slide;
    let work_slide;
    $('#authors-surprise').click(function(){
      $('#surprise-scroller').slick('slickNext'); // flip
      currentSlide = $('#surprise-scroller').slick('slickCurrentSlide');
      if(currentSlide != author_slide) {
        $('#surprise-scroller').append("#{escape_javascript(render(partial: 'shared/surprise_author_again'))}");
      }
    });
    $('#surprise-scroller').on('afterChange', function(event, slick, currentSlide) {
      if(currentSlide != author_slide) {
        $('#surprise-scroller').slick('slickRemove', currentSlide, true); // and discard old slide (one before currentSlide)
        $.get('/authors/get_random_author?mode=home', function(data) {
          $('#surprise-scroller').slick('slickAdd', data);
        });
      }
    });
    $('#surprise-scroller').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
      author_slide = currentSlide;
    });
    $('#work-surprise-scroller').slick({
      infinite: false,
      slidesToShow: 1,
      placeholders: false,
      slidesToScroll: 1,
      arrows: false,
      rtl: true,
      outerEdgeLimit: true,
      // appendArrows: '#scroller_container',
    });
    $('#works-surprise').click(function(){
      $('#work-surprise-scroller').slick('slickNext');
      currentSlide = $('#work-surprise-scroller').slick('slickCurrentSlide');
      if(currentSlide != work_slide) {
        $('#work-surprise-scroller').append("#{escape_javascript(render(partial: 'shared/surprise_work_again'))}");
      }
    });
    $('#work-surprise-scroller').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
      work_slide = currentSlide;
    });
    $('#work-surprise-scroller').on('afterChange', function(event, slick, currentSlide) {
      if(currentSlide != work_slide) {
        $('#work-surprise-scroller').slick('slickRemove', currentSlide, true); // and discard old slide (one before currentSlide)
        $.get("#{url_for(controller: :manifestation, action: :get_random, mode: :home)}", function(data) {
          $('#work-surprise-scroller').slick('slickAdd', data);
        });
      }
    });
    $('.popup_btn').click(function(){
      elem_id = '#' + $(this).attr('data-popup-id');
      $(elem_id).html("<h2><%= t(:loading) %></h2>");
      $(elem_id).load($(this).attr('data-popuppath'));
      $(elem_id).modal('show');
    });
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        $('#anthologiesDlg').modal('hide');
        $('#authorWhatsNewDlg').modal('hide');
      }
    });
    $('.clampable').each(function(){
      elem = $(this).find('.clampable_body')[0];
      if(elem && elem.scrollHeight - elem.clientHeight > 30) { // clamping happened
        $(this).find('.popup_btn').css('display', 'unset');
      }
    });
    
  });
