.container-fluid
  .welcome-bg
    .row
      .col-sm-2
      / space
      .col-sm-8.welcome-content
        %h2{style:'text-align:center'}= t(:welcome_title)
        %p{style: 'text-align: center'}= t(:welcome_paragraph_html)
        %p
        %br
        %p{style: 'text-align: center'}= t(:welcome_stats_html, {authors: link_to(@totals[:authors].to_s, authors_index_path), works: link_to(@totals[:works].to_s, works_path), headwords: link_to(@totals[:headwords].to_s, 'http://benyehuda.org/~asaf/full_dict.html')})
      .col-sm-2
      / space

  .row
    .col-sm-4
      / what's new
      %h2= t(:whats_new)
      = render partial: 'whatsnew'
    / .col-sm-1
    / space
    .col-sm-8
      / author cards
      = render partial: 'shared/authors', locals: {popular_authors: @pop_authors, random_authors: @random_authors}
  .row
    .col-sm-4
      / featured item
    .col-sm-8
      / work cards
  .row
    .col-sm-4
      / extras
    .col-sm-4
      / 10 most read works
      %h2= t(:top_ten_works)
      = render partial: 'top_works'
    .col-sm-4
      / 10 most read authors
      %h2= t(:top_ten_authors)
      = render partial: 'top_authors'
