.container-fluid.top-element#content-area
  .row
    .col-12.col-lg-8
      / authors
      .by-card-v02#authors-in-project
        .by-card-header-v02
          %span.headline-1-v02
            = link_to t(:authors_in_the_project), controller: 'authors'
          = t(:x_authors, x: @totals[:authors])
        / author carousels
        = render partial: 'shared/authors', locals: {popular_authors: @pop_authors, random_authors: [], newest_authors: @newest_authors}
      / surprise author
      .scroller#surprise-scroller
        .slide
          .by-card-v02#authors-surprise{style:'cursor:pointer'}
            .by-card-header-v02
              %span.headline-1-v02= t(:surprise_author)
            .by-card-content-v02#authors-surprise-initial
              .surprise-btn-area-v02
                %button.by-button-v02.surprise-btn-v02.headline-2-v02= t(:surprise_me)
        .slide
          = render partial: 'shared/surprise_author', locals: {passed_mode: 'home', author: @surprise_author}

      / most read and new works
      .by-card-v02#works-in-project
        .by-card-header-v02
          %span.headline-1-v02
            %a{href: works_path}= t(:works_in_the_database)
          = t(:x_works, {x: @totals[:works]})
        .by-card-content-v02{style:'padding-top:12px;padding-bottom:40px'}
          .row.top-works{style:'min-height:280px;margin:0'}
            = render partial: 'works_list', locals: {cache_key: 'top_works', label: t(:most_popular_works_this_month), collection: @pop_works, extra_class: 'works-most-read'}
            = render partial: 'works_list', locals: {cache_key: 'new_works', label: t(:newest_works), collection: @newest_works, extra_class: 'works-most-new'}
        .link-to-all-v02
          %a{style: 'font-weight:bold', href: works_path}
            %span= t(:to_all_works)
            %span.left-arrow 1
      / surprise work
      .scroller#work-surprise-scroller
        .slide
          .by-card-v02#works-surprise{style:'cursor:pointer'}
            .by-card-header-v02
              %span.headline-1-v02= t(:surprise)
            .by-card-content-v02#works-surprise-initial
              .surprise-btn-area-v02
                %button.by-button-v02.surprise-btn-v02.headline-2-v02= t(:surprise_me)
        .slide
          = render partial: 'shared/surprise_work', locals: {passed_mode: 'home', manifestation: @surprise_work}
      / genres
      = render 'works'
      / periods

    .col-12.col-lg-4
      / whatsnew feed
      / work spotlight
      / author spotlight
      / volunteer spotlight

:javascript
  $(document).ready(function() {
    $('.footer-card').matchHeight();
    $('.row1').matchHeight();
    $('#surprise-scroller').slick({
      infinite: false,
      slidesToShow: 1,
      placeholders: false,
      slidesToScroll: 1,
      arrows: false,
      rtl: true,
      outerEdgeLimit: true,
      // appendArrows: '#scroller_container',
    });
    $('#authors-surprise').click(function(){
      $('#surprise-scroller').slick('slickNext'); // flip
      $('#surprise-scroller').slick('slickRemove'); // and discard old slide
      $.get('/authors/get_random_author?mode=home', function(data) {
        $('#surprise-scroller').slick('slickAdd', data);
      });

      $('#surprise-scroller').append("#{escape_javascript(render(partial: 'shared/surprise_author_again'))}");
    });
    $('#work-surprise-scroller').slick({
      infinite: false,
      slidesToShow: 1,
      placeholders: false,
      slidesToScroll: 1,
      arrows: false,
      rtl: true,
      outerEdgeLimit: true,
      // appendArrows: '#scroller_container',
    });
    $('#works-surprise').click(function(){
      $('#work-surprise-scroller').slick('slickNext');
      $('#work-surprise-scroller').slick('slickRemove');
      $.get("#{url_for(controller: :manifestation, action: :get_random, mode: :home)}", function(data) {
        $('#work-surprise-scroller').slick('slickAdd', data);
      });
      $('#work-surprise-scroller').append("#{escape_javascript(render(partial: 'shared/surprise_work_again'))}");
    });
  });
