.container-fluid.top-element#content-area
  .row
    .col-12.col-lg-8
      / authors
      .by-card-v02#authors-in-project
        .by-card-header-v02
          %span.headline-1-v02
            = link_to t(:authors_in_the_project), controller: 'authors'
          = t(:x_authors, x: @totals[:authors])
        / author carousels
        = render partial: 'shared/authors', locals: {popular_authors: @pop_authors, random_authors: @random_authors}
      / surprise author
      / works
      / surprise work
      / genres
      / periods
    .col-12.col-lg-4
      / whatsnew feed
      / work spotlight
      / author spotlight
      / volunteer spotlight

.container-fluid
  .row
    .col-lg-1
    .col-lg-10
      .container-fluid
        .row
          .col-md-4.col-xs-12.main-group#whatsnew
            / what's new
            %p
              %span.headline-2= link_to t(:whats_new), whatsnew_path
            = render partial: 'whatsnew'
    .col-lg-1
  .row
    .col-lg-1
    .col-lg-10
      .container-fluid
        .row
          .col-sm-8.col-xs-12.row2.main-group#genre
            / work cards
            %p{style:'margin-top:18px'}
              %span.headline-2
                = link_to t(:works_by_genre), works_path
              %span{style: 'padding-right: 1.2rem"'}= t(:x_works, x: @totals[:works])
            = render partial: 'works'
          .col-sm-4.col-xs-12#flashlight
            / featured item
            %p.headline-2= t(:featured_item)
            = render partial: 'featured_item'
    .col-lg-1
  .row
    .col-lg-1
    .col-lg-10
      .container-fluid
        .row
          .col-sm-4.col-xs-12
            / 10 most read authors
            %p.headline-2= t(:top_ten_authors)
            = render partial: 'top_authors'
          .col-sm-4.col-xs-12
            / 10 most read works
            %p.headline-2= t(:top_ten_works)
            = render partial: 'top_works'
          .col-sm-4.col-xs-12
            / extras
            %p.headline-2= t(:our_volunteers)
            = render partial: 'featured_volunteer'
    .col-lg-1
    .row{style:'margin-top:18px'}
    .col-lg-1
    .col-lg-10
      .container-fluid
        .row
          .col-xs-12
            .card
              .card-content
                %p.headline-2{style:'text-align:center;padding: 0 23%; margin-top:0'}= t(:donate_title)
                %p{style:'text-align:center;padding: 0 23%'}!= t(:donate_p1_html)
                %p{style:'text-align:center;padding: 0 23%'}!= t(:donate_p2_html)
                %center
                  %a{style: 'color:white', href: '/page/donate'}
                    .btn{style:'padding-top:0.5rem; text-aligh:center; float:none;'}
                      %b= t(:donate_money)
:javascript
  $(document).ready(function() {
    $('.footer-card').matchHeight();
    $('.row1').matchHeight();
  });
