.modal-dialog
  .modal-content
    .flex-popup
      .popup-top
        %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
          .btn-text-v02
            %span.right-arrow 2
            %span= t(:back)
        .headline-2-v02= t(:volunteer_form_title)
        .button-placeholder
      .by-popup-v02#volunteer_dlg_content
        .by-card-header-v02.desktop-only
          %span.headline-1-v02= t(:volunteer_form_title)
          %a.popup-x-v02{'data-dismiss'=>'modal'} -
        = form_tag(welcome_submit_volunteer_path, remote: true, method: :post, id: 'contact_form') do
          .by-card-content-v02
            #volunteer-name.field-label= t(:contact_name)
            %input.field-v02{name: :name, :type => "text"}/
            #volunteer-email.field-label= t(:contact_email)
            %input.field-v02{name: :email, :type => "text"}/
            #volunteer-phone.field-label= t(:contact_phone)
            %input.field-v02{name: :phone, :type => "text"}/
            .space-under
            %p
              %span.headline-3-v02= t(:volunteer_areas)
              = t(:volunteer_pick_all_that_applies)
            %label
              %input#CheckboxGroup1_1{:name => "typing", :type => "checkbox"}>/
              = t(:typing)
            %br/
            %label
              %input#CheckboxGroup1_2{:name => "proofing", :type => "checkbox"}>/
              = t(:proofing)
            %br/
            %label
              %input#CheckboxGroup1_3{:name => "scanning", :type => "checkbox"}>/
              = t(:scanning)
            %br/
            %label
              %input#CheckboxGroup1_4{:name => "donation", :type => "checkbox"}>/
              = t(:donation)
            %br/
            .checkbox-with-field
              %label
                %input#CheckboxGroup1_5{:name => "other", :type => "checkbox"}>/
                = t(:other)+': '
              %input.field-v02.checkbox-other{name: :other, :type => "text"}/

          .bottom-button-area
            %button.by-button-v02.pointer#send_contact_form= t(:contact_send)
