.card.row1{style: 'padding-top:1rem'}
  - boxen = 0
  - break_workaround = false
  - @whatsnew.each do |author, works|
    - unless break_workaround
      .container-fluid
        .row
          .col-xs-12
            .card.whatsnew-author-card-wide
              .whatsnew-text
                %p.headline-3
                  = link_to author.name, author_toc_path(author)
                %p
                  - worksbuf = ''
                  - works.each do |genre|
                    = t(genre[0])+': '
                    - genre[1].each do |m|
                      - title = m.expressions[0].title
                      - title += (m.expressions[0].translation ? ' / '+m.expressions[0].works[0].persons[0].name : '')
                      - worksbuf += (link_to(title, url_for(controller: :manifestation, action: :read, id: m.id)) + '; ')
                      - if worksbuf.length > 200
                        - worksbuf += '...  ' # signify more is available
                        - break
                    != worksbuf[0..-3]
              .whatsnew-pic-wide
                %img{ alt: author.name, :class => 'img-responsive', src: author.profile_image.url(:tiny)}
        - boxen += 1
        - if boxen > 4
          .row
            .card-content.float-left{style: 'padding-top:0'}
              /%a{style: 'color:white', href: url_for(:controller => :manifestation, :action => :whatsnew)}
              %a{style: 'color:white', href: "javascript:alert('#{t(:not_implemented_yet)}');"}
                .btn{style: 'padding-top:0.5rem'}
                  %b= t(:to_all_whatsnew)
            - break_workaround = true
