.by-card-v02#genre
  .by-card-header-v02
    %span.headline-1-v02
      %a{ href: '#'}= t(:genres)
  .by-card-content-v02
    .row
      %div{style: 'width:80%'}
        .row{style:'margin-top:20px'}
          - ['poetry', 'prose', 'drama', 'fables'].each do |g|
            = render partial: 'genre', locals: {genre: g}
        .row{style:'margin-top:50px'}
          - ['article', 'memoir', 'letters', 'reference'].each do |g|
            = render partial: 'genre', locals: {genre: g}
      %div{style: 'width:20%; border-right: solid 2px #d9cdd5; min-height:320px'}
        .row{style:'margin-top: 10px'}
          .col-sm-12
            %a{ href: '#'}
              %p.by-genre-icon-v02 s
              %p.by-genre-name-v02.headline-2-v02= t(:translations)
            %p.by-genre-details-v02= Person.no_toc.count.to_s+' '+t(:authors)
            %p.by-genre-details-v02= Manifestation.cached_translated_count
        .row{style:'margin-top: 50px'}
          .col-sm-12
            %a{ href: '#'}
              %p.by-genre-icon-v02 f
              %p.by-genre-name-v02.headline-2-v02= t(:lexicon)
            %p.by-genre-details-v02= '...'
            %p.by-genre-details-v02= '...'
