- cache "homepage_genres", expires_in: 12.hours do
  .by-card-v02#genre
    .by-card-header-v02
      %span.headline-1-v02= t(:genres_and_types)
    .by-card-content-v02
      .row
        - ['poetry', 'prose', 'drama', 'fables'].each do |g|
          = render partial: 'genre', locals: {genre: g, mobile: false}
        - ['article', 'memoir', 'letters', 'reference'].each do |g|
          = render partial: 'genre', locals: {genre: g, mobile: false}
        .col-md-3.col-4{style: "margin-left: auto; margin-right:auto;"}
          %a{href: manifestation_genre_path(genre: 'lexicon')}
            .genre-nav
              %p.by-genre-icon-v02= 'f'
              %p.by-genre-name-v02.headline-2-v02= t(:lexicon)
              %p.by-genre-details-v02= @authors_in_genre['lexicon'].to_s+' '+t(:authors)
              %p.by-genre-details-v02= get_total_headwords.to_s.to_s+' '+t(:entries)
        -#.by-card-content-seapartor
        -# types (anthologies, journals, etc.) go here
        .by-card-content-seapartor
        .col-md-3.col-4{style: "margin-left: auto; margin-right:auto;"}
          %a{href: translations_path}
            .genre-nav
              %p.by-genre-icon-v02= 's'
              %p.by-genre-name-v02.headline-2-v02= t(:translations)
              %p.by-genre-details-v02 #{Authority.no_toc.count} #{t(:authors)}
              %p.by-genre-details-v02= Manifestation.cached_translated_count.to_s+' '+t(:works)
