%h1 BYBE
- if current_user.nil?
  %h2 Nothing interesting to do until you log in.
- elsif current_user.editor?
  %h2 Editor actions
  %p= link_to 'עריכת מטא-דאטה', html_file_list_for_editor_path
  %p= link_to 'עיון בהגהות מן הציבור ('+@open_proofs+')', proof_list_path
  %p= link_to 'עיון בהמלצות מן הציבור ('+@open_recommendations+')', recommendation_list_path
  - if current_user.admin?
    %h2 Admin actions
    %p= link_to 'User management', user_list_path
    %p= link_to 'HTML dirs list', html_dirs_path
    %p= link_to 'HTML file list', html_file_list_path
