%p#notice= notice

%p
  %b Authority:
  = @involved_authority.authority
%p
  %b Role:
  = @involved_authority.role
%p
  %b Item:
  = @involved_authority.item

= link_to 'Edit', edit_involved_authority_path(@involved_authority)
\|
= link_to 'Back', involved_authorities_path
