.top-element
  %div{style:'margin-top:10px'}
    %h1= t(:lexicon_migration) + ": " + t(:lexicon_list_files)
    %table
      %tr
        %th= t(:filename)
        %th= t(:title)
        %th= t(:status)
        %th= t(:entrytype)
        %th= t(:actions)
      - @lex_files.each do |lf|
        %tr
          %td= lf.fname.sub('.php','').sub('/','')
          %td= lf.title
          %td= t(lf.status)
          %td= t(lf.entrytype)
          %td
            - if lf.entrytype_person?
              - if lf.status_ingested?
                = link_to t(:lexicon_show_person), controller: :lex_entries, action: :show, id: lf.lex_entry.id
              - else
                = link_to t(:lexicon_analyze_person), action: :migrate_person, id: lf.id
  = paginate @lex_files