.top-element
  %div{style:'margin-top:15px; margin-right:15px'}
    %h1= t(:lexicon_migration) + ": " + t(:lexicon_analyze_person) + ": " + @lex_entry.title
    %p{style:'color:green'}
      %b= t(:migration_results_edit_later)
    %h2= t(:lexicon_bio)
    %p!= @lex_person.bio
    %h2= t(:books)
    %ul.lex
      - @lex_person.works.split("\n").each do |book|
        %li!= MultiMarkdown.new(book).to_html.force_encoding('UTF-8')
    %h2= t(:bibliography)
    %ul.lex
      - @lex_person.about.split("\n").each do |bib|
        %li!= MultiMarkdown.new(bib).to_html.force_encoding('UTF-8')
    %h2= t(:links)
    %ul.lex
      - @lex_person.lex_links.each do |link|
        - next if link.nil?
        %li= link_to link.description, link.url
    %hr
    %h2
      = link_to t(:show), lex_entry_path(@lex_entry)
      != "&emsp;"
      = link_to t(:edit), edit_lex_entry_path(@lex_entry)
    %hr