= form_for @lex_publication do |f|
  - if @lex_publication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lex_publication.errors.count, "error")} prohibited this lex_publication from being saved:"
      %ul
        - @lex_publication.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :toc
    = f.text_area :toc
  .field
    = f.label :az_navbar
    = f.check_box :az_navbar
  .actions
    = f.submit 'Save'
