#header-author.container-fluid.peach2-lexicon
  = render partial: 'shared/breadcrumbs'
  .top-space
  .lexicon-author-top-info.by-card-v02.left-side-card-v02
    .by-card-content-v02
      .lexicon-author-top-name
        .lexicon-logo
        %div
          .author-name-years
            .headline-1-v02= @lex_entry.title
            .date-range (...-...)
          - if @lex_entry.lex_item.person.present?
            %div= link_to t(:author_in_pby), author_toc_path(@lex_entry.lex_item.person)
          .metadata
            .by-icon-v02= copyright_glyph(@lex_entry.lex_item.copyrighted)
            = textify_copyright_status(@lex_entry.lex_item.copyrighted)
            %a.help.notyet{:href => "#"} [?]
      .lexicon-author-nav
        .lexicon-author-nav-links.topNavEntry
          - unless @prev_entry.nil?
            .link-nav
              %a{href: url_for(id: @prev_entry.id)}
                %span.right-arrow> 2
                = t(:lex_prev_entry)
          - unless @next_entry.nil?
            .link-nav
              %a{href: url_for(id: @next_entry.id)}
                = t(:lex_next_entry)
                %span.left-arrow 1
        .top-left-icons-group.mobile-only
          #moreMobile-author.by-dropdown-v02
            %span#nav-more-icon
              %a.notyet{:href => "#"}
                %span.by-icon-top-v02 Y
            #menu-more-mobile.by-dropdown-content-v02{:style => "left: 0; margin-top: 4px"}
              %a.notyet{:href => "#"}
                %span.by-icon-v02.iconNearText-v02> 9
                = t(:print)
              %a.notyet{:href => "#"}
                %span.by-icon-v02.iconNearText-v02> 3
                = t(:download)
              %a.notyet{:href => "#"}
                %span.by-icon-v02.iconNearText-v02> U
                = t(:share)
      .lexicon-author-actions.desktop-only
        .author-page-top-icons-desktop
          .top-left-icons-group
            %a.notyet.by-icon-v02{:href => "#"} 9
            %a.notyet.by-icon-v02{:href => "#"} 3
            %a.notyet.by-icon-v02{:href => "#", :style => "margin-left:0;"} U
  .row.error-found-row.peach2-lexicon
    .side-nav-col
      %nav#genrenav.navbar
        %ul#genre-nav.navbar-nav.flex-column.by-card-v02{"aria-orientation" => "vertical"}
          %li.nav-item
            %a#works_button.nav-link.active{"aria-selected" => "true", :href => "#"}
              .side-menu-icon K
              .side-menu-name= t(:works)
          %li.nav-item
            %a#translations_button.nav-link{"aria-selected" => "false", :href => "#"}
              .side-menu-icon s
              .side-menu-name= t(:translations_by)
          %li.nav-item
            %a#about_author_button.nav-link{"aria-selected" => "false", :href => "#"}
              .side-menu-icon M
              .side-menu-name= t(:about_the_author_and_their_work)
          %li.nav-item
            %a#links_button.nav-link{"aria-selected" => "false", :href => "#"}
              .side-menu-icon +
              .side-menu-name= t(:links)
          %li.by-side-menu-seperator
          %li.nav-item
            %a.nav-link.nav-link-edit{"aria-controls" => "#translations_g", "aria-selected" => "false", :href => "#"}
              .side-menu-icon.icon-byadditionals
      :javascript
        $(document).ready(function() {
          $('.side-menu-item').click(function() {
            $('.side-menu-item').removeClass('current-menu-item');
            $(this).addClass('current-menu-item');
            anchor = $(this).attr('id').replace('_button','_g');
            $('html, body').animate({
              scrollTop: $('a[name='+anchor+']').offset().top - 150
            }, 100);
          });
        });
    .col{:style => "z-order:-1;height:0;"}
    .col-4.error-found-col
      %button.error-found-btn.notyet
        .error-found
          .error-found-text
            = t(:found_br_mistake_html)
          .error-found-icon g
    .col-lg-4{:style => "height:1px"}  