= form_for @lex_entry do |f|
  - if @lex_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lex_entry.errors.count, "error")} prohibited this lex_entry from being saved:"
      %ul
        - @lex_entry.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :lex_publication
    = f.text_field :lex_publication
  .actions
    = f.submit 'Save'
