#content.container-fluid.top-element

%p#notice= notice

%p
  %b Title:
  = @lex_entry.title
%p
  %b Status:
  = @lex_entry.status
%p
  %b Lex item:
  = @lex_entry.lex_item 

= link_to 'Edit', edit_lex_entry_path(@lex_entry)
\|
= link_to 'Back', lex_entries_path
