.top-element
  %div{ style: 'margin-top:10px' }
    %h1= t(:lexicon_migration) + ': ' + t('.title')
    %table.table
      %tr
        %th= LexFile.human_attribute_name(:fname)
        %th= t(:title)
        %th= t(:status)
        %th= t(:entrytype)
        %th= t(:actions)
      - @lex_files.each do |lf|
        %tr
          %td= lf.fname.sub('.php', '').sub('/', '')
          %td
            - if lf.status_ingested?
              = link_to lf.title || t(:none), lexicon_person_path(lf.lex_entry.lex_item)
            - else
              = lf.title
          %td= t(lf.status)
          %td= t(lf.entrytype)
          %td
            - if lf.entrytype_person? && lf.status_classified?
              = link_to t('lexicon.files.migrate_person.title'),
                        migrate_person_lexicon_file_path(lf),
                        method: :post
  = paginate @lex_files
