.top-element
  %div{ style: 'margin-top:10px' }
    %h1= t(:lexicon_migration) + ': ' + t('.title')
    %table.table
      %tr
        %th= LexFile.human_attribute_name(:fname)
        %th= t(:title)
        %th= t(:status)
        %th= t(:entrytype)
        %th= t(:actions)
      - @lex_files.each do |lf|
        %tr
          %td= lf.fname.sub('.php', '').sub('/', '')
          %td= lf.title
          %td= t(lf.status)
          %td= LexFile.human_enum_name(:entrytype, lf.entrytype)
          %td
            - if lf.status_ingested?
              = link_to t(:show), lexicon_entry_path(lf.lex_entry)
            - elsif lf.status_classified?
              - if lf.entrytype_person?
                = link_to t('lexicon.files.migrate_person.title'),
                          migrate_person_lexicon_file_path(lf),
                          method: :post
              - elsif lf.entrytype_text?
                = link_to t('lexicon.files.migrate_publication.title'),
                          migrate_publication_lexicon_file_path(lf),
                          method: :post
  = paginate @lex_files
