.lexicon-author-page-content.peach2-lexicon
  .row
    .col-12.col-lg-8
      .logo-for-print
        %img.logoBY-v02{ src: '/assets/logo-byp-mobile.svg' }
      .row
        .col.side-menu-area
        .col
          = render layout: 'lexicon/header' do
            .lexicon-author-details
              -# unless @lex_entry.images.empty?
                %div
                  %img.lexicon-author-pic{:alt => "", :src => url_for(@lex_entry.images[0])}
              %div
                .author-name-years
                  .headline-1-v02= @lex_entry.title
                  .date-range!= @lex_person.life_years
                - if @lex_person.authority&.published?
                  .to-pby
                    = link_to t('lexicon.people.show.to_pby_person'), @lex_person.authority
                .metadata
                  = render partial: 'shared/intellectual_property',
                           locals: { intellectual_property: @lex_person.intellectual_property }
            %p!= MarkdownToHtml.call(@lex_person.bio)
          = render layout: 'lexicon/block', locals: { title: LexPerson.human_attribute_name(:works) } do
            -# %h3 שירה מן העזבון
              %p על פי “ספר סוקולוב”, בעריכת שמעון רבידוביץ, הוצאת ההסתדרות הציונית העולמית ומוסד ביאליק, תש"ג
            %ul
              - @lex_person.works.split("\n").each do |book|
                %li!= MarkdownToHtml.call(book)
          = render layout: 'lexicon/block', locals: { title: LexPerson.human_attribute_name(:about) } do
            %ul
              - @lex_person.about.split("\n").each do |about|
                %li!= MarkdownToHtml.call(about)
          = render layout: 'lexicon/block', locals: { title: LexPerson.human_attribute_name(:links) } do
            %h3 TBD

    .col-12.col-lg-4
      .row
        .col.side-menu-area-left
        .col
          - if @lex_person.authority&.published?
            .by-card-v02.left-side-card-v02
              #author-whats-new-bg
                .by-card-content-v02.card-with-bottom-links.author-whats-new-content
                  = render partial: 'shared/latest_works_by_author', locals: { author: @lex_person.authority }
            .by-card-v02.left-side-card-v02
              = render partial: 'authors/aboutnesses', locals: { author: @lex_person.authority }
= link_to 'Edit', edit_lexicon_person_path(@lex_person)
\|
= link_to 'Back', lexicon_people_path
