- if @api_key.errors.any?
  %ul.text-danger
    - @api_key.errors.full_messages.each do |msg|
      %li= msg

= form_for @api_key do |f|
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  - if @api_key.new_record?
    .form-group
      = label_tag :ziburit, t(:ziburit)
      = text_field_tag :ziburit, '', required: true, class: 'form-control'
  - else
    .form-group
      = f.label :key
      .form-control=@api_key.key
    .form-group
      = f.label :status
      = f.select :status, ApiKey.statuses.keys, { }, { class: 'custom-select' }
  .btn-group
    = f.submit t('save'), class: 'btn btn-primary'
    = link_to t('cancel'), @api_key.new_record? ? '/' : api_keys_path, class: 'btn btn-secondary'
