#content.container-fluid
  .row.top-element
    .col-12
      %h1 Listing api_keys

      %table.table
        %thead
          %tr
            %th Email
            %th Description
            %th Key
            %th Status
            %th
        %tdbody
          - @api_keys.each do |api_key|
            %tr
              %td= api_key.email
              %td= api_key.description
              %td= api_key.key
              %td
                %span.badge{ class: api_key.status_enabled? ? 'badge-success' : 'badge-danger' }= api_key.status
              %td
                .btn-group
                  =link_to 'Edit', edit_api_key_path(api_key), class: 'btn btn-primary'
                  =link_to 'Destroy', api_key, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
      %br

      = link_to 'New Api key', new_api_key_path, class: 'btn btn-primary'
