= form_for @lex_person do |f|
  - if @lex_person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lex_person.errors.count, "error")} prohibited this lex_person from being saved:"
      %ul
        - @lex_person.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :aliases
    = f.text_field :aliases
  .field
    = f.label :copyrighted
    = f.check_box :copyrighted
  .field
    = f.label :birthdate
    = f.text_field :birthdate
  .field
    = f.label :deathdate
    = f.text_field :deathdate
  .field
    = f.label :bio
    = f.text_area :bio
  .field
    = f.label :works
    = f.text_area :works
  .field
    = f.label :about
    = f.text_area :about
  .actions
    = f.submit 'Save'
