%h1 Listing lex_people

%table
  %thead
    %tr
      %th Aliases
      %th Copyrighted
      %th Birthdate
      %th Deathdate
      %th Bio
      %th Works
      %th About
      %th
      %th
      %th

  %tbody
    - @lex_people.each do |lex_person|
      %tr
        %td= lex_person.aliases
        %td= lex_person.copyrighted
        %td= lex_person.birthdate
        %td= lex_person.deathdate
        %td= lex_person.bio
        %td= lex_person.works
        %td= lex_person.about
        %td= link_to 'Show', lex_person
        %td= link_to 'Edit', edit_lex_person_path(lex_person)
        %td= link_to 'Destroy', lex_person, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lex person', new_lex_person_path
