- all_values.each do |value|
  - checked = selected_values.present? && selected_values.include?(value)
  - icon = icons[value]
  %input{ name: "#{field_name}[]", id: "#{group_name}_#{value}", type: :checkbox, value: value, checked: checked }
  %label
    - if icon.present?
      %span.by-icon-v02>= icon
    = labels[value]
    - count_text = facet[value] || (selected_values.present? ? t(:filtered) : '0')
    %span
      (#{count_text})
  %br/
