%ol
  - authorities_tbd.uniq.each do |authority|
    %li
      = "#{authority['new_person']} (#{textify_authority_role(authority['role'])})"
      != "&emsp;&emsp;"
      = link_to t(:new_person), authors_new_path(type: :person, name: authority['new_person'])
      != "&emsp;&emsp;"
      = link_to t(:new_corporate_body), authors_new_path(type: :corporate_body, name: authority['new_person'])
