- if @ingestible.try(:id)
  %h3= t(:associated_persons)
  %ul#authorities
    - if authorities
      = render partial: 'ingestible_authorities/authority', collection: JSON.parse(authorities)
  = t(:add)
  = select_tag :add_authority,
               options_from_collection_for_select(Authority.order(:name), 'id', 'name'),
               include_blank: true
  = t('.or_new_person')
  = text_field_tag :new_person, '', {style: 'width: 150px;'}
  = t(:in_role)
  = select_tag :role,
               options_for_select(role_options)
  = button_tag t(:perform_add), id: 'do_add_authority'
  :javascript
    $(document).ready(function() {
      $('#do_add_authority').click(function(e) {
        e.preventDefault();
        $.post('#{ingestible_authorities_path(@ingestible)}', {
          authority_id: $('select[name=add_authority]').val(),
          authority_name: $('#add_authority option:selected').text(),
          new_person: $('#new_person').val(),
          role: $('#role').val()
        });
      });
    });
