<h1>File: <%= @text.path.sub('/mnt/by/','') %></h1>

<p>Footnotes: <%= @text.footnotes %></p>
<p>Images: <%= @text.images %></p>
<p>Tables: <%= @text.tables %></p>

<%= link_to 'Back', :action => :list %>
