<h1>File: <%= @text.path.sub('/mnt/by/','') %></h1>
<h2>Status: <%= @text.status %></h2>
<p>Footnotes: <%= @text.footnotes %></p>
<p>Images: <%= @text.images %></p>
<p>Tables: <%= @text.tables %></p>
<p>Headings: <%= @text.headings %></p>
<p>Nikkud: <%= @text.nikkud %></p>
<p>Line numbers: <%= @text.line_numbers %></p>
<p>Indentation: <%= @text.indentation %></p>
<%= link_to 'Back', :action => :list %>
