<h1>Conversion Dashboard</h1>

<p>Totals: <%= @total_texts %> texts, <%= @total_known %> analyzed -- <%= @total_footnotes %> with footnotes, <%= @total_images %> with images, <%= @total_tables %> with tables</p>
<p><%= link_to "analyze all unknown!", :action => 'analyze_all' %></p>
<table>
<th>path</th><th>status</th><th>tables?</th><th>footnotes?</th><th>images?</th><th>action</th>
<% @texts.each { |t| %>
<tr>
  <td><%= t.path.sub('/mnt/by/','') %></td><td><%= t.status %></td><td><%= t.tables %></td><td><%= t.footnotes %></td><td><%= t.images %></td><td><%= link_to "analyze", :action => 'analyze', :id => t %></td>
</tr>

<% } %>
</table>
<%= will_paginate @texts %>
