<script type="text/javascript">
var font_size = 12
jQuery(document).ready(function() {
  jQuery(".markdown").hide();
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".markdown").slideToggle(500);
  });
  var originalFontSize = $('p').css('font-size');
    $("#bResetSize").click(function(){
    $('p').css('font-size', originalFontSize);
  });
  // Increase Font Size
  $("#bLarger").click(function(){
    var currentFontSize = $('p').css('font-size');
    var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*1.2;
    $('p').css('font-size', newFontSize);
    return false;
  });
  // Decrease Font Size
  $("#bSmaller").click(function(){
    var currentFontSize = $('p').css('font-size');
    var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*0.8;
    $('p').css('font-size', newFontSize);
    return false;
  });

$("#bDavid").click(function() { $("p").css("font-family","David CLM, David, Serif") });
$('#bTimes').click(function() { $("p").css("font-family", "Times New Roman") } );
$('#bPoetry').click(function() { document.location.href='<%=  url_for(:controller => :html_file, :action => :poetry, :id => @text.id) %>'; return false;});
});

</script>
<h2>Rendering MultiMarkDown as HTML for File: <%= @text.path.sub('/mnt/by/','') %></h2>
<button id="bDavid">David</button> <button id="bTimes">Times</button> <button id="bLarger">Larger text</button> <button id="bSmaller">Smaller text</button> <button id="bResetSize">Reset size</button><button id="bPoetry">Treat as Poetry</button>
<%= raw(@html) %>

<p><%= form_tag(:action => "render_html", :id => @text) do %>
  <%= label_tag(:genre, t(:genre)) %>
  <%= select_tag(:genre, options_for_select(get_genres.map {|genre| [I18n.t(genre), genre]}, @text.genre), {include_blank: true}) %>
  <br />
  <%= label_tag 'Associated person' %><br/>
  <% if @text.person.nil? %>
    <% if @text.html_dir.person.nil? %>
      <span style='color:red'>Directory not yet associated with person!</span>
    <% else %>
      <span style='color:green'><%= link_to @text.html_dir.person.name, person_path(@text.html_dir.person.id) %></span> <%= link_to 'Confirm!', html_file_confirm_html_dir_person_path(@text), {remote: true, :class => "ajax_link", "data-done-msg" => 'confirmed!', "data-doing-msg" => 'confirming...' } %>
    <% end %>
  <% else %>
    <span style='color:green'><%= @text.person.name %> (confirmed! :))</span>
    <br />
    <% if @text.metadata_ready? %>
      <span style='color:green'><b>FRBR ready!</b></span>
    <% end %>
  <% end %>
</p>
<p>
<!--  < %= label_tag 'Author from file (correct if necessary)' %><br/>
  < %= text_field_tag(:author, @text.author_string) %> < %= link_to 'find matches', html_file_get_author_matches, {remote: true, class: "author_matches_link", "data-done-msg" => 'find matches', 'data-doing-msg' => 'searching...' } %>
</p>
 <p>< %= label_tag 'Alternatives' %><br/>< %= select_tag(:author_matches, options_from_collection_for_select(@person_matches, "id", "name") ,{:include_blank => true}) %> -->
</p>

<p class="heading">
Here's the raw MultiMarkDown.  Make any corrections needed, and add the __SPLIT__ magic word to split the markdown into separate works. Also, here's <a href="<%= AppConstants.base_uri + @text.url %>">the original HTML file, for comparison</a></p>
<div class="markdown">
<p>     <%= text_area_tag(:markdown, raw(@markdown), :size => "80x40" ) %>
   </p>
</div>
<%= submit_tag("Update!") %>
<% end %> <!-- form -->

<p><%= t(:you_can) %>:</p>
<ul>
  <li>chop off <%= link_to 'first 1', :action => :chop1, :id => @text.id %>, <%= link_to 'first 2', :action => :chop2, :id => @text %>, or <%= link_to 'first 3', :action => :chop3, :id => @text %> lines; chop off <%= link_to 'last 1', action: :choplast1, id: @text.id %>, or <%= link_to 'last 2', action: :choplast2, id: @text.id %> lines.</li>
  <li><%= link_to 'Undo any splits', :action => :unsplit, :id => @text %></li>
  <li><%= raw(t(:accept_conversion_and) + link_to(t(:frbrize), html_file_frbrize_path(@text))) %>
</ul>
<p> [do some other things about it?]...</p>

<p><%= link_to t(:back_to_dashboard), :action => :list %></p>

<script type="text/javascript">
$(document).ready(function() {
  $('.ajax_link')
    .bind("ajax:beforeSend", function(evt, xhr, settings) {
      var $link = $(this);
      $link.html( "<b>"+$(this).data('doing-msg')+"</b>");
    })
    .bind("ajax:success", function(evt, data, status, xhr){
      $(this).html($(this).data('done-msg'));
  });
  $('.author_matches_link')
    .bind("ajax:beforeSend", function(evt, xhr, settings) {
      var $link = $(this);
      $link.html( "<b>"+$(this).data('doing-msg')+"</b>");
    })
    .bind("ajax:success", function(evt, data, status, xhr){
      $(this).html($(this).data('done-msg'));
  });
});

</script>
