<script type="text/javascript">
var font_size = 12
jQuery(document).ready(function() {
  jQuery(".markdown").hide();
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".markdown").slideToggle(500);
  });
  var originalFontSize = $('p').css('font-size');
    $("#bResetSize").click(function(){
    $('p').css('font-size', originalFontSize);
  });
  // Increase Font Size
  $("#bLarger").click(function(){
    var currentFontSize = $('p').css('font-size');
    var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*1.2;
    $('p').css('font-size', newFontSize);
    return false;
  });
  // Decrease Font Size
  $("#bSmaller").click(function(){
    var currentFontSize = $('p').css('font-size');
    var currentFontSizeNum = parseFloat(currentFontSize, 10);
    var newFontSize = currentFontSizeNum*0.8;
    $('p').css('font-size', newFontSize);
    return false;
  });

$("#bDavid").click(function() { $("p").css("font-family","David CLM, David, Serif") });
$('#bTimes').click(function() { $("p").css("font-family", "Times New Roman") } );
$('#bPoetry').click(function() { document.location.href='<%=  url_for(:controller => :html_file, :action => :poetry, :id => @text.id) %>'; return false;});
});

</script>
<h2>Rendering MultiMarkDown as HTML for File: <%= @text.path.sub('/mnt/by/','') %></h2>
<button id="bDavid">David</button> <button id="bTimes">Times</button> <button id="bLarger">Larger text</button> <button id="bSmaller">Smaller text</button> <button id="bResetSize">Reset size</button><button id="bPoetry">Treat as Poetry</button>
<%= raw(@html) %>

<p><%= form_tag(:action => "render_html", :id => @text) do %>
  <%= label_tag 'Author' %><br/>
  <%= text_field_tag(:author, @text.author_string) %>
</p>
 <p><%= label_tag 'Alternatives' %><br/><%= select_tag(:author_matches, options_from_collection_for_select(@person_matches, "id", "name") ,{:include_blank => true}) %></p>

<p class="heading">
Here's the raw MultiMarkDown.  Make any corrections needed, and add the __SPLIT__ magic word to split the markdown into separate works. Also, here's <a href="<%= AppConstants.base_uri + @text.url %>">the original HTML file, for comparison</a></p>
<div class="markdown">
<p>     <%= text_area_tag(:markdown, raw(@markdown), :size => "80x40" ) %>
   </p>
</div>
<%= submit_tag("Update!") %>
<% end %> <!-- form -->

<p>You can:</p>
<ul>
  <li>chop off <%= link_to 'first 1', :action => :chop1, :id => @text %>, <%= link_to 'first 2', :action => :chop2, :id => @text %>, or <%= link_to 'first 3', :action => :chop3, :id => @text %> lines</li>
  <li><%= link_to 'Undo any splits', :action => :unsplit, :id => @text %></li>
  <li>ACCEPT this and <%= link_to 'publish!', :action => :publish, :id => @text %>
</ul>
<p> [do some other things about it]...</p>

<p>Or <%= link_to 'Back', :action => :list %> to the conversion dashboard.</p>

<script type="text/javascript">

</script>
