%h2= t(:get_bibs)
%p= t(:get_bibs_instructions)
= form_tag( {:action => 'pubs_by_person'}, remote: remote) do
  = text_field_tag :q, ''
  = select_tag :bib_source, options_for_select(@select_options)

  = submit_tag(t(:search), data: {disable_with: t(:please_wait) })
