%h1= t(:bib_workshop)
.container-fluid
  .row
    .col-md-6
      %h2= t(:statistics)
      %p= t(:bib_stats, {pubs: @counts[:pubs], holdings: @counts[:holdings], obtained: @counts[:obtained], scanned: @counts[:scanned], uploaded: @counts[:uploaded], irrelevant: @counts[:irrelevant], missing: @counts[:missing]})
      %h2= link_to t(:get_bibs), action: :pubs_by_person
    .col-md-6
      %h2= t(:available_scans)
      %table
        - @digipubs.each do |pub|
          = render partial: 'publications/pub', locals: {pub: pub, with_person: false, with_actions: false}
  .row
    .col-md-6
      %h2= t(:shopping_lists)
      %ul
        - BibSource.physical_sources.each do |bs|
          %li
            = link_to bs.title, url_for(action: :shopping, source_id: bs.id)
            = " (#{Holding.to_obtain(bs.id).count.to_s})"
    .col-md-6
      %h2= t(:administration)
      %p= link_to t(:manage_bib_sources), bib_sources_path