%h1= t(:bib_workshop)
%h2= link_to @p.name, author_toc_path(@p.id)

.container-fluid
  .row
    .col-md-12

      %table#bibs
        %tr
          %th= t(:title)
          %th= t(:author)
          %th= t(:publisher)
          %th= t(:year_published)
          %th= t(:language)
          %th= t(:comments)
          %th= t(:holdings)
          %th= t(:status)
          %th= t(:actions)
        - @pubs.each do |pub|
          = render partial: 'publications/pub', locals: {pub: pub, with_person: false, with_actions: true}
