.backend

  .container-fluid
    .row
      .col-md-12
        %h1= t(:bib_workshop)+': '+ t(:pubs_maybe_done)
    .row
      .col-md-9
        %h3= t(:total_x_records, count: @pubs.count)

        %table#bibs{style: 'font-size:130%; line-height: 130%'}
          %tr
            %th= t(:title)
            %th= t(:author)
            %th= t(:publisher)
            %th= t(:year_published)
            %th= t(:language)
            %th= t(:comments)
            %th= t(:actions)
          - @pubs.each do |pub, possible_works|
            %tr{class: 'pub'+pub.id.to_s}
              %td= pub.title
              %td= pub.author_line
              %td= pub.publisher_line
              %td= pub.pub_year
              %td= pub.language
              %td= pub.notes.nil? ? '' : pub.notes.sub("\n", "<br />").html_safe
              %td
                = link_to t(:mark_as_uploaded), publication_path(pub.id), 'class' => 'scanned', method: :put, remote: true, 'data-params' => 'publication[status]=uploaded', class: 'by-button-v02 whitehover', style:'height: auto;'
                %button.by-button-v02.mark_false_positive{style:'height: auto;margin-top:15px;'}= t(:mark_as_false_positive)
            %tr{class: 'pub'+pub.id.to_s}
              %td{colspan: 7}
                = t(:works_already_online)
                %ol{style:'margin-top:10px; font-size:120%'}
                  - possible_works.each do |m|
                    %li
                      = link_to m.title, manifestation_read_path(m.id)
                      = ' '+t(:by)+': '
                      = m.author_string
                      = " (#{textify_genre(m.expression.work.genre)}) "
                      = "– #{(m.expression.source_edition.nil? || m.expression.source_edition.empty?) ? t(:no_source_edition) : m.expression.source_edition}"
                      %br
            %tr{class: 'pub'+pub.id.to_s}
              %td{colspan: 7}
                %b= '-----------------------------------------'
      .col-md-3{style:'z-index: 0;'}
        .card
          .card-content
    .row
      .col-md-12
        %h3
          = link_to t(:back_to_bib_workshop), action: :index
:javascript
  $(document).ready(function() {
    fpurl = '#{publication_mark_false_positive_path(999)}';
    $('.mark_false_positive').click(function(e){
      e.stopPropagation();
      e.preventDefault();
      theid = $(this).parent().parent().attr('class').replace('pub','');
      $.get(fpurl.replace('999',theid));
    });
  });