%h1= t(:bib_workshop)
%p= t(:pubs_by_person_instructions)

.container-fluid
  .row
    .col-md-8
      = render partial: 'find_bibs', locals: {remote: true}

      %table#bibs
        %tr
          %th= t(:title)
          %th= t(:author)
          %th= t(:publisher)
          %th= t(:year_published)
          %th= t(:language)
          %th= t(:comments)
          %th= t(:record_id)
          %th= t(:actions)
        - unless @pubs.nil?
          - @pubs.each do |pub|
            %tr
              %td= pub.title
              %td= pub.author_line
              %td= pub.publisher_line
              %td= pub.pub_year
              %td= pub.language
              %td= pub.notes.nil? ? '' : pub.notes.sub("\n", "<br />".html_safe)
              %td= pub.holdings.map{|h| linkify_record(pub.context, h)}.join(';')
              %td
                %button.moveit= '--->'
              / %td= pub.person.nil? ? '--' : pub.person.name
              / %td= pub.status
    .col-md-4
      .backend-field
        = label_tag t(:linked_author)
        = autocomplete_field_tag :person, '', autocomplete_person_name_path, id_element: '#person_id'
        = hidden_field_tag :person_id
      .card
        .card-content
          %h2= t(:pubs_by_author)
          %table#pubs


:javascript
  $(document).ready(function(){
    $('.moveit').click(function(){
      var row = this.parent.parent;

    });
  });