.top-element.backend
  %h1= t(:shopping_list_for, {source: @source.title})
  .container-fluid
    .row
      = form_tag '' do
        = check_box_tag 'unique', 1, params[:unique] == '1'
        = label_tag t(:unique_only)
        = check_box_tag 'pd', 1, params[:pd] == '1'
        = label_tag t(:pd_only)
        = check_box_tag 'nonpd', 1, params[:nonpd] == '1'
        = label_tag t(:nonpd_only)
        = submit_tag t(:filter)
    .row
      %table
        %tr
          %th= t(:title)
          %th= t(:author)
          %th= t(:recno)
          %th= t(:location)
        - displayed_pubs = []
        - @holdings.each do |h|
          - pub = h.publication
          - next if displayed_pubs.include?(pub)
          - displayed_pubs << pub
          %tr
            %td
              = link_to pub.title, h.source_id
              - if pub.holdings.count > 1
                - pub.holdings.each do |hh|
                  = "(+"
                  = link_to textify_bib_source(hh.bib_source_id), hh.source_id
                  = ") "
            %td= pub.author_line
            %td= h.recno
            %td= h.location
            %td
              = link_to t(:mark_as_obtained)+' | ', holding_status_path(id: h.id, status: 'obtained'), remote: true, id: "obt#{h.id}"
              = link_to t(:mark_as_scanned)+' | ', holding_status_path(id: h.id, status: 'scanned'), remote: true, id: "scn#{h.id}"
              = link_to t(:mark_as_missing), holding_status_path(id: h.id, status: 'missing'), remote: true, id: "msng#{h.id}"
              = button_tag t(:copy_to_clipboard), id: "copy_#{h.id}", 'class' => 'holding_copybutton'
      = link_to t(:back), action: :index

:javascript
  $(document).ready(function(){
    $('.holding_copybutton').click(function(e){
      // gather data
      var row = e.target.parentElement.parentElement;
      var line = row.children[1].textContent+"\t"+row.children[0].textContent.replace(/\n/g,"").replace(/\(\+.*\)/g,'')+"\t \t"+row.children[2].textContent;
      // paste into textarea
      var textArea = document.createElement("textarea");
      textArea.value = line.replace("\n",'');
      document.body.appendChild(textArea);
      // copy to clipboard
      textArea.select();
      document.execCommand("Copy");
      textArea.remove();
    });
  });
