= simple_form_for @corporate_body do |f|
  .form-inputs
    = f.error_notification
    = f.input :name
    = f.input :alternate_names
    = f.input :status, collection: CorporateBody.statuses.keys
    = f.input :country, as: :string
    = f.input :location
    = f.input :inception
    = f.input :inception_year, type: :number
    = f.input :dissolution
    = f.input :dissolution_year, type: :number
    = f.input :wikipedia_url, type: :url
    = f.input :wikipedia_snippet
    = f.input :wikidata_uri, type: :url
    = f.input :viaf_id
    = f.input :nli_id
    = f.input :comments
  .form-actions
    .btn-group
      = f.button :submit, class: 'btn btn-primary'
      - unless @corporate_body.new_record?
        = link_to t(:back), @corporate_body, class: 'btn btn-outline-secondary'
      = link_to t(:back_to_list), corporate_bodies_path, class: 'btn btn-outline-secondary'
