.container
  %p#notice= notice

.btn-group
  = link_to 'Edit', edit_corporate_body_path(@corporate_body), class: 'btn btn-default'
  = link_to 'Back', corporate_bodies_path, class: 'btn btn-outline-secondary'

- CorporateBodiesController::ATTRIBUTES_TO_SHOW.each do |attr|
  %p
    %b #{CorporateBody.human_attribute_name(attr)}:
    = @corporate_body.send(attr)
