.modal-dialog
  .modal-content
    .flex-popup
      .modal-header
        .popup-top
          .row{style: "padding:15px;margin: 0"}
            .col-4{style: "padding: 0;"}
              %button.btn-small-outline-v02{'data-dismiss'=>'modal'}
                .btn-text-v02
                  %span.right-arrow 2
                  %span= t(:back)
            .col-4{style: "padding: 0;"}
              .headline-2-v02{:style => "text-align: center;margin: 0; padding-top: 3px;"}= t(:add_tag)
            .col-4
      .modal-body
        .by-popup-v02.narrow-popup
          .by-card-header-v02.desktop-only
            %span.headline-1-v02.desktop-only= t(:add_tag)
            %a.popup-x-v02{'data-dismiss'=>'modal'} -
          %div#add_tagging_tabs
            %ul{style: 'display: flex;'}
              %li
                %a{href: "#add-tag-form"}= t(:i_want_to_suggest_a_tag)
              %li
                %a{href: "#tag_list"}= t(:select_from_full_list)
            .by-card-content-v02
              = form_for @tagging, remote: true do
                #add-tag-form
                  %div{style: 'display:inline;margin-top:0.6rem;'}
                    %h2.field-label= t(:suggested_tag_name)
                    = autocomplete_field_tag :tag, '', autocomplete_tag_name_path, {'data-noMatchesLabel' => t(:no_matches_found), class: 'field-v02'}
                    = hidden_field_tag :taggable_id, @tagging.taggable_id
                    = hidden_field_tag :taggable_type, @tagging.taggable_type
                    = hidden_field_tag :tag_id, '', id: 'tag_id'
                  %hr
                  -#%h2.field-label= t(:autosuggest_tags)
                  -#= select :tagging, :tag_id, @recent_tags_by_user.map{|tag| [tag.name, tag.id]}, {include_blank: t(:click_to_select)}, {class: 'field-v02', style: 'min-height: 12px;'}
                  -#.auto-complete-area.list-group
                  .suggested-tags-list{style:'margin-top: 20px;'}= t(:loading)
                  -#.recent-tags-list.list-group
                  -#  - @recent_tags_by_user.each do |tag|
                  -#    %button.pointer.list-group-item{style: 'padding: 0.5rem 0.75rem;'}= tag.name
                #tag_list
                  .field-label= t(:select_tag_from_list)
                  .full-tags-list-area
                .no-header
                = link_to 'https://benyehuda.org/page/tagging', target: '_blank' do
                  %b.linkcolor= t(:to_tagging_instructions)
                .bottom-button-area.left-buttons
                  %input.by-button-v02.disabled#submit_tagging{type: :submit, value: t(:suggest_tag)}
                  %button.by-button-v02.by-button-secondary-v02{'data-dismiss'=>'modal'}
                    %div= t(:cancel)
:javascript
  $(document).ready(function() {
    $('#tag').bind('railsAutocomplete.select', function(event, data){
      $('#tag_id').val(data.item.tag_id);
    });
    $('#tag').on('input', function() {
      if($(this).val() == '' || $(this).val() == null) {
        $('#submit_tagging').addClass('disabled');
        $('#tag_id').val('');
      } else {
        $('#submit_tagging').removeClass('disabled');
      }
    });
    $('#tag').keyup(function(){
      $(this).change();
    });
    $( "#add_tagging_tabs" ).tabs({
      activate: function( event, ui ) {
        if(ui.newPanel.attr('id') == 'tag_list') {
          if($('.full-tags-list-area').children().length == 0) {
            $('.full-tags-list-area').load("/tags/listall");
          }
        }
      }
    });
    $('#tag').focus();
    $('.suggested-tags-list').load("/tag_suggest?author=#{@author.id}");
  });
