<%= form_for(@html_dir) do |f| %>
  <% if @html_dir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@html_dir.errors.count, "error") %> prohibited this html_dir from being saved:</h2>

      <ul>
      <% @html_dir.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <% if @html_dir.person.nil? %>
    <!-- get VIAF suggestions -->
    <%= link_to "Send to VIAF", {:controller => :html_dir, :action => :guess_author, :id => @html_dir, :remote => true}, {:class => "viaf_link", "data-done-msg" => "Output in box" } %>

  <% else %>
    <div class="field">
      <%= f.label :viaf_id %><br />
      <%= f.label @html_dir.person.name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
