<%= form_for(@html_dir) do |f| %>
  <% if @html_dir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@html_dir.errors.count, "error") %> prohibited this html_dir from being saved:</h2>

      <ul>
      <% @html_dir.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :public_domain %><br />
    <%= f.check_box :public_domain %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
