= form_for(@html_dir) do |f|
  - if @html_dir.errors.any? 
    #error_explanation
      %h2
        = pluralize(@html_dir.errors.count, "error") 
        = 'prohibited this html_dir from being saved:'
      %ul
        - @html_dir.errors.full_messages.each do |msg| 
          %li= msg
  .field
    = f.label :path 
    %br
    = f.text_field :path
  .field  
    = f.label :author 
    %br
    = f.text_field :author
  - if @html_dir.person.nil? 
    = link_to "Send to VIAF", {:controller => :html_dir, :action => :guess_author, :id => @html_dir, :remote => true}, {:class => "viaf_link", "data-done-msg" => "Output in box" } 
  - else
  .field
    = f.label :viaf_id 
    %br
    = f.label @html_dir.person.name 
  - end
  .actions
    = f.submit

