<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @html_dir.path %>
</p>

<p>
  <b>Author string:</b>
  <%= @html_dir.author %>
</p>
<p>
  <b>Person entity:</b>
  <% if @html_dir.person.nil? %>
    <p style="color:red">None yet!  Click Edit to associate with a person entity.</p>
  <% else %>
    <%= @html_dir.person.name %> (VIAF: <%= @html_dir.person.viaf_id %>)
  <% end %>
</p>

<%= link_to 'Edit', edit_html_dir_path(@html_dir) %> |
<%= link_to 'Back', html_dirs_path %>
