%h1 Listing lex_files

%table
  %thead
    %tr
      %th Fname
      %th Status
      %th Title
      %th Entrytype
      %th Comments
      %th
      %th
      %th

  %tbody
    - @lex_files.each do |lex_file|
      %tr
        %td= lex_file.fname
        %td= lex_file.status
        %td= lex_file.title
        %td= lex_file.entrytype
        %td= lex_file.comments
        %td= link_to 'Show', lex_file
        %td= link_to 'Edit', edit_lex_file_path(lex_file)
        %td= link_to 'Destroy', lex_file, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lex file', new_lex_file_path
