%p#notice= notice

%p
  %b Fname:
  = @lex_file.fname
%p
  %b Status:
  = @lex_file.status
%p
  %b Title:
  = @lex_file.title
%p
  %b Entrytype:
  = @lex_file.entrytype
%p
  %b Comments:
  = @lex_file.comments

= link_to 'Edit', edit_lex_file_path(@lex_file)
\|
= link_to 'Back', lex_files_path
