<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : t(:default_page_title)%></title>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">

  <link href="/assets/font.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"><script>

  <script>
    $(document).ready(function() {
      $()
    });
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body dir="rtl" align="right">
<% unless @print
    flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "top-element #{name}" %>
  <% end -%>
<% end -%>
<% unless @print %>
  <% unless @readmode %>
  <!-- top logo area -->
  <div class="topbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="padding: 0">
          <div class="container-fluid" style="padding: 0">
            <div class="row" style="padding: 0">
              <div class="col-sm-3">
                <div id="user-widget">
                  <div style="display: inline;float: right; position: relative">
                    <% if current_user %>
                    <div class="collapsed" data-toggle="collapse" data-target="#user_collapsible">
                      <p style="padding-left: 1.6rem"><%= t(:welcome) %> <strong><%= current_user.name %></strong>!</p>
                      <div class="dropdown-arrow linky" style="top: 0.1rem; left: 0"><i class="fa chevron"></i></div>
                    </div>
                      <div id="user_collapsible" class="collapse" ><a id="sign_in" href="#">כניסה לאזור האישי</a><br/>
                        <%= link_to t(:sign_out), signout_path, id: "sign_out" %>
                      </div>
                      <% if current_user %>
                        <% if current_user.editor? %>
                          <div class="dashboard-link">
                          <br />
                          <h2><%= link_to t(:back_to_dashboard), url_for(controller: :admin, action: :index) %></h2>
                          </div>
                        <% end %>
                      <% end %>

                    <% else %>
                      <%= link_to t(:sign_in_google_twitter), "/session/login", id: "sign_in" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="align-content: center; text-align: center">
                <div class="fontsize-selector-unit vcentered">
                  <%= render partial: 'shared/fontsize' %>
                  <!-- TODO: also set a cookie, so it'll stick between screens -->
                </div>
                <% unless sitenotice.empty? %>
                  <div class="announcement card text-on-dark">
                    <p><%= sitenotice %></p>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-3">
                <div id="site-logo"><a href="/"><img src="/assets/BY_Logo.svg" class="img-responsive" alt="<% t(:logo) %>"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    <%= render partial: 'shared/tabs' %>
  </div>
  <% end -%>
<% end %>
<%= yield %>
<% if @print %>
  <%= t(:download_footer_html, url: url_for(action: :read, only_path:false, id: @m.id)) %>
<% else %>
  <hr/>
  <% if current_user %>
    <% if current_user.editor? %>
      <br />
      <h2><%= link_to t(:back_to_dashboard), url_for(controller: :admin, action: :index) %></h2>
    <% end %>
  <% end %>
  <% unless @pagetype == :homepage %>
    <%= link_to t(:back_to_homepage), "/" %>
  <% end %>
  <p/>
  <!-- footer start -->
<%= render partial: 'shared/fontsize_js' %>
<div id="byfooter" class="container-fluid">
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div id="bottom-nav" class="container-fluid text-on-dark">
    <p style="padding-top:1rem"><span style="font-weight: bold">פרויקט בן-יהודה</span> הוא מיזם התנדבותי ליצירת מהדורות אלקטרוניות של ספרות עברית והנגשתן לציבור.</p>
   <div style="padding-top:1rem">
    <div class="welcome-small-link"><a href="http://benyehuda.org/h_faq.html"><i class="fa fa-info-circle" style="padding-top:0.3rem;"></i> <%= t(:about) %></a></div>
    <div class="welcome-small-link"><a href="https://www.facebook.com/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%91%D7%9F-%D7%99%D7%94%D7%95%D7%93%D7%94-119140448124648/" target="_new"><i class="fa fa-facebook-square" style="padding-top:0.3rem;"></i> <%= t(:to_the_facebook_page) %></a></div>
    <div class="welcome-small-link"><a href="http://www.youtube.com/user/ProjectBenYehuda/videos?flow=grid&view=0"><i class="fa fa-youtube-play" target="_new" style="padding-top:0.3rem;"></i> <%= t(:to_the_youtube_channel) %></a></div>
    <div class="welcome-small-link"><a href="http://benyehuda.org/blog/"><i class="fa fa-pencil-square-o" style="padding-top:0.3rem;" target="_new"></i> <%= t(:the_blog) %></a></div>
    <div class="welcome-small-link">
      <%= render partial: 'shared/share', locals: {element: :footer} %>
    </div>
        <div class="footer-small-link"><a href="http://benyehuda.org/blog/%D7%A8%D7%95%D7%A6%D7%99%D7%9D-%D7%9C%D7%A2%D7%96%D7%95%D7%A8"><i class="fa fa-handshake-o" style="padding-top:0.3rem;"></i> <%= t(:how_to_help) %></a></div>
    <div class="welcome-small-link"><a href="http://benyehuda.org/blog/%D7%AA%D7%9E%D7%99%D7%9B%D7%94-%D7%9B%D7%A1%D7%A4%D7%99%D7%AA-%D7%91%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%91%D7%9F-%D7%99%D7%94%D7%95%D7%93%D7%94"><span class="icon-bydonate" style="padding-top:0rem;"></span> <%= t(:donate_money) %></a></div>
  </div>

  </div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <!-- footer end -->

<% end %>
</body>
</html>
