<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : t(:default_page_title)%></title>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4865013-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-4865013-2');
    </script>
  <% end %>
  <!-- bootstrap 4.x -->
  <link
  rel="stylesheet"
  href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
  integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
  crossorigin="anonymous">

  <link href="/assets/fonts.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!-- bootstrap 4.x -->
  <!-- Latest compiled and minified JavaScript -->

  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.bundle.min.js"
    integrity="sha384-K/wjzuoV8a4rD2q1L2clnXIYLNmQiFganXCXSzSWUpFGF04s38f9vwnQFj2NUhDy"
    crossorigin="anonymous">
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @og_image.nil? %>
    <meta property="og:image" content="https://benyehuda.org/assets/by_square_ogimg.jpg">
  <% else %>
    <meta property="og:image" content="<%= @og_image %>">
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body dir="rtl" style="position:relative;">
<% unless @print %>
  <% unless @readmode %>
  <!-- top logo area -->
  <header>
    <div class="container-fluid" id="header">
      <div class="container-fluid" id="header-general">
        <% unless sitenotice.empty? or session[:dismissed_sitenotice] %>
          <div class="internal-notification">
            <div class="internal-notification-content">
              <!-- <div class="notification-pic"><img src="images/system-notification-sample-pic.png" width="200" height="40" alt=""/></div> -->
              <div><p><%= raw sitenotice %></p>
              </div>
            </div>
            <span class="popup-x-v02 pointer" id="dismiss_sitenotice">-</span>
          </div>
        <% end %>
        <div class="row">
          <div class="col-6 col-lg-4" style="z-index: 99;">
            <a href="/">
              <div title="<%= t(:back_to_homepage) %>"><img class="logoBY-v02" src="/assets/BYP_logo.svg" alt="<%= t(:logo_alt) %>"/> </div>
              <div class="logoBY-scroll-mobile-v02"><img class="scrolled-logoBY-v02" alt="<%= t(:logo_alt) %>"/></div>
            </a>
          </div>
          <div class="col-6 col-lg-4">
            <% if @ltr.nil? %>
              <div class="statistics-box-v02">
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(Manifestation.cached_count.to_s, all_works_path) %>
                  </div>
                  <div class="stat-small-v02"><%= t(:works) %></div>
                </div>
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(Authority.cached_count.to_s, authors_path) %>
                  </div>
                  <div class="stat-small-v02"><%= t(:authors_neutral) %></div>
                </div>
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(get_total_headwords.to_s, manifestation_genre_path(genre: 'lexicon'))%>
                  </div>
                  <div class="stat-small-v02"><%= t(:dictionary_entries) %></div>
                </div>
              </div>
            <% else %>
              <div class="statistics-box-v02">
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(get_total_headwords.to_s, manifestation_genre_path(genre: 'lexicon'))%>
                  </div>
                  <div class="stat-small-v02"><%= t(:dictionary_entries_en) %></div>
                </div>
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(Authority.cached_count.to_s, authors_path) %>
                  </div>
                  <div class="stat-small-v02"><%= t(:authors_neutral_en) %></div>
                </div>
                <div class="statistics-v02">
                  <div class="stat-big-v02">
                    <%= link_to(Manifestation.cached_count.to_s, all_works_path) %>
                  </div>
                  <div class="stat-small-v02"><%= t(:works_en) %></div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4">
            <div class="top-btn-group-v02">
              <div class="icons-group-v02">
                <a class="by-icon-v02" href="<%= t(:facebook_url) %>" title="<%= t(:to_facebook_tt) %>">S</a>
                <a class="by-icon-v02" href="<%= t(:youtube_url) %>" title="<%= t(:to_youtube_tt) %>">W</a>
                <a class="by-icon-v02" href="<%= t(:blog_url) %>" title="<%= t(:to_blog_tt) %>">~</a>
                <%= render partial: 'shared/share', locals: {element: :header_button} %>
                <a class="linkcolor by-icon-v02 pointer contact_btn" href="mailto:editor@benyehuda.org" title="<%= t(:contact_tt) %>">R</a>
                <div class="icons-seperator"></div>
                <% if current_user %>
                  <div class="collapsed" data-toggle="collapse" data-target="#user_collapsible" style="display:inline-block;" title="<%= t(:usermenu_tt) %>">
                    <div style="padding-left: 0.6rem"><%= t(:welcome_heading) %> <strong><%= current_user.name %></strong>!</div>
                    <div class="dropdown-arrow pointer" style="top: 0.1rem; left: 0"><i class="fa chevron"></i></div>
                  </div>
                  <div id="user_collapsible" class="collapse"><span id="sign_in" class="linkcolor pointer notyet">כניסה לאזור האישי</span><br/>
                    <%= link_to t(:sign_out), signout_path, id: "sign_out" %>
                  </div>
                  <% if current_user.editor? %>
                    <br />
                    <%= link_to t(:back_to_dashboard), admin_index_path %>
                  <% end %>
                <% else %>
                  <a href="/session/login" id="sign_in"><button class="btn-small-outline-v02"><div class="btn-text-v02"><%= t(:sign_in) %></div></button></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: 'shared/tabs' %>
        <% unless @print
          flash.each do |name, msg| -%>
            <%= content_tag :div, msg.html_safe, class: name %>
        <% end -%>
      <% end -%>
    
      </div>
      <div class="header-separator"></div>
      <% unless @header_partial.nil? %>
        <%= render partial: @header_partial %>
      <% end %>

    </div>
  
  </header>
  <% end -%>
<% end %>
<main>
<div class="container-fluid top-element" id="content">
<%= render partial: 'shared/donation_banner' %>
<%= yield %>
</div>
</main>
<% unless @readmode %>
  <!-- footer start -->
  <footer>
    <% if @print %>
      <%= t(:download_footer_html, url: @footer_url) %>
    <% else %>
      <% if current_user %>
        <% if current_user.editor? %>
          <br />
          <h2><%= link_to t(:back_to_dashboard), admin_index_path %></h2>
        <% end %>
      <% end %>
      <% unless @pagetype == :homepage %>
        <%= link_to t(:back_to_homepage), "/" %>
      <% end %>
      <p></p>

      <div id="bottom-bar" class="container-fluid">
        <div class="container-fluid" id="footer">
          <div class="row">
            <div class="col-12">
              <div class="footer-text-v02"><span style="font-weight: bold">פרויקט בן־יהודה</span> הוא מיזם התנדבותי ליצירת מהדורות אלקטרוניות של ספרות עברית והנגשתן לציבור.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer-nav-v02">
                <a href="/page/about"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">M</span><%= t(:about) %></div>&rlm;</a>
                <a href="<%= t(:facebook_url) %>"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">S</span><%= t(:to_the_facebook_page) %></div></a>
                <a href="<%= t(:youtube_url) %>"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">W</span><%= t(:to_the_youtube_channel) %></div></a>
                <a href="<%= t(:blog_url) %>"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">~</span><%= t(:the_blog) %></div></a>
                <%= render partial: 'shared/share', locals: {element: :footer} %>
                <a href="/page/volunteer"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">V</span><%= t(:how_to_help) %></div></a>
                <a class="donev" id="donev_footer" href="/page/donate"><div class="by-footer-nav-item-v02"><span class="by-icon-v02 footer-nav-icon-v02">z</span><%= t(:donate_money) %></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </footer>
<% end %>
<input type="hidden" name="downloadable_id" id="downloadable_id" />
<div class="modal" id="shareDlg", aria-hidden = "true", role="dialog", title="<%= t(:choose_sharing_medium) %>">
  <%= render partial: 'shared/share_controls' %>
</div>
<div class="modal" id="contactDlg", aria-hidden = "true", role="dialog", title="<%= t(:contact_us) %>">
</div>
<div class="modal" id="generalDlg", aria-hidden = "true", role="dialog" %>">
</div>
<script>
  $(document).ready(function() {
    <% unless @readmode %>
      var header = $("header");
      var body = $('body');

      $(window).scroll(function() {
          var scroll = $(window).scrollTop();
          if (scroll >= 100) {
              header.addClass("scrolled");
              body.addClass("scrolled");
          } else if(scroll <= 70) {
              header.removeClass("scrolled");
              body.removeClass("scrolled");
          }
      });
    <% end %>
    $('.notyet').click(function(e){
      e.stopPropagation();
      alert('<%= t(:not_implemented_yet) %>');
    });
    $('.must_login').click(function(e){
      <% unless current_user %>
        e.stopPropagation();
        alert('<%= t(:must_login_for_this) %>');
      <% end %>
    });
    $('[data-toggle="popover"]').popover();
    //$('[data-toggle="tooltip"]').tooltip();
    $('body').tooltip();
    // adjust page to accommodate extra header height
    var h = $('#header').height();
    $('.top-element').css('margin-top',h+25);
    <% unless @scrollspy_target.nil? %>
    $('body').scrollspy({ target: "#<%= @scrollspy_target %>", offset: $('#header').height() });
    <% end %>
    if($('#dismiss_sitenotice').length > 0) {
      $('#dismiss_sitenotice').click(function(){
        $('.internal-notification').hide();
        $.get('<%= session_dismiss_sitenotice_path %>');
      });
    }
    $('.donev').click(function(e) {
      e.stopPropagation();
      if($('#dont_show_again').length > 0) {
        if($('#dont_show_again').is(':checked')) {
          $.ajax( { url: "<%= preference_url(:suppress_donation_banner) %>", method: 'PUT', data: { value: 'true' } });
        }
      }
      ahoy.track($(this).attr('id'), {language: "JavaScript"});
    });

    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27 && $('body').attr('anth-open') != 'true') {
        $('.modal').modal('hide'); // hide all modals on ESC
      }
    });
  });
</script>

</body>
</html>
