<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : t(:default_page_title)%></title>
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <%= csrf_meta_tags %>

</head>
<body dir="rtl" align="right">
    <% unless @print
       flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>
    <% end -%>
<% unless @print %>
<div class="container-fluid">
  <div class="topbar">
    <div class="notifications">
      <%= sitenotice %>
    </div>
    <div class="top-nav">
    <div class="row" style="margin-left:0; margin-right:0">
    <!-- until we switch to an RTL bootstrap, reverse the order here -->
    <div class="col-sm-4" id="user-widget">
      <% if current_user %>
        <%= t(:welcome) %> <strong><%= current_user.name %></strong>!
        <%= link_to t(:sign_out), signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to t(:sign_in_google_twitter), "/session/login", id: "sign_in" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= render partial: 'shared/breadcrumbs' %>
    </div>
  </div>
  </div>
  <div class="row" style="margin-left:0; margin-right:0">
    <div class="col-sm-4" id="english" align="left">
      <a href="http://benyehuda.org/e_faq.html">English</a>
    </div>
    <div class="col-sm-4" id="font-size-selector" align="center">
      <%= render partial: 'shared/fontsize' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" id="search-bar" align="left">
      <input class="search-field" type="text" placeholder="<%= t(:search_placeholder) %>"/>
      <span class="glyphicon glyphicon-search"></span>
      <%= link_to t(:advanced_search), :controller => :search %>
    </div>
    <div class="col-sm-4" id="blank-space">
    </div>
    <div class="col-sm-4" id="site-logo" align="right">
      <span class="glyphicon glyphicon-wrench"></span> (logo goes here) <span class="glyphicon glyphicon-wrench"></span>
    </div>
  </div>
</div>
<% end %>
<%= yield %>
<% if @print %>
  <%= t(:download_footer_html, url: url_for(action: :read, only_path:false, id: @m.id)) %>
<% else %>
  <hr/>
  <% if current_user %>
    <%= link_to t(:back_to_dashboard), "/" %>
  <% end %>
  <p/>
  <div class="footer">
    <b>פרויקט בן-יהודה</b> הוא מיזם התנדבותי ובמסגרתו פועלים מאות מתנדבים ליצירת מהדורות אלקטרוניות של ספרות עברית, והנגשתן לציבור, בחינם וללא פרסומות.<BR />
    <B><A HREF="http://benyehuda.org/h_faq.html">שאלות נפוצות</A> · <A HREF="http://benyehuda.org/blog/%D7%A8%D7%95%D7%A6%D7%99%D7%9D-%D7%9C%D7%A2%D7%96%D7%95%D7%A8">מעוניינים להצטרף?</A></B>
  </div>
<% end %>
</body>
</html>
