<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : t(:default_page_title)%></title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4865013-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4865013-2');
  </script>


  <!-- LTR Bootstrap the site was initially implemented with -->
  <!-- bootstrap 3.x - Bootstrap RTL from CDN (Bootstrap 4.0 *still* has no RTL...)

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css">
  -->
  <!-- bootstrap 4.x -->
  <link
  rel="stylesheet"
  href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
  integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
  crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"> -->

    <link href="/assets/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">

  <%= stylesheet_link_tag    "application" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <%= javascript_include_tag "application" %>
  <!-- Latest compiled and minified JavaScript -->
  <!-- bootstrap 3.x -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <!-- bootstrap 4.x -->
  <!-- Latest compiled and minified JavaScript -->
<script
  src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
  integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
  crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% unless @og_image.nil? %>
    <meta property="og:image" content="<%= @og_image %>">
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body dir="rtl" align="right">
<% unless @print
    flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "top-element #{name}" %>
  <% end -%>
<% end -%>
<% unless @print %>
  <% unless @readmode %>
  <!-- top logo area -->
  <header>
    <div class="container-fluid" id="top-bar">
      <div class="container-fluid" id="header">
        <div class="row">
          <div class="col-6 col-lg-4" style="padding-left: 6px;">
            <a href="/"><div class="logoBY-v02"><img src="/assets/logo-byp-mobile.svg" alt="<% t(:logo) %>"/> </div></a>
          </div>
          <div class="col-6 col-lg-4" style="padding-right: 4px;">
            <% unless sitenotice.empty? %>
              <div class="announcement card text-on-dark">
                <p><%= sitenotice %></p>
              </div>
            <% end %>

            <div class="statistics-box-v02">
              <div class="row">
                <div class="col-5 statistics-v02">
                  <div class="stat-big-v02"><%= link_to(Manifestation.cached_count.to_s, works_path) %></div>
                  <div class="stat-small-v02"><%= t(:works) %></div>
                </div>
                <div class="col-2 statistics-v02">
                  <div class="stat-big-v02"><%= link_to(Person.cached_toc_count.to_s, authors_index_path) %></div>
                  <div class="stat-small-v02"><%= t(:authors) %></div>
                </div>
                <div class="col-5 statistics-v02">
                  <div class="stat-big-v02"><%= link_to(get_total_headwords.to_s, 'https://benyehuda.org/~asaf/full_dict.html')%></div>
                  <div class="stat-small-v02"><%= t(:dictionary_entries) %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="top-btn-group-v02">
              <div class="icons-group-v02">
                <a href="<%= t(:facebook_url) %>"><div class="icon-in-group-v02"><span class="by-icon-v02">S</span></div></a>
                <a href="<%= t(:youtube_url) %>"><div class="icon-in-group-v02"><span class="by-icon-v02">W</span></div></a>
                <a href="<%= t(:blog_url) %>"><div class="icon-in-group-v02"><span class="by-icon-v02">Q</span></div></a>
                <%= render partial: 'shared/share', locals: {element: :header_button} %>
                <a href="mailto:editor@benyehuda.org"><div class="icon-in-group-v02"><span class="by-icon-v02">R</span></div></a>
                <div class="icons-seperator"></div>
                <% if current_user %>
                  <div class="collapsed" data-toggle="collapse" data-target="#user_collapsible">
                    <p style="padding-left: 1.6rem"><%= t(:welcome) %> <strong><%= current_user.name %></strong>!</p>
                    <div class="dropdown-arrow linky" style="top: 0.1rem; left: 0"><i class="fa chevron"></i></div>
                  </div>
                  <div id="user_collapsible" class="collapse" ><a id="sign_in" href="#">כניסה לאזור האישי</a><br/>
                    <%= link_to t(:sign_out), signout_path, id: "sign_out" %>
                  </div>
                  <% if current_user.editor? %>
                    <div class="dashboard-link">
                    <br />
                    <h2><%= link_to t(:back_to_dashboard), url_for(controller: :admin, action: :index) %></h2>
                    </div>
                  <% end %>
                <% else %>
                  <a href="/session/login" id="sign_in"><button class="btn-small-outline-v02"><div class="btn-text-v02"><%= t(:sign_in) %></div></button></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: 'shared/tabs' %>
      </div>
    </div>
  </header>
  <% end -%>
<% end %>
<main>
<%= yield %>
</main>
<!-- footer start -->
<footer>
<% if @print %>
  <%= t(:download_footer_html, url: url_for(action: :read, only_path:false, id: @m.id)) %>
<% else %>
  <% if current_user %>
    <% if current_user.editor? %>
      <br />
      <h2><%= link_to t(:back_to_dashboard), url_for(controller: :admin, action: :index) %></h2>
    <% end %>
  <% end %>
  <% unless @pagetype == :homepage %>
    <%= link_to t(:back_to_homepage), "/" %>
  <% end %>
  <p></p>
  <%= render partial: 'shared/fontsize_js' %>

<div id="bottom-bar" class="container-fluid">
  <div class="container-fluid" id="footer">
    <div class="row">
      <div class="col-12">
        <div class="footer-text-v02"><span style="font-weight: bold">פרויקט בן-יהודה</span> הוא מיזם התנדבותי ליצירת מהדורות אלקטרוניות של ספרות עברית והנגשתן לציבור.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-nav-v02">
          <div class="by-footer-nav-item-v02"><a href="/page/about"><span class="by-icon-v02 footer-nav-icon-v02">M</span><%= t(:about) %></a>&rlm;</div>
          <div class="by-footer-nav-item-v02"><a href="<%= t(:facebook_url) %>"><span class="by-icon-v02 footer-nav-icon-v02">S</span><%= t(:to_the_facebook_page) %></a></div>
          <div class="by-footer-nav-item-v02"><a href="<%= t(:youtube_url) %>"><span class="by-icon-v02 footer-nav-icon-v02">W</span><%= t(:to_the_youtube_channel) %></a></div>
          <div class="by-footer-nav-item-v02"><a href="<%= t(:blog_url) %>"><span class="by-icon-v02 footer-nav-icon-v02">Q</span><%= t(:the_blog) %></a></div>
          <%= render partial: 'shared/share', locals: {element: :footer} %>
          <div class="by-footer-nav-item-v02"><a href="/page/volunteer"><span class="by-icon-v02 footer-nav-icon-v02">V</span><%= t(:how_to_help) %></a></div>
          <div class="by-footer-nav-item-v02"><a href="/page/donate"><span class="by-icon-v02 footer-nav-icon-v02">z</span><%= t(:donate_money) %></a></div>
        </div>
      </div>
  	</div>
  </div>
</div>
</footer>

<% end %>
<script>
  $(document).ready(function() {
    var header = $("#top-bar");

    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 100) {
            header.addClass("scrolled");
        } else {
            header.removeClass("scrolled");
        }
    });
  });
</script>

</body>
</html>
