<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : t(:default_page_title)%></title>
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
<script src="https://use.fontawesome.com/3f861a49f5.js"></script>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body dir="rtl" align="right">
    <% unless @print
       flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>
    <% end -%>
<% unless @print %>
  <div class="container-fluid topbar">
    <div class="container top-nav">
      <div class="row">
        <div class="col-sm-8 text-on-dark" id="notifications">
          <p><%= sitenotice %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-on-dark" id="user-widget">
          <% if current_user %>
            <%= t(:welcome) %> <strong><%= current_user.name %></strong>!
            <%= link_to t(:sign_out), signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to t(:sign_in_google_twitter), "/session/login", id: "sign_in" %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= render partial: 'shared/breadcrumbs' %>
        </div>
      </div>
    </div>
  </div>
  <% unless @readmode %>
  <!-- top logo area -->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="search-bar">
          <input class="field search-field" placeholder="<%= t(:search_placeholder) %>" type="search"> <span class="search-icon"><i class="fa fa-search"></i></span>
          <span class="glyphicon glyphicon-search"></span>
          <!-- < %= link_to t(:advanced_search), :controller => :search %> -->
        </div>
        <div class="col-sm-8 blank-space">
          <div class="row">
            <div class="col-xs-6 col-md-7 blank-space"></div>
            <div class="col-xs-6 col-md-5" id="site-logo">
              <a href="/"><img alt="לוגו" class="img-responsive" src="assets/BY_Logo.svg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
<%= yield %>
<% if @print %>
  <%= t(:download_footer_html, url: url_for(action: :read, only_path:false, id: @m.id)) %>
<% else %>
  <hr/>
  <% unless @pagetype == :homepage %>
    <%= link_to t(:back_to_homepage), "/" %>
  <% end %>
  <% if current_user %>
    <% if current_user.editor? %>
      <br />
      <%= link_to t(:back_to_dashboard), url_for(controller: :admin, action: :index) %>
    <% end %>
  <% end %>
  <p/>
  <!-- footer start -->
  <div class="container-fluid" id="byfooter">
    <div class="container" id="bottom-nav">
      <div class="row">
        <div class="col-sm-4 text-on-dark" id="bottom-contribute">
          <p><B><A HREF="http://benyehuda.org/h_faq.html">שאלות נפוצות</A> · <A HREF="http://benyehuda.org/blog/%D7%A8%D7%95%D7%A6%D7%99%D7%9D-%D7%9C%D7%A2%D7%96%D7%95%D7%A8">מעוניינים להצטרף?</A></B>
          </p>
        </div>
        <div class="col-sm-8 text-on-dark" id="bottom-about">
          <p><b>פרויקט בן-יהודה</b> הוא מיזם התנדבותי ליצירת מהדורות אלקטרוניות של ספרות עברית והנגשתן לציבור.</p>
        </div>
      </div>
    </div>
  </div><!-- footer end -->

<% end %>
</body>
</html>
