!!!
%html{ dir: :rtl, lang: :he }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title= @page_title || t(:default_page_title)

    %link{ crossorigin: :anonymous,
           href: 'https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css',
           integrity: 'sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If',
           rel: :stylesheet }
    %link{ href: 'https://fonts.googleapis.com/css?family=Alef', rel: 'stylesheet' }

    = stylesheet_link_tag 'lexicon_backend'
    = javascript_include_tag 'lexicon_backend'
    %script{ src: 'https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.bundle.min.js',
             integrity: 'sha384-K/wjzuoV8a4rD2q1L2clnXIYLNmQiFganXCXSzSWUpFGF04s38f9vwnQFj2NUhDy',
             crossorigin: :anonymous }
    = csrf_meta_tags
  %body
    %header.container-fluid
      - flash.each do |name, msg|
        .alert.alert-dismissable{ class: %w(error alert).include?(name) ? 'alert-danger' : 'alert-success' }
          %button.close{ type: :button, data: { dismiss: :alert } } &times;
          = msg

      %nav.navbar-expand-md.navbar-light.bg-light
        %a.navbar-brand{ href: lexicon_root_path } Lexicon
        %button.navbar-toggler{ type: :button,
                                data: { toggle: :collapse, target: '#navbarNavAltMarkup' },
                                aria: { controls: 'navbarNavAltMarkup', expanded: false, label: 'Toggle navigation' } }
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavAltMarkup
          .navbar-nav
            %a.nav-link{ class: (:active if controller_name == 'entries' && action_name == 'index'),
                         href: lexicon_entries_path } Entries
            %a.nav-link{ class: (:active if controller_name == 'files' && action_name == 'index'),
                         href: lexicon_files_path } Files
    %main.container-fluid
      = yield
      .modal#generalDlg
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title
              %button.close{ type: :button, data: { dismiss: :modal }, aria: { label: t(:close) } }
                %span{ aria: { hidden: true } } &times;
            .modal-body#generalDlgBody
    %footer.container-fluid
